MyRaiServiceInterface/Service References/MyRaiServiceReference1/MyRaiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/myRaiService" />
  <xs:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/myRaiService.classi" />
  <xs:element name="SalvaGiornoInizioSettimanaSede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codiceSedeGapp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giornoInizio" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaGiornoInizioSettimanaSedeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SalvaGiornoInizioSettimanaSedeResult" nillable="true" type="q1:NuovaSedeGappSettimana" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisualizzazioneGiornata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visualizzato" type="xs:boolean" />
        <xs:element minOccurs="0" name="matricolaVisualizzatore" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="utenteVisualizzatore" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataRichiesta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idRichiesta" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisualizzazioneGiornataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SetVisualizzazioneGiornataResult" nillable="true" type="q2:VisualizzazioneGiornataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciNotaRichiesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nomeUtente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nota" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giornata" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sedeGapp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinatario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoMittente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciNotaRichiestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="InserisciNotaRichiestaResult" nillable="true" type="q3:InserisciNotaRichiestaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaNotaRichiesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNota" type="xs:int" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nota" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoMittente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaNotaRichiestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="ModificaNotaRichiestaResult" nillable="true" type="q4:ModificaNotaRichiestaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaNotaRichiesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNota" type="xs:int" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaNotaRichiestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="EliminaNotaRichiestaResult" nillable="true" type="q5:EliminaNotaRichiestaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLettura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNota" type="xs:int" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nominativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="letta" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLetturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SetLetturaResult" nillable="true" type="q6:SetLetturaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotaRichiesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNota" type="xs:int" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotaRichiestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetNotaRichiestaResult" nillable="true" type="q7:GetNotaRichiestaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteRichieste">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giornata" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteRichiesteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetNoteRichiesteResult" nillable="true" type="q8:GetNoteRichiesteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteRichiestePerSedeGapp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sedi" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="destinatario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteRichiestePerSedeGappResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetNoteRichiestePerSedeGappResult" nillable="true" type="q10:GetNoteRichiesteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteRichiestePerSedeGappFiltrata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sedi" nillable="true" type="q11:ArrayOfstring" />
        <xs:element minOccurs="0" name="destinatario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="onlyNonLette" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteRichiestePerSedeGappFiltrataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetNoteRichiestePerSedeGappFiltrataResult" nillable="true" type="q12:GetNoteRichiesteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_POH_ROH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mese" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_POH_ROHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetReport_POH_ROHResult" nillable="true" type="q13:Report_POH_ROH_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLista_Eccezioni_Giornalisti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mese" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLista_Eccezioni_GiornalistiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetLista_Eccezioni_GiornalistiResult" nillable="true" type="q14:Report_EccezioniGiornalisti_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_STSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mese" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="inizioMese" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_STSEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetReport_STSEResult" nillable="true" type="q15:Report_STSE_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_STR_STRF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mese" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_STR_STRFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetReport_STR_STRFResult" nillable="true" type="q16:Report_STR_STRF_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_Reperibilita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mese" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_ReperibilitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetReport_ReperibilitaResult" nillable="true" type="q17:Report_Reperibilita_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_Carenza_MP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mese" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="inizioMese" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport_Carenza_MPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetReport_Carenza_MPResult" nillable="true" type="q18:Report_Carenza_MP_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoMensa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricolaCaller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giornata" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoMensaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetInfoMensaResult" nillable="true" type="q19:GetServizioMensaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuloDetassazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMatricolaCaller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricolaDestinatario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuloDetassazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetModuloDetassazioneResult" nillable="true" type="q20:GetModuloDetassazioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSceltaDetassazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMatricolaCaller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricolaDestinatario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="modulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scelta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSceltaDetassazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SetSceltaDetassazioneResult" nillable="true" type="q21:SetSceltaDetassazioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetModuloDetassazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMatricolaCaller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricolaDestinatario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicazione" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetModuloDetassazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="ResetModuloDetassazioneResult" nillable="true" type="q22:ResetModuloDetassazioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiorniConsecutivi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sedeGapp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPartenza" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiorniConsecutiviResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetGiorniConsecutiviResult" nillable="true" type="q23:ConteggioGiorniConsecutivi_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Version">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="VersionResult" nillable="true" type="q24:VersionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovatoriProduzione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovatoriProduzioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetApprovatoriProduzioneResult" nillable="true" type="q25:GetApprovatoriProduzioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApprovatoreProduzione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="item" nillable="true" type="q26:ApprovatoriProduzioneItem" />
        <xs:element minOccurs="0" name="checkIfExists" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApprovatoreProduzioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SetApprovatoreProduzioneResult" nillable="true" type="q27:SetApprovatoreProduzioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovatoriProduzioneByTitolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovatoriProduzioneByTitoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetApprovatoriProduzioneByTitoloResult" nillable="true" type="q28:GetApprovatoreProduzioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduzioniByApprovatore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricolaApprovatore" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduzioniByApprovatoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetProduzioniByApprovatoreResult" nillable="true" type="q29:GetApprovatoriProduzioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApprovatoreProduzione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="item" nillable="true" type="q30:ApprovatoriProduzioneItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApprovatoreProduzioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="DeleteApprovatoreProduzioneResult" nillable="true" type="q31:ServiceResponseBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContatoriEccezioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DataEnd" type="xs:dateTime" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eccezioni" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContatoriEccezioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetContatoriEccezioniResult" nillable="true" type="q33:GetContatoriEccezioniResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPianoFeriePDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPianoFeriePDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetPianoFeriePDFResult" nillable="true" type="q34:GetPianoFeriePDFResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPianoFerieAnno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="soloStato" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPianoFerieAnnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetPianoFerieAnnoResult" nillable="true" type="q35:GetPianoFerieAnnoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvvedimentiCause">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MatricolaChiamante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatricolaOggetto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvvedimentiCauseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetProvvedimentiCauseResult" nillable="true" type="q36:ProvvedimentiCauseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEccezioniComplessive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEccezioniComplessiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetEccezioniComplessiveResult" nillable="true" type="q37:GetEccezioniComplessiveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElencoVisualizzazioneGiornata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataDa" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataA" type="xs:dateTime" />
        <xs:element minOccurs="0" name="visualizzati" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElencoVisualizzazioneGiornataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetElencoVisualizzazioneGiornataResult" nillable="true" type="q38:VisualizzazioniGiornataResponse_Elenco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatoEccezioniGiornate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataDa" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataA" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatoEccezioniGiornateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetStatoEccezioniGiornateResult" nillable="true" type="q39:StatoEccezioniGiornateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFerie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFerieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetFerieResult" nillable="true" type="q40:GetFerieResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformazioniDipendente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soloValide" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformazioniDipendenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetInformazioniDipendenteResult" nillable="true" type="q41:GetInfoDipendenteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaSediGappSettimana">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="codiciSede" nillable="true" type="q42:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaSediGappSettimanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetListaSediGappSettimanaResult" nillable="true" type="q43:GetSettimanaSedi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteSegreteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteSegreteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetNoteSegreteriaResult" nillable="true" type="q44:NotaSegreteriaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteSegreteriaPerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteSegreteriaPerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetNoteSegreteriaPerDataResult" nillable="true" type="q45:NotaSegreteriaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codiceOrario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="options" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="livelloUtente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="getOrarioResult" nillable="true" type="q46:getOrarioResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRiepilogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SediGapp" nillable="true" type="q47:ArrayOfstring" />
        <xs:element minOccurs="0" name="DataInizio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DataFine" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="WorkFlow" nillable="true" type="q48:EnumWorkflowRichieste" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="Ricerca" nillable="true" type="q49:EnumTipoRicerca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRiepilogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetRiepilogoResult" nillable="true" type="q50:Riepilogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedaPresenzeMese">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dstart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dend" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedaPresenzeMeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetSchedaPresenzeMeseResult" nillable="true" type="q51:GetSchedaPresenzeMeseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSituazioneDebitoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricolaRichiedente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricolaRichiesta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSituazioneDebitoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetSituazioneDebitoriaResult" nillable="true" type="q52:SituazioneDebitoriaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ndoc" nillable="true" type="q53:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetStorniResult" nillable="true" type="q54:ArrayOfDatiStorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimbratureMese">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dstart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dend" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimbratureMeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetTimbratureMeseResult" nillable="true" type="q55:GetTimbratureMeseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipiInfoDipendente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipiInfoDipendenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetTipiInfoDipendenteResult" nillable="true" type="q56:GetTipologieInfoDipendenteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrasferte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricolaRichiedente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrasferteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetTrasferteResult" nillable="true" type="q57:TrasferteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizzazioneGiornata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="visualizzato" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizzazioneGiornataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetVisualizzazioneGiornataResult" nillable="true" type="q58:VisualizzazioneGiornataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciNotaSegreteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dalle" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="alle" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nota" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciNotaSegreteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="InserisciNotaSegreteriaResult" nillable="true" type="q59:InserisciNotaSegreteriaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="presenzeGiornaliere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sedegapp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="presenzeGiornaliereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="presenzeGiornaliereResult" type="q60:wApiUtility.presenzeGiornaliere_resp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PresenzeSettimanali">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataDa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PresenzeSettimanaliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="PresenzeSettimanaliResult" type="q61:wApiUtility.presenzeSettimanali_resp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperaPdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sedeGapp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperaPdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/myRaiService.classi" minOccurs="0" name="recuperaPdfResult" nillable="true" type="q62:RecuperaPdfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperaUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperaUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="recuperaUtenteResult" type="q63:wApiUtility.dipendente_resp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigeneraPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dstart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dend" type="xs:dateTime" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nominativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sedeGapp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="livelloUtente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigeneraPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="RigeneraPDFResult" nillable="true" type="q64:RigeneraPdfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigeneraPDFpresenze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dstart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dend" type="xs:dateTime" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nominativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sedeGapp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="livelloUtente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigeneraPDFpresenzeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="RigeneraPDFpresenzeResult" nillable="true" type="q65:RigeneraPdfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RimuoviNotaSegreteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RimuoviNotaSegreteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="RimuoviNotaSegreteriaResult" nillable="true" type="q66:RimuoviNotaSegreteriaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodiceFiscaleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricolaOperatore" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodiceFiscaleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetCodiceFiscaleInfoResult" nillable="true" type="q67:CodiceFiscaleReponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPagamentoEccezione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricolaOperatore" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataEccezione" type="xs:dateTime" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataPagamento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="eccezione" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numdoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPagamentoEccezioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SetPagamentoEccezioneResult" nillable="true" type="q68:SetPagamentoEccezioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatoEccezione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricolaOperatore" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="D" type="xs:dateTime" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numdoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eccezione" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatoEccezioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SetStatoEccezioneResult" nillable="true" type="q69:SetStatoEccezioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuoli">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipologia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuoliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetRuoliResult" nillable="true" type="q70:GetRuoliResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheResoconti">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SediData" nillable="true" type="q71:ArrayOfSedeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheResocontiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="ClearCacheResocontiResult" nillable="true" type="q72:ResocontiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRipianificazioniMatricola">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataInizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DataFine" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRipianificazioniMatricolaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetRipianificazioniMatricolaResult" nillable="true" type="q73:GetRipianificazioniMatricolaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriodiSW">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriodiSWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetPeriodiSWResult" nillable="true" type="q74:ArrayOfPeriodoSW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviaPianoFerie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricolaDipendente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="sedegapp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rep" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricolaOperatore" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notaSegreteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviaPianoFerieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="InviaPianoFerieResult" nillable="true" type="q75:InviaPianoFerieResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRuolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataMese" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sede" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRuoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SetRuoloResult" nillable="true" type="q76:SetRuoloResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiCreaResoconti">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SediData" nillable="true" type="q77:ArrayOfSedeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiCreaResocontiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="RiCreaResocontiResult" nillable="true" type="q78:ResocontiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRipianificazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SediGapp" nillable="true" type="q79:ArrayOfstring" />
        <xs:element minOccurs="0" name="DataInizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DataFine" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRipianificazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetRipianificazioniResult" nillable="true" type="q80:GetRipianificazioniResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEccezioniRicalcolate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEccezioniRicalcolateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEccezioniRicalcolateResult" nillable="true" type="q81:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SbloccaEccezione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MatricolaSegreteria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatricolaDipendente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Eccezione" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SbloccaEccezioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="SbloccaEccezioneResult" nillable="true" type="q82:SbloccaEccezioniResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornaNotaSegreteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dalle" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="alle" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nota" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornaNotaSegreteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="AggiornaNotaSegreteriaResult" nillable="true" type="q83:AggiornaNotaSegreteriaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllineaGiornata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllineaGiornataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="AllineaGiornataResult" nillable="true" type="q84:AllineaGiornataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiaInformazioniDipendente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valoreInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInizioValidita" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFineValidita" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idTipoInformazione" type="xs:int" />
        <xs:element minOccurs="0" name="noteInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiaInformazioniDipendenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="cambiaInformazioniDipendenteResult" nillable="true" type="q85:CambiaInfoDipendenteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiaStato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRichiesta" type="xs:int" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="stato" type="q86:EnumStatiRichiesta" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nota" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiaStatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="CambiaStatoResult" nillable="true" type="q87:CambiaStatoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComunicaCICS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComunicaCICSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComunicaCICSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creaNuovaInfoDipendente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipoInfoDipendente" type="xs:int" />
        <xs:element minOccurs="0" name="valoreInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInizioValidita" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFineValidita" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="noteInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creaNuovaInfoDipendenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="creaNuovaInfoDipendenteResult" nillable="true" type="q88:NuoveInfoDipendenteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creaNuovaTipologiaInfoDipendente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomeTipologia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInizioValidita" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFineValidita" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="noteTipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoValore" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creaNuovaTipologiaInfoDipendenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="creaNuovaTipologiaInfoDipendenteResult" nillable="true" type="q89:NuovaTipologiaInfoDipendente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaInfoDipendente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipologiaInformazione" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaInfoDipendenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="EliminaInfoDipendenteResult" nillable="true" type="q90:EliminaInfoDipendenteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalisiEccezioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DataEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="eccezione1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eccezione2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eccezione3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalisiEccezioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetAnalisiEccezioniResult" nillable="true" type="q91:GetAnalisiEccezioniResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalisiEccezioni2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DataEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="eccezione1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eccezione2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eccezione3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalisiEccezioni2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetAnalisiEccezioni2Result" nillable="true" type="q92:GetAnalisiEccezioniResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDettagli">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SediGapp" nillable="true" type="q93:ArrayOfstring" />
        <xs:element minOccurs="0" name="DataInizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DataFine" type="xs:dateTime" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="WorkFlow" type="q94:EnumWorkflowRichieste" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="stato" type="q95:EnumStatiRichiesta" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="Ricerca" nillable="true" type="q96:EnumTipoRicerca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDettagliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetDettagliResult" nillable="true" type="q97:ArrayOfDettaglioRichiesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDettagliGiornata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDettagliGiornataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetDettagliGiornataResult" nillable="true" type="q98:DettaglioGiornataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDipendentiPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sedegapp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DataEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDipendentiPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="getDipendentiPeriodoResult" nillable="true" type="q99:GetDipendentiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoEccezione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdDocumento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoEccezioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetDocumentoEccezioneResult" nillable="true" type="q100:GetDocumentoEccezioneResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEccezioniAmmesse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEccezioniAmmesseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/myRaiService" minOccurs="0" name="GetEccezioniAmmesseResult" nillable="true" type="q101:GetEccezioniAmmesseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>