MyRaiServiceInterface/Service References/MyRaiServiceReference1/MyRaiService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/myRaiData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/myRaiData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MyRai_Note_Richieste">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCreazione" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataGiornata" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataLettura" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataUltimaModifica" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescrizioneMittente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescrizioneVisualizzatore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Messaggio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mittente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SedeGapp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visualizzatore" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyRai_Note_Richieste" nillable="true" type="tns:MyRai_Note_Richieste" />
  <xs:complexType name="ArrayOfMyRai_Note_Richieste">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyRai_Note_Richieste" nillable="true" type="tns:MyRai_Note_Richieste" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyRai_Note_Richieste" nillable="true" type="tns:ArrayOfMyRai_Note_Richieste" />
  <xs:complexType name="MyRai_PianoFerieDefinizioni">
    <xs:sequence>
      <xs:element minOccurs="0" name="anno" type="xs:int" />
      <xs:element minOccurs="0" name="data_apertura" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_arretrati_soglia1" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_arretrati_soglia2" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_chiusura" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="percentuale_arretrati" type="xs:double" />
      <xs:element minOccurs="0" name="percentuale_entro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="percentuale_spettanza" type="xs:double" />
      <xs:element minOccurs="0" name="percentuale_su_totale" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyRai_PianoFerieDefinizioni" nillable="true" type="tns:MyRai_PianoFerieDefinizioni" />
  <xs:complexType name="ArrayOfMyRai_PianoFerieGiorni">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyRai_PianoFerieGiorni" nillable="true" type="tns:MyRai_PianoFerieGiorni" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyRai_PianoFerieGiorni" nillable="true" type="tns:ArrayOfMyRai_PianoFerieGiorni" />
  <xs:complexType name="MyRai_PianoFerieGiorni">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_inserimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="eccezione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="matricola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nota_data" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nota_matricola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nota_responsabile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provenienza" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyRai_PianoFerieGiorni" nillable="true" type="tns:MyRai_PianoFerieGiorni" />
  <xs:complexType name="ArrayOfMyRai_PianoFerieSedi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyRai_PianoFerieSedi" nillable="true" type="tns:MyRai_PianoFerieSedi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyRai_PianoFerieSedi" nillable="true" type="tns:ArrayOfMyRai_PianoFerieSedi" />
  <xs:complexType name="MyRai_PianoFerieSedi">
    <xs:sequence>
      <xs:element minOccurs="0" name="anno" type="xs:int" />
      <xs:element minOccurs="0" name="data_approvata" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_firma" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_storno_approvazione" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="desc_reparto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_sede" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="ip_firma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matricola_approvatore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matricola_firma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matricola_storno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matricole_incluse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nota_sedegapp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero_versione" type="xs:int" />
      <xs:element minOccurs="0" name="pdf" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="sedegapp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="useragent_firma" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyRai_PianoFerieSedi" nillable="true" type="tns:MyRai_PianoFerieSedi" />
  <xs:complexType name="ArrayOfL2D_ECCEZIONE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="L2D_ECCEZIONE" nillable="true" type="tns:L2D_ECCEZIONE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfL2D_ECCEZIONE" nillable="true" type="tns:ArrayOfL2D_ECCEZIONE" />
  <xs:complexType name="L2D_ECCEZIONE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data_Agg" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data_Elim" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data_Fine_Val" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data_Ins" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cod_aggregato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_cedo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_eccez_padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_eccezione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_fine_validita" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_inizio_val" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_inizio_validita" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="des_cod_cedo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_cod_eccez_padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_eccezione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descr_aggregato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flag_costo_hrdw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flag_eccez" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flag_macroassen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sky_eccezione" type="xs:int" />
      <xs:element minOccurs="0" name="unita_misura" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="L2D_ECCEZIONE" nillable="true" type="tns:L2D_ECCEZIONE" />
  <xs:complexType name="MyRai_Visualizzazione_Giornate_Da_Segreteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCreazione" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataRichiesta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataUltimoAccesso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdRichiesta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Matricola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatricolaVisualizzatore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UtenteVisualizzatore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visualizzato" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyRai_Visualizzazione_Giornate_Da_Segreteria" nillable="true" type="tns:MyRai_Visualizzazione_Giornate_Da_Segreteria" />
  <xs:complexType name="ArrayOfMyRai_Note_Da_Segreteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyRai_Note_Da_Segreteria" nillable="true" type="tns:MyRai_Note_Da_Segreteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyRai_Note_Da_Segreteria" nillable="true" type="tns:ArrayOfMyRai_Note_Da_Segreteria" />
  <xs:complexType name="MyRai_Note_Da_Segreteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alle" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dalle" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Matricola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyRai_Note_Da_Segreteria" nillable="true" type="tns:MyRai_Note_Da_Segreteria" />
  <xs:complexType name="L2D_ORARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data_Agg" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data_Elim" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data_Fine_Val" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data_Ins" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SediContabiliCTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cambio_turno_abilitato" type="xs:boolean" />
      <xs:element minOccurs="0" name="cod_orario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_fine_validita" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_inizio_val" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="data_inizio_validita" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="desc_orario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="entrata_iniziale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fine_teorico_intervallo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hh_entrata_48" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hh_uscita_48" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hhmm_entrata_48" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hhmm_uscita_48" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inizio_teorico_intervallo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intervallo_mensa" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="prevista_presenza" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sky_orario" type="xs:int" />
      <xs:element minOccurs="0" name="uscita_iniziale" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="L2D_ORARIO" nillable="true" type="tns:L2D_ORARIO" />
</xs:schema>