MyRaiServiceInterface/Service References/MyRaiServiceReference1/MyRaiService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/myRaiService.classi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/myRaiService.classi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RecuperaPdfResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PdfList" nillable="true" type="tns:ArrayOfPdf" />
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esito" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecuperaPdfResponse" nillable="true" type="tns:RecuperaPdfResponse" />
  <xs:complexType name="ArrayOfPdf">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pdf" nillable="true" type="tns:Pdf" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPdf" nillable="true" type="tns:ArrayOfPdf" />
  <xs:complexType name="Pdf">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataDa" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="numero_versione" type="xs:int" />
      <xs:element minOccurs="0" name="stato_pdf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pdf" nillable="true" type="tns:Pdf" />
</xs:schema>