myRai/MyRaiWindowsService1/Web References/EsponiAnagrafica/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hrgb.rai.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hrgb.rai.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hrgb.rai.it/">
      <s:element name="EsponiAnagrafica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsponiAnagraficaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EsponiAnagraficaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatiAnagrafica" type="tns:DatiAnagrafica" />
      <s:complexType name="DatiAnagrafica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="variabile1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="variabile2" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="EsponiElencoAnagrafica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodServizio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodSede" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsponiElencoAnagraficaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EsponiElencoAnagraficaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsponiDirezioni">
        <s:complexType />
      </s:element>
      <s:element name="EsponiDirezioniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EsponiDirezioniResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EsponiAnagraficaSoapIn">
    <wsdl:part name="parameters" element="tns:EsponiAnagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaSoapOut">
    <wsdl:part name="parameters" element="tns:EsponiAnagraficaResponse" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaDatiAnagrafica">
    <wsdl:part name="DatiAnagrafica" element="tns:DatiAnagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaSoapIn">
    <wsdl:part name="parameters" element="tns:EsponiElencoAnagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaSoapOut">
    <wsdl:part name="parameters" element="tns:EsponiElencoAnagraficaResponse" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaDatiAnagrafica">
    <wsdl:part name="DatiAnagrafica" element="tns:DatiAnagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniSoapIn">
    <wsdl:part name="parameters" element="tns:EsponiDirezioni" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniSoapOut">
    <wsdl:part name="parameters" element="tns:EsponiDirezioniResponse" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniDatiAnagrafica">
    <wsdl:part name="DatiAnagrafica" element="tns:DatiAnagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaHttpGetIn">
    <wsdl:part name="Codice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaHttpGetIn">
    <wsdl:part name="Codice" type="s:string" />
    <wsdl:part name="Nome" type="s:string" />
    <wsdl:part name="Cognome" type="s:string" />
    <wsdl:part name="CodServizio" type="s:string" />
    <wsdl:part name="CodSede" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniHttpGetIn" />
  <wsdl:message name="EsponiDirezioniHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaHttpPostIn">
    <wsdl:part name="Codice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaHttpPostIn">
    <wsdl:part name="Codice" type="s:string" />
    <wsdl:part name="Nome" type="s:string" />
    <wsdl:part name="Cognome" type="s:string" />
    <wsdl:part name="CodServizio" type="s:string" />
    <wsdl:part name="CodSede" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniHttpPostIn" />
  <wsdl:message name="EsponiDirezioniHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="EsponiAnagrafica">
      <wsdl:input message="tns:EsponiAnagraficaSoapIn" />
      <wsdl:output message="tns:EsponiAnagraficaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <wsdl:input message="tns:EsponiElencoAnagraficaSoapIn" />
      <wsdl:output message="tns:EsponiElencoAnagraficaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <wsdl:input message="tns:EsponiDirezioniSoapIn" />
      <wsdl:output message="tns:EsponiDirezioniSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="EsponiAnagrafica">
      <wsdl:input message="tns:EsponiAnagraficaHttpGetIn" />
      <wsdl:output message="tns:EsponiAnagraficaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <wsdl:input message="tns:EsponiElencoAnagraficaHttpGetIn" />
      <wsdl:output message="tns:EsponiElencoAnagraficaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <wsdl:input message="tns:EsponiDirezioniHttpGetIn" />
      <wsdl:output message="tns:EsponiDirezioniHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="EsponiAnagrafica">
      <wsdl:input message="tns:EsponiAnagraficaHttpPostIn" />
      <wsdl:output message="tns:EsponiAnagraficaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <wsdl:input message="tns:EsponiElencoAnagraficaHttpPostIn" />
      <wsdl:output message="tns:EsponiElencoAnagraficaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <wsdl:input message="tns:EsponiDirezioniHttpPostIn" />
      <wsdl:output message="tns:EsponiDirezioniHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EsponiAnagrafica">
      <soap:operation soapAction="http://hrgb.rai.it/EsponiAnagrafica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EsponiAnagraficaDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <soap:operation soapAction="http://hrgb.rai.it/EsponiElencoAnagrafica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EsponiElencoAnagraficaDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <soap:operation soapAction="http://hrgb.rai.it/EsponiDirezioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EsponiDirezioniDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EsponiAnagrafica">
      <soap12:operation soapAction="http://hrgb.rai.it/EsponiAnagrafica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EsponiAnagraficaDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <soap12:operation soapAction="http://hrgb.rai.it/EsponiElencoAnagrafica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EsponiElencoAnagraficaDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <soap12:operation soapAction="http://hrgb.rai.it/EsponiDirezioni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EsponiDirezioniDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EsponiAnagrafica">
      <http:operation location="/EsponiAnagrafica" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <http:operation location="/EsponiElencoAnagrafica" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <http:operation location="/EsponiDirezioni" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EsponiAnagrafica">
      <http:operation location="/EsponiAnagrafica" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <http:operation location="/EsponiElencoAnagrafica" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <http:operation location="/EsponiDirezioni" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://hrgb.servizi.rai.it/ws/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://hrgb.servizi.rai.it/ws/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://hrgb.servizi.rai.it/ws/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://hrgb.servizi.rai.it/ws/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>