myRaiGestionale/Web References/it.rai.servizi.raiconnectcoll/rai_ruo_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="creaProtocollo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_ruolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXMLMetadati" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creaProtocolloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creaProtocolloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inserisciAllegato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_ruolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome_file" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizione_file" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="base64file" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file_principale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_attach" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inserisciAllegatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inserisciAllegatoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eseguiRicerca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_ruolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_ricerca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="top" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filtro_ricerca" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eseguiRicercaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eseguiRicercaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confermaSpedizioni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_ruolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confermaSpedizioniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="confermaSpedizioniResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="creaProtocolloSoapIn">
    <wsdl:part name="parameters" element="tns:creaProtocollo" />
  </wsdl:message>
  <wsdl:message name="creaProtocolloSoapOut">
    <wsdl:part name="parameters" element="tns:creaProtocolloResponse" />
  </wsdl:message>
  <wsdl:message name="inserisciAllegatoSoapIn">
    <wsdl:part name="parameters" element="tns:inserisciAllegato" />
  </wsdl:message>
  <wsdl:message name="inserisciAllegatoSoapOut">
    <wsdl:part name="parameters" element="tns:inserisciAllegatoResponse" />
  </wsdl:message>
  <wsdl:message name="eseguiRicercaSoapIn">
    <wsdl:part name="parameters" element="tns:eseguiRicerca" />
  </wsdl:message>
  <wsdl:message name="eseguiRicercaSoapOut">
    <wsdl:part name="parameters" element="tns:eseguiRicercaResponse" />
  </wsdl:message>
  <wsdl:message name="confermaSpedizioniSoapIn">
    <wsdl:part name="parameters" element="tns:confermaSpedizioni" />
  </wsdl:message>
  <wsdl:message name="confermaSpedizioniSoapOut">
    <wsdl:part name="parameters" element="tns:confermaSpedizioniResponse" />
  </wsdl:message>
  <wsdl:message name="creaProtocolloHttpGetIn">
    <wsdl:part name="id_ruolo" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="strXMLMetadati" type="s:string" />
  </wsdl:message>
  <wsdl:message name="creaProtocolloHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="inserisciAllegatoHttpGetIn">
    <wsdl:part name="id_ruolo" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="id_documento" type="s:string" />
    <wsdl:part name="nome_file" type="s:string" />
    <wsdl:part name="descrizione_file" type="s:string" />
    <wsdl:part name="base64file" type="s:string" />
    <wsdl:part name="file_principale" type="s:string" />
    <wsdl:part name="id_attach" type="s:string" />
  </wsdl:message>
  <wsdl:message name="inserisciAllegatoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="eseguiRicercaHttpGetIn">
    <wsdl:part name="id_ruolo" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="id_ricerca" type="s:string" />
    <wsdl:part name="top" type="s:string" />
    <wsdl:part name="filtro_ricerca" type="s:string" />
  </wsdl:message>
  <wsdl:message name="eseguiRicercaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="confermaSpedizioniHttpGetIn">
    <wsdl:part name="id_ruolo" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="id_documento" type="s:string" />
  </wsdl:message>
  <wsdl:message name="confermaSpedizioniHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="creaProtocolloHttpPostIn">
    <wsdl:part name="id_ruolo" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="strXMLMetadati" type="s:string" />
  </wsdl:message>
  <wsdl:message name="creaProtocolloHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="inserisciAllegatoHttpPostIn">
    <wsdl:part name="id_ruolo" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="id_documento" type="s:string" />
    <wsdl:part name="nome_file" type="s:string" />
    <wsdl:part name="descrizione_file" type="s:string" />
    <wsdl:part name="base64file" type="s:string" />
    <wsdl:part name="file_principale" type="s:string" />
    <wsdl:part name="id_attach" type="s:string" />
  </wsdl:message>
  <wsdl:message name="inserisciAllegatoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="eseguiRicercaHttpPostIn">
    <wsdl:part name="id_ruolo" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="id_ricerca" type="s:string" />
    <wsdl:part name="top" type="s:string" />
    <wsdl:part name="filtro_ricerca" type="s:string" />
  </wsdl:message>
  <wsdl:message name="eseguiRicercaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="confermaSpedizioniHttpPostIn">
    <wsdl:part name="id_ruolo" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="id_documento" type="s:string" />
  </wsdl:message>
  <wsdl:message name="confermaSpedizioniHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="rai_ruo_wsSoap">
    <wsdl:operation name="creaProtocollo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di effettuare la creazione di una scheda protocollo</wsdl:documentation>
      <wsdl:input message="tns:creaProtocolloSoapIn" />
      <wsdl:output message="tns:creaProtocolloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="inserisciAllegato">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di effettuare l'inserimento a sistema di file in formato base64 e di associarlo al protocollo specificato in input.</wsdl:documentation>
      <wsdl:input message="tns:inserisciAllegatoSoapIn" />
      <wsdl:output message="tns:inserisciAllegatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eseguiRicerca">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di effettuare una ricerca sui dati di sistema</wsdl:documentation>
      <wsdl:input message="tns:eseguiRicercaSoapIn" />
      <wsdl:output message="tns:eseguiRicercaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="confermaSpedizioni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di inserire tutte le spedizioni associate al documento specificato in input, ed ancora nello stato "Da Inviare", nella coda del processo di spedizione</wsdl:documentation>
      <wsdl:input message="tns:confermaSpedizioniSoapIn" />
      <wsdl:output message="tns:confermaSpedizioniSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="rai_ruo_wsHttpGet">
    <wsdl:operation name="creaProtocollo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di effettuare la creazione di una scheda protocollo</wsdl:documentation>
      <wsdl:input message="tns:creaProtocolloHttpGetIn" />
      <wsdl:output message="tns:creaProtocolloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="inserisciAllegato">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di effettuare l'inserimento a sistema di file in formato base64 e di associarlo al protocollo specificato in input.</wsdl:documentation>
      <wsdl:input message="tns:inserisciAllegatoHttpGetIn" />
      <wsdl:output message="tns:inserisciAllegatoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="eseguiRicerca">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di effettuare una ricerca sui dati di sistema</wsdl:documentation>
      <wsdl:input message="tns:eseguiRicercaHttpGetIn" />
      <wsdl:output message="tns:eseguiRicercaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="confermaSpedizioni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di inserire tutte le spedizioni associate al documento specificato in input, ed ancora nello stato "Da Inviare", nella coda del processo di spedizione</wsdl:documentation>
      <wsdl:input message="tns:confermaSpedizioniHttpGetIn" />
      <wsdl:output message="tns:confermaSpedizioniHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="rai_ruo_wsHttpPost">
    <wsdl:operation name="creaProtocollo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di effettuare la creazione di una scheda protocollo</wsdl:documentation>
      <wsdl:input message="tns:creaProtocolloHttpPostIn" />
      <wsdl:output message="tns:creaProtocolloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="inserisciAllegato">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di effettuare l'inserimento a sistema di file in formato base64 e di associarlo al protocollo specificato in input.</wsdl:documentation>
      <wsdl:input message="tns:inserisciAllegatoHttpPostIn" />
      <wsdl:output message="tns:inserisciAllegatoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="eseguiRicerca">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di effettuare una ricerca sui dati di sistema</wsdl:documentation>
      <wsdl:input message="tns:eseguiRicercaHttpPostIn" />
      <wsdl:output message="tns:eseguiRicercaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="confermaSpedizioni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Il WebMethod in oggetto permette di inserire tutte le spedizioni associate al documento specificato in input, ed ancora nello stato "Da Inviare", nella coda del processo di spedizione</wsdl:documentation>
      <wsdl:input message="tns:confermaSpedizioniHttpPostIn" />
      <wsdl:output message="tns:confermaSpedizioniHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="rai_ruo_wsSoap" type="tns:rai_ruo_wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creaProtocollo">
      <soap:operation soapAction="http://tempuri.org/creaProtocollo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserisciAllegato">
      <soap:operation soapAction="http://tempuri.org/inserisciAllegato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eseguiRicerca">
      <soap:operation soapAction="http://tempuri.org/eseguiRicerca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confermaSpedizioni">
      <soap:operation soapAction="http://tempuri.org/confermaSpedizioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rai_ruo_wsSoap12" type="tns:rai_ruo_wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creaProtocollo">
      <soap12:operation soapAction="http://tempuri.org/creaProtocollo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserisciAllegato">
      <soap12:operation soapAction="http://tempuri.org/inserisciAllegato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eseguiRicerca">
      <soap12:operation soapAction="http://tempuri.org/eseguiRicerca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confermaSpedizioni">
      <soap12:operation soapAction="http://tempuri.org/confermaSpedizioni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rai_ruo_wsHttpGet" type="tns:rai_ruo_wsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="creaProtocollo">
      <http:operation location="/creaProtocollo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserisciAllegato">
      <http:operation location="/inserisciAllegato" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eseguiRicerca">
      <http:operation location="/eseguiRicerca" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confermaSpedizioni">
      <http:operation location="/confermaSpedizioni" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rai_ruo_wsHttpPost" type="tns:rai_ruo_wsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="creaProtocollo">
      <http:operation location="/creaProtocollo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserisciAllegato">
      <http:operation location="/inserisciAllegato" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eseguiRicerca">
      <http:operation location="/eseguiRicerca" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confermaSpedizioni">
      <http:operation location="/confermaSpedizioni" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="rai_ruo_ws">
    <wsdl:port name="rai_ruo_wsSoap" binding="tns:rai_ruo_wsSoap">
      <soap:address location="http://raiconnectcoll.servizi.rai.it/rai_ruo_ws.asmx" />
    </wsdl:port>
    <wsdl:port name="rai_ruo_wsSoap12" binding="tns:rai_ruo_wsSoap12">
      <soap12:address location="http://raiconnectcoll.servizi.rai.it/rai_ruo_ws.asmx" />
    </wsdl:port>
    <wsdl:port name="rai_ruo_wsHttpGet" binding="tns:rai_ruo_wsHttpGet">
      <http:address location="http://raiconnectcoll.servizi.rai.it/rai_ruo_ws.asmx" />
    </wsdl:port>
    <wsdl:port name="rai_ruo_wsHttpPost" binding="tns:rai_ruo_wsHttpPost">
      <http:address location="http://raiconnectcoll.servizi.rai.it/rai_ruo_ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>