MyRaiServiceInterface/Web References/it.rai.servizi.svilruoesercizio/WSdew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WSDew" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="WSDew" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WSDew">
      <s:element name="ModificaRecordRew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdTracciatoRichiamato" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TestoRecord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificaRecordRewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificaRecordRewResult" type="tns:ChangeRecordRewResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangeRecordRewResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="esito" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancellaRecordRew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdTracciatoRichiamato" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancellaRecordRewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancellaRecordRewResult" type="tns:ChangeRecordRewResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecordDaCancellare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NomeProgramma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Eccezione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoMese" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecordDaCancellareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecordDaCancellareResult" type="tns:ArrayOfTracciato_richiamato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTracciato_richiamato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tracciato_richiamato" nillable="true" type="tns:Tracciato_richiamato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tracciato_richiamato">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id_tracciato_richiamato" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Numerazione_tracciato_richiamato" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Versione" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Testo_record" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Utente_modifica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Data_modifica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Flag_inserimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Flag_cancellazione" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Flag_stato" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Data_lavorazione_MNF" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome_programma_MNF" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Lunghezza_record_MNF" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Flag_forzato" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Utente_Riconoscimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Data_Riconoscimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LavorazioneReference" type="tns:EntityReferenceOfLavorazione" />
              <s:element minOccurs="0" maxOccurs="1" name="TracciatoReference" type="tns:EntityReferenceOfTracciato" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityReferenceOfLavorazione">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:complexType name="EntityReferenceOfTracciato">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetRecordRew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdProgramma" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Mese" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ContenutoCampoChiave1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContenutoCampoChiave2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContenutoCampoChiave3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContenutoCampoChiave4" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RecordRewResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="esito" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="errore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTracciatoRichiamato" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tracciato" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRecordRewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRecordRewResult" type="tns:RecordRewResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCampiTracciato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdTracciato" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ProgressivoTracciato" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CampiTracciatoResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTracciato" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProgressivoTracciato" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeTracciato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataInizioValidita" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataFineValidita" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Lunghezza" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Campi" type="tns:ArrayOfCampiTracciato" />
          <s:element minOccurs="1" maxOccurs="1" name="esito" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCampiTracciato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CampiTracciato" type="tns:CampiTracciato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CampiTracciato">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCampo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeCampo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Posizione" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Lunghezza" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumCaratteri" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Allineamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SimboliRiempimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCampo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCampoEsteso" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrdineModulo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorePrecompilato" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCampiTracciatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCampiTracciatoResult" type="tns:CampiTracciatoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScadenzarioMeseAnno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_ufficio" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mese" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="anno" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScadenzarioMeseAnnoResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="esito" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scadenze" type="tns:ArrayOfScadenzarioMeseAnnoItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScadenzarioMeseAnnoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScadenzarioMeseAnnoItem" type="tns:ScadenzarioMeseAnnoItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScadenzarioMeseAnnoItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id_ufficio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="attivita" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="data_scadenza" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ora" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="da_default" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetScadenzarioMeseAnnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetScadenzarioMeseAnnoResult" type="tns:ScadenzarioMeseAnnoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScadenzarioGiorniDefault">
        <s:complexType />
      </s:element>
      <s:complexType name="Scadenzario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Scadenze" type="tns:ArrayOfScadenzarioItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScadenzarioItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScadenzarioItem" type="tns:ScadenzarioItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScadenzarioItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id_ufficio" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="progressivo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ufficio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="giorno_visibile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="giorno_standard" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ora_standard" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetScadenzarioGiorniDefaultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetScadenzarioGiorniDefaultResult" type="tns:Scadenzario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserisciRecordSingolo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoMese" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Record" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdTracciato" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="InseritoDaSistema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InseritoDaMatricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Records_Inseriti">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Records" type="tns:ArrayOfRecords_Inserito" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRecords_Inserito">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Records_Inserito" type="tns:Records_Inserito" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Records_Inserito">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Testo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InserisciRecordSingoloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InserisciRecordSingoloResult" type="tns:Records_Inseriti" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserisciRecords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoMese" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Records" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="IdTracciato" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="InseritoDaSistema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InseritoDaMatricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InserisciRecordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InserisciRecordsResult" type="tns:Records_Inseriti" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatoLavorazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoMese" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Stato_Lavorazione">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Aperto" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="StatoLavorazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StatoLavorazioneResult" type="tns:Stato_Lavorazione" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencaLavorazioni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnnoMese" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Lavorazioni_Abilitate">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lavorazione" type="tns:ArrayOfLavorazioniAttive" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLavorazioniAttive">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LavorazioniAttive" type="tns:LavorazioniAttive" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LavorazioniAttive">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idLavorazione" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrizioneProgramma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="annoMese" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="informazioni" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ElencaLavorazioniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencaLavorazioniResult" type="tns:Lavorazioni_Abilitate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeRecordRewResponse" type="tns:ChangeRecordRewResponse" />
      <s:element name="ArrayOfTracciato_richiamato" nillable="true" type="tns:ArrayOfTracciato_richiamato" />
      <s:element name="RecordRewResponse" type="tns:RecordRewResponse" />
      <s:element name="CampiTracciatoResponse" type="tns:CampiTracciatoResponse" />
      <s:element name="ScadenzarioMeseAnnoResponse" type="tns:ScadenzarioMeseAnnoResponse" />
      <s:element name="Scadenzario" type="tns:Scadenzario" />
      <s:element name="Records_Inseriti" type="tns:Records_Inseriti" />
      <s:element name="Stato_Lavorazione" type="tns:Stato_Lavorazione" />
      <s:element name="Lavorazioni_Abilitate" type="tns:Lavorazioni_Abilitate" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ModificaRecordRewSoapIn">
    <wsdl:part name="parameters" element="tns:ModificaRecordRew" />
  </wsdl:message>
  <wsdl:message name="ModificaRecordRewSoapOut">
    <wsdl:part name="parameters" element="tns:ModificaRecordRewResponse" />
  </wsdl:message>
  <wsdl:message name="CancellaRecordRewSoapIn">
    <wsdl:part name="parameters" element="tns:CancellaRecordRew" />
  </wsdl:message>
  <wsdl:message name="CancellaRecordRewSoapOut">
    <wsdl:part name="parameters" element="tns:CancellaRecordRewResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecordDaCancellareSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecordDaCancellare" />
  </wsdl:message>
  <wsdl:message name="GetRecordDaCancellareSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecordDaCancellareResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecordRewSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecordRew" />
  </wsdl:message>
  <wsdl:message name="GetRecordRewSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecordRewResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampiTracciatoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCampiTracciato" />
  </wsdl:message>
  <wsdl:message name="GetCampiTracciatoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCampiTracciatoResponse" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioMeseAnnoSoapIn">
    <wsdl:part name="parameters" element="tns:GetScadenzarioMeseAnno" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioMeseAnnoSoapOut">
    <wsdl:part name="parameters" element="tns:GetScadenzarioMeseAnnoResponse" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioGiorniDefaultSoapIn">
    <wsdl:part name="parameters" element="tns:GetScadenzarioGiorniDefault" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioGiorniDefaultSoapOut">
    <wsdl:part name="parameters" element="tns:GetScadenzarioGiorniDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="InserisciRecordSingoloSoapIn">
    <wsdl:part name="parameters" element="tns:InserisciRecordSingolo" />
  </wsdl:message>
  <wsdl:message name="InserisciRecordSingoloSoapOut">
    <wsdl:part name="parameters" element="tns:InserisciRecordSingoloResponse" />
  </wsdl:message>
  <wsdl:message name="InserisciRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:InserisciRecords" />
  </wsdl:message>
  <wsdl:message name="InserisciRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:InserisciRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="StatoLavorazioneSoapIn">
    <wsdl:part name="parameters" element="tns:StatoLavorazione" />
  </wsdl:message>
  <wsdl:message name="StatoLavorazioneSoapOut">
    <wsdl:part name="parameters" element="tns:StatoLavorazioneResponse" />
  </wsdl:message>
  <wsdl:message name="ElencaLavorazioniSoapIn">
    <wsdl:part name="parameters" element="tns:ElencaLavorazioni" />
  </wsdl:message>
  <wsdl:message name="ElencaLavorazioniSoapOut">
    <wsdl:part name="parameters" element="tns:ElencaLavorazioniResponse" />
  </wsdl:message>
  <wsdl:message name="ModificaRecordRewHttpGetIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="IdTracciatoRichiamato" type="s:string" />
    <wsdl:part name="TestoRecord" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModificaRecordRewHttpGetOut">
    <wsdl:part name="Body" element="tns:ChangeRecordRewResponse" />
  </wsdl:message>
  <wsdl:message name="CancellaRecordRewHttpGetIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="IdTracciatoRichiamato" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancellaRecordRewHttpGetOut">
    <wsdl:part name="Body" element="tns:ChangeRecordRewResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecordDaCancellareHttpGetIn">
    <wsdl:part name="NomeProgramma" type="s:string" />
    <wsdl:part name="Eccezione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="AnnoMese" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRecordDaCancellareHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfTracciato_richiamato" />
  </wsdl:message>
  <wsdl:message name="GetRecordRewHttpGetIn">
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="IdProgramma" type="s:string" />
    <wsdl:part name="Mese" type="s:string" />
    <wsdl:part name="Anno" type="s:string" />
    <wsdl:part name="ContenutoCampoChiave1" type="s:string" />
    <wsdl:part name="ContenutoCampoChiave2" type="s:string" />
    <wsdl:part name="ContenutoCampoChiave3" type="s:string" />
    <wsdl:part name="ContenutoCampoChiave4" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRecordRewHttpGetOut">
    <wsdl:part name="Body" element="tns:RecordRewResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampiTracciatoHttpGetIn">
    <wsdl:part name="IdTracciato" type="s:string" />
    <wsdl:part name="ProgressivoTracciato" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCampiTracciatoHttpGetOut">
    <wsdl:part name="Body" element="tns:CampiTracciatoResponse" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioMeseAnnoHttpGetIn">
    <wsdl:part name="id_ufficio" type="s:string" />
    <wsdl:part name="mese" type="s:string" />
    <wsdl:part name="anno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioMeseAnnoHttpGetOut">
    <wsdl:part name="Body" element="tns:ScadenzarioMeseAnnoResponse" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioGiorniDefaultHttpGetIn" />
  <wsdl:message name="GetScadenzarioGiorniDefaultHttpGetOut">
    <wsdl:part name="Body" element="tns:Scadenzario" />
  </wsdl:message>
  <wsdl:message name="InserisciRecordSingoloHttpGetIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="AnnoMese" type="s:string" />
    <wsdl:part name="Record" type="s:string" />
    <wsdl:part name="IdTracciato" type="s:string" />
    <wsdl:part name="InseritoDaSistema" type="s:string" />
    <wsdl:part name="InseritoDaMatricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InserisciRecordSingoloHttpGetOut">
    <wsdl:part name="Body" element="tns:Records_Inseriti" />
  </wsdl:message>
  <wsdl:message name="StatoLavorazioneHttpGetIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="AnnoMese" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StatoLavorazioneHttpGetOut">
    <wsdl:part name="Body" element="tns:Stato_Lavorazione" />
  </wsdl:message>
  <wsdl:message name="ElencaLavorazioniHttpGetIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="AnnoMese" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencaLavorazioniHttpGetOut">
    <wsdl:part name="Body" element="tns:Lavorazioni_Abilitate" />
  </wsdl:message>
  <wsdl:message name="ModificaRecordRewHttpPostIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="IdTracciatoRichiamato" type="s:string" />
    <wsdl:part name="TestoRecord" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModificaRecordRewHttpPostOut">
    <wsdl:part name="Body" element="tns:ChangeRecordRewResponse" />
  </wsdl:message>
  <wsdl:message name="CancellaRecordRewHttpPostIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="IdTracciatoRichiamato" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancellaRecordRewHttpPostOut">
    <wsdl:part name="Body" element="tns:ChangeRecordRewResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecordDaCancellareHttpPostIn">
    <wsdl:part name="NomeProgramma" type="s:string" />
    <wsdl:part name="Eccezione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="AnnoMese" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRecordDaCancellareHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfTracciato_richiamato" />
  </wsdl:message>
  <wsdl:message name="GetRecordRewHttpPostIn">
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="IdProgramma" type="s:string" />
    <wsdl:part name="Mese" type="s:string" />
    <wsdl:part name="Anno" type="s:string" />
    <wsdl:part name="ContenutoCampoChiave1" type="s:string" />
    <wsdl:part name="ContenutoCampoChiave2" type="s:string" />
    <wsdl:part name="ContenutoCampoChiave3" type="s:string" />
    <wsdl:part name="ContenutoCampoChiave4" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRecordRewHttpPostOut">
    <wsdl:part name="Body" element="tns:RecordRewResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampiTracciatoHttpPostIn">
    <wsdl:part name="IdTracciato" type="s:string" />
    <wsdl:part name="ProgressivoTracciato" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCampiTracciatoHttpPostOut">
    <wsdl:part name="Body" element="tns:CampiTracciatoResponse" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioMeseAnnoHttpPostIn">
    <wsdl:part name="id_ufficio" type="s:string" />
    <wsdl:part name="mese" type="s:string" />
    <wsdl:part name="anno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioMeseAnnoHttpPostOut">
    <wsdl:part name="Body" element="tns:ScadenzarioMeseAnnoResponse" />
  </wsdl:message>
  <wsdl:message name="GetScadenzarioGiorniDefaultHttpPostIn" />
  <wsdl:message name="GetScadenzarioGiorniDefaultHttpPostOut">
    <wsdl:part name="Body" element="tns:Scadenzario" />
  </wsdl:message>
  <wsdl:message name="InserisciRecordSingoloHttpPostIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="AnnoMese" type="s:string" />
    <wsdl:part name="Record" type="s:string" />
    <wsdl:part name="IdTracciato" type="s:string" />
    <wsdl:part name="InseritoDaSistema" type="s:string" />
    <wsdl:part name="InseritoDaMatricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InserisciRecordSingoloHttpPostOut">
    <wsdl:part name="Body" element="tns:Records_Inseriti" />
  </wsdl:message>
  <wsdl:message name="StatoLavorazioneHttpPostIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="AnnoMese" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StatoLavorazioneHttpPostOut">
    <wsdl:part name="Body" element="tns:Stato_Lavorazione" />
  </wsdl:message>
  <wsdl:message name="ElencaLavorazioniHttpPostIn">
    <wsdl:part name="AppKey" type="s:string" />
    <wsdl:part name="AnnoMese" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencaLavorazioniHttpPostOut">
    <wsdl:part name="Body" element="tns:Lavorazioni_Abilitate" />
  </wsdl:message>
  <wsdl:portType name="WSDewSoap">
    <wsdl:operation name="ModificaRecordRew">
      <wsdl:input message="tns:ModificaRecordRewSoapIn" />
      <wsdl:output message="tns:ModificaRecordRewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancellaRecordRew">
      <wsdl:input message="tns:CancellaRecordRewSoapIn" />
      <wsdl:output message="tns:CancellaRecordRewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordDaCancellare">
      <wsdl:input message="tns:GetRecordDaCancellareSoapIn" />
      <wsdl:output message="tns:GetRecordDaCancellareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordRew">
      <wsdl:input message="tns:GetRecordRewSoapIn" />
      <wsdl:output message="tns:GetRecordRewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampiTracciato">
      <wsdl:input message="tns:GetCampiTracciatoSoapIn" />
      <wsdl:output message="tns:GetCampiTracciatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioMeseAnno">
      <wsdl:input message="tns:GetScadenzarioMeseAnnoSoapIn" />
      <wsdl:output message="tns:GetScadenzarioMeseAnnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioGiorniDefault">
      <wsdl:input message="tns:GetScadenzarioGiorniDefaultSoapIn" />
      <wsdl:output message="tns:GetScadenzarioGiorniDefaultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserisciRecordSingolo">
      <wsdl:input message="tns:InserisciRecordSingoloSoapIn" />
      <wsdl:output message="tns:InserisciRecordSingoloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserisciRecords">
      <wsdl:input message="tns:InserisciRecordsSoapIn" />
      <wsdl:output message="tns:InserisciRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatoLavorazione">
      <wsdl:input message="tns:StatoLavorazioneSoapIn" />
      <wsdl:output message="tns:StatoLavorazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencaLavorazioni">
      <wsdl:input message="tns:ElencaLavorazioniSoapIn" />
      <wsdl:output message="tns:ElencaLavorazioniSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSDewHttpGet">
    <wsdl:operation name="ModificaRecordRew">
      <wsdl:input message="tns:ModificaRecordRewHttpGetIn" />
      <wsdl:output message="tns:ModificaRecordRewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CancellaRecordRew">
      <wsdl:input message="tns:CancellaRecordRewHttpGetIn" />
      <wsdl:output message="tns:CancellaRecordRewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordDaCancellare">
      <wsdl:input message="tns:GetRecordDaCancellareHttpGetIn" />
      <wsdl:output message="tns:GetRecordDaCancellareHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordRew">
      <wsdl:input message="tns:GetRecordRewHttpGetIn" />
      <wsdl:output message="tns:GetRecordRewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampiTracciato">
      <wsdl:input message="tns:GetCampiTracciatoHttpGetIn" />
      <wsdl:output message="tns:GetCampiTracciatoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioMeseAnno">
      <wsdl:input message="tns:GetScadenzarioMeseAnnoHttpGetIn" />
      <wsdl:output message="tns:GetScadenzarioMeseAnnoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioGiorniDefault">
      <wsdl:input message="tns:GetScadenzarioGiorniDefaultHttpGetIn" />
      <wsdl:output message="tns:GetScadenzarioGiorniDefaultHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InserisciRecordSingolo">
      <wsdl:input message="tns:InserisciRecordSingoloHttpGetIn" />
      <wsdl:output message="tns:InserisciRecordSingoloHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="StatoLavorazione">
      <wsdl:input message="tns:StatoLavorazioneHttpGetIn" />
      <wsdl:output message="tns:StatoLavorazioneHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencaLavorazioni">
      <wsdl:input message="tns:ElencaLavorazioniHttpGetIn" />
      <wsdl:output message="tns:ElencaLavorazioniHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSDewHttpPost">
    <wsdl:operation name="ModificaRecordRew">
      <wsdl:input message="tns:ModificaRecordRewHttpPostIn" />
      <wsdl:output message="tns:ModificaRecordRewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CancellaRecordRew">
      <wsdl:input message="tns:CancellaRecordRewHttpPostIn" />
      <wsdl:output message="tns:CancellaRecordRewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordDaCancellare">
      <wsdl:input message="tns:GetRecordDaCancellareHttpPostIn" />
      <wsdl:output message="tns:GetRecordDaCancellareHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordRew">
      <wsdl:input message="tns:GetRecordRewHttpPostIn" />
      <wsdl:output message="tns:GetRecordRewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCampiTracciato">
      <wsdl:input message="tns:GetCampiTracciatoHttpPostIn" />
      <wsdl:output message="tns:GetCampiTracciatoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioMeseAnno">
      <wsdl:input message="tns:GetScadenzarioMeseAnnoHttpPostIn" />
      <wsdl:output message="tns:GetScadenzarioMeseAnnoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioGiorniDefault">
      <wsdl:input message="tns:GetScadenzarioGiorniDefaultHttpPostIn" />
      <wsdl:output message="tns:GetScadenzarioGiorniDefaultHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InserisciRecordSingolo">
      <wsdl:input message="tns:InserisciRecordSingoloHttpPostIn" />
      <wsdl:output message="tns:InserisciRecordSingoloHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="StatoLavorazione">
      <wsdl:input message="tns:StatoLavorazioneHttpPostIn" />
      <wsdl:output message="tns:StatoLavorazioneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencaLavorazioni">
      <wsdl:input message="tns:ElencaLavorazioniHttpPostIn" />
      <wsdl:output message="tns:ElencaLavorazioniHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDewSoap" type="tns:WSDewSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModificaRecordRew">
      <soap:operation soapAction="WSDew/ModificaRecordRew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancellaRecordRew">
      <soap:operation soapAction="WSDew/CancellaRecordRew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordDaCancellare">
      <soap:operation soapAction="WSDew/GetRecordDaCancellare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordRew">
      <soap:operation soapAction="WSDew/GetRecordRew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampiTracciato">
      <soap:operation soapAction="WSDew/GetCampiTracciato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioMeseAnno">
      <soap:operation soapAction="WSDew/GetScadenzarioMeseAnno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioGiorniDefault">
      <soap:operation soapAction="WSDew/GetScadenzarioGiorniDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciRecordSingolo">
      <soap:operation soapAction="WSDew/InserisciRecordSingolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciRecords">
      <soap:operation soapAction="WSDew/InserisciRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatoLavorazione">
      <soap:operation soapAction="WSDew/StatoLavorazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencaLavorazioni">
      <soap:operation soapAction="WSDew/ElencaLavorazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDewSoap12" type="tns:WSDewSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModificaRecordRew">
      <soap12:operation soapAction="WSDew/ModificaRecordRew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancellaRecordRew">
      <soap12:operation soapAction="WSDew/CancellaRecordRew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordDaCancellare">
      <soap12:operation soapAction="WSDew/GetRecordDaCancellare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordRew">
      <soap12:operation soapAction="WSDew/GetRecordRew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampiTracciato">
      <soap12:operation soapAction="WSDew/GetCampiTracciato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioMeseAnno">
      <soap12:operation soapAction="WSDew/GetScadenzarioMeseAnno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioGiorniDefault">
      <soap12:operation soapAction="WSDew/GetScadenzarioGiorniDefault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciRecordSingolo">
      <soap12:operation soapAction="WSDew/InserisciRecordSingolo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciRecords">
      <soap12:operation soapAction="WSDew/InserisciRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatoLavorazione">
      <soap12:operation soapAction="WSDew/StatoLavorazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencaLavorazioni">
      <soap12:operation soapAction="WSDew/ElencaLavorazioni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDewHttpGet" type="tns:WSDewHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ModificaRecordRew">
      <http:operation location="/ModificaRecordRew" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancellaRecordRew">
      <http:operation location="/CancellaRecordRew" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordDaCancellare">
      <http:operation location="/GetRecordDaCancellare" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordRew">
      <http:operation location="/GetRecordRew" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampiTracciato">
      <http:operation location="/GetCampiTracciato" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioMeseAnno">
      <http:operation location="/GetScadenzarioMeseAnno" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioGiorniDefault">
      <http:operation location="/GetScadenzarioGiorniDefault" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciRecordSingolo">
      <http:operation location="/InserisciRecordSingolo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatoLavorazione">
      <http:operation location="/StatoLavorazione" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencaLavorazioni">
      <http:operation location="/ElencaLavorazioni" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDewHttpPost" type="tns:WSDewHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ModificaRecordRew">
      <http:operation location="/ModificaRecordRew" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancellaRecordRew">
      <http:operation location="/CancellaRecordRew" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordDaCancellare">
      <http:operation location="/GetRecordDaCancellare" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordRew">
      <http:operation location="/GetRecordRew" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCampiTracciato">
      <http:operation location="/GetCampiTracciato" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioMeseAnno">
      <http:operation location="/GetScadenzarioMeseAnno" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScadenzarioGiorniDefault">
      <http:operation location="/GetScadenzarioGiorniDefault" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciRecordSingolo">
      <http:operation location="/InserisciRecordSingolo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatoLavorazione">
      <http:operation location="/StatoLavorazione" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencaLavorazioni">
      <http:operation location="/ElencaLavorazioni" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDew">
    <wsdl:port name="WSDewSoap" binding="tns:WSDewSoap">
      <soap:address location="http://svilruoesercizio.servizi.rai.it/WSdew.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDewSoap12" binding="tns:WSDewSoap12">
      <soap12:address location="http://svilruoesercizio.servizi.rai.it/WSdew.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDewHttpGet" binding="tns:WSDewHttpGet">
      <http:address location="http://svilruoesercizio.servizi.rai.it/WSdew.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDewHttpPost" binding="tns:WSDewHttpPost">
      <http:address location="http://svilruoesercizio.servizi.rai.it/WSdew.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>