myRaiServiceTestClient/Web References/firmaRemota/remoteSignature.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://impl.ws.firmaremota.itagile.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="remoteSignature" targetNamespace="http://impl.ws.firmaremota.itagile.it/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://ws.firmaremota.itagile.it" location="http://10.16.161.202:8080/FirmaRemota/services/RemoteSignature?wsdl=1" />
  <types />
  <binding xmlns:ns1="http://ws.firmaremota.itagile.it" name="remoteSignaturePortBinding" type="ns1:RemoteSignature">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getCertificates">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="digest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="findUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="closeSignatureSession">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="openSignatureSession">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="isModuleActive">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="documentP7mInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="timestampAttached">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="signPKCS1Array">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="documentPdfInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="verifySignatures">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="verifyCertificate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="documentXadesInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="verifyCertificateAtTime">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="timestampDetached">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="timestampToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="timestampResponse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="changePassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="changeUserPassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getUsersDirectoryType">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="signPDF">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="signCAdES">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="setUserImage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="addUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="signP7M">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="signPKCS1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="signPDFPath">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getUserImages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
    <operation name="signXAdES">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RemoteSignatureException_Exception">
        <soap:fault use="literal" name="RemoteSignatureException_Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="remoteSignature">
    <port name="remoteSignaturePort" binding="tns:remoteSignaturePortBinding">
      <soap:address location="http://10.16.161.202:8080/FirmaRemota/services/RemoteSignature" />
    </port>
  </service>
</definitions>