myRaiServiceHub/Web References/it.rai.servizi.hrpaga/hrpaga.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="HrPaga" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="HrPaga" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="HrPaga">
      <s:element name="VerificaUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chiamante" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificaUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoMessaggi">
        <s:complexType />
      </s:element>
      <s:element name="ElencoMessaggiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoMessaggiResult" type="tns:ListaMessaggi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaMessaggi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Messaggio" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ElencoNavBar">
        <s:complexType />
      </s:element>
      <s:element name="ElencoNavBarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoNavBarResult" type="tns:ListaNavBar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaNavBar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Elementi" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="ElencoMenuBar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoMenuBarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoMenuBarResult" type="tns:ListaNavBar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoTipoDocumento">
        <s:complexType />
      </s:element>
      <s:element name="ElencoTipoDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoTipoDocumentoResult" type="tns:ListaNavBar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoDocumentiOld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoDocumentiOldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoDocumentiOldResult" type="tns:ListaDocumenti" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaDocumenti">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListaDatiDocumenti" type="tns:ListaDatiDocumenti" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListaDatiDocumenti">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataCompetenza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrittivaDataCompetenza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataContabile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrittivaDataContabile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrittiva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrittivaTipoDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessaggioCollegato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataPubblicazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nota" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FlagLetto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FlagToolbar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FlagStampa" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FlagBlocco" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCedolino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ElencoDocumenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoDocumentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoDocumentiResult" type="tns:ListaDocumenti" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoDocumentiPersonali">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoDocumentiPersonaliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoDocumentiPersonaliResult" type="tns:ListaDocumenti" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoNotifiche">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoNotificheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoNotificheResult" type="tns:ListaNotifiche" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaNotifiche">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Notifiche" type="tns:ArrayOfNotifica" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNotifica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Notifica" type="tns:Notifica" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Notifica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Pmatricola" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroDocumenti" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ElencoNotificheDocumenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_03" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoNotificheDocumentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoNotificheDocumentiResult" type="tns:ListaNotificheDocumenti" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaNotificheDocumenti">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Notifiche" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AggiornaNotifiche">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AggiornaNotificheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AggiornaNotificheResult" type="tns:ListaNotifiche" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiaStato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parametro_record3" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiaStatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambiaStatoResult" type="tns:EsitoBlocco" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EsitoBlocco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CambiaStatoOld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parametro_record3" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiaStatoOldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambiaStatoOldResult" type="tns:EsitoBlocco" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaDocumentiCassaOld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record3" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parametro_record4" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record5" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record6" type="tns:ArrayOfDateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record7" type="tns:ArrayOfDateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDateTime">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="dateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaDocumentiCassaOldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ListaDocumentiCassaOldResult" type="tns:ListaDocumentiPerCassa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaDocumentiPerCassa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentoInCassa" type="tns:DocumentoInCassa" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentoInCassa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCedolino" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCompetenza" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataContabile" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Sede" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Servizio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Importo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Casistica" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Eliminato" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="idDettaglio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FlagBlocco" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IDIMG" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaDocumentiCassa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record3" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parametro_record4" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record5" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record6" type="tns:ArrayOfDateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_record7" type="tns:ArrayOfDateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaDocumentiCassaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ListaDocumentiCassaResult" type="tns:ListaDocumentiPerCassa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByteDocOld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByteDocOldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ByteDocOldResult" type="tns:Documento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Documento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileDoc" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="ByteDocPersonali">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByteDocPersonaliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ByteDocPersonaliResult" type="tns:Documento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByteDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByteDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ByteDocResult" type="tns:Documento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ListaMessaggi" type="tns:ListaMessaggi" />
      <s:element name="ListaNavBar" type="tns:ListaNavBar" />
      <s:element name="ListaDocumenti" type="tns:ListaDocumenti" />
      <s:element name="ListaNotifiche" type="tns:ListaNotifiche" />
      <s:element name="ListaNotificheDocumenti" type="tns:ListaNotificheDocumenti" />
      <s:element name="EsitoBlocco" type="tns:EsitoBlocco" />
      <s:element name="Documento" type="tns:Documento" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificaUserSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaUser" />
  </wsdl:message>
  <wsdl:message name="VerificaUserSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaUserResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoMessaggiSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoMessaggi" />
  </wsdl:message>
  <wsdl:message name="ElencoMessaggiSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoMessaggiResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoNavBarSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoNavBar" />
  </wsdl:message>
  <wsdl:message name="ElencoNavBarSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoNavBarResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoMenuBarSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoMenuBar" />
  </wsdl:message>
  <wsdl:message name="ElencoMenuBarSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoMenuBarResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoTipoDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoTipoDocumento" />
  </wsdl:message>
  <wsdl:message name="ElencoTipoDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoTipoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiOldSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoDocumentiOld" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiOldSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoDocumentiOldResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoDocumentiResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiPersonaliSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoDocumentiPersonali" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiPersonaliSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoDocumentiPersonaliResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoNotifiche" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoNotificheResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoNotificheDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoNotificheDocumentiResponse" />
  </wsdl:message>
  <wsdl:message name="AggiornaNotificheSoapIn">
    <wsdl:part name="parameters" element="tns:AggiornaNotifiche" />
  </wsdl:message>
  <wsdl:message name="AggiornaNotificheSoapOut">
    <wsdl:part name="parameters" element="tns:AggiornaNotificheResponse" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoSoapIn">
    <wsdl:part name="parameters" element="tns:CambiaStato" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoSoapOut">
    <wsdl:part name="parameters" element="tns:CambiaStatoResponse" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoOldSoapIn">
    <wsdl:part name="parameters" element="tns:CambiaStatoOld" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoOldSoapOut">
    <wsdl:part name="parameters" element="tns:CambiaStatoOldResponse" />
  </wsdl:message>
  <wsdl:message name="ListaDocumentiCassaOldSoapIn">
    <wsdl:part name="parameters" element="tns:ListaDocumentiCassaOld" />
  </wsdl:message>
  <wsdl:message name="ListaDocumentiCassaOldSoapOut">
    <wsdl:part name="parameters" element="tns:ListaDocumentiCassaOldResponse" />
  </wsdl:message>
  <wsdl:message name="ListaDocumentiCassaSoapIn">
    <wsdl:part name="parameters" element="tns:ListaDocumentiCassa" />
  </wsdl:message>
  <wsdl:message name="ListaDocumentiCassaSoapOut">
    <wsdl:part name="parameters" element="tns:ListaDocumentiCassaResponse" />
  </wsdl:message>
  <wsdl:message name="ByteDocOldSoapIn">
    <wsdl:part name="parameters" element="tns:ByteDocOld" />
  </wsdl:message>
  <wsdl:message name="ByteDocOldSoapOut">
    <wsdl:part name="parameters" element="tns:ByteDocOldResponse" />
  </wsdl:message>
  <wsdl:message name="ByteDocPersonaliSoapIn">
    <wsdl:part name="parameters" element="tns:ByteDocPersonali" />
  </wsdl:message>
  <wsdl:message name="ByteDocPersonaliSoapOut">
    <wsdl:part name="parameters" element="tns:ByteDocPersonaliResponse" />
  </wsdl:message>
  <wsdl:message name="ByteDocSoapIn">
    <wsdl:part name="parameters" element="tns:ByteDoc" />
  </wsdl:message>
  <wsdl:message name="ByteDocSoapOut">
    <wsdl:part name="parameters" element="tns:ByteDocResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaUserHttpGetIn">
    <wsdl:part name="chiamante" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerificaUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoMessaggiHttpGetIn" />
  <wsdl:message name="ElencoMessaggiHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaMessaggi" />
  </wsdl:message>
  <wsdl:message name="ElencoNavBarHttpGetIn" />
  <wsdl:message name="ElencoNavBarHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaNavBar" />
  </wsdl:message>
  <wsdl:message name="ElencoMenuBarHttpGetIn">
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoMenuBarHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaNavBar" />
  </wsdl:message>
  <wsdl:message name="ElencoTipoDocumentoHttpGetIn" />
  <wsdl:message name="ElencoTipoDocumentoHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaNavBar" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiOldHttpGetIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiOldHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiHttpGetIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiPersonaliHttpGetIn">
    <wsdl:part name="parametro_tipo" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiPersonaliHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheHttpGetIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaNotifiche" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiHttpGetIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
    <wsdl:part name="parametro_03" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaNotificheDocumenti" />
  </wsdl:message>
  <wsdl:message name="AggiornaNotificheHttpGetIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AggiornaNotificheHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaNotifiche" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoHttpGetIn">
    <wsdl:part name="parametro_record1" type="s:string" />
    <wsdl:part name="parametro_record2" type="s:string" />
    <wsdl:part name="parametro_record3" type="s:string" />
    <wsdl:part name="parametro_record4" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoHttpGetOut">
    <wsdl:part name="Body" element="tns:EsitoBlocco" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoOldHttpGetIn">
    <wsdl:part name="parametro_record1" type="s:string" />
    <wsdl:part name="parametro_record2" type="s:string" />
    <wsdl:part name="parametro_record3" type="s:string" />
    <wsdl:part name="parametro_record4" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoOldHttpGetOut">
    <wsdl:part name="Body" element="tns:EsitoBlocco" />
  </wsdl:message>
  <wsdl:message name="ByteDocOldHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ByteDocOldHttpGetOut">
    <wsdl:part name="Body" element="tns:Documento" />
  </wsdl:message>
  <wsdl:message name="ByteDocPersonaliHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ByteDocPersonaliHttpGetOut">
    <wsdl:part name="Body" element="tns:Documento" />
  </wsdl:message>
  <wsdl:message name="ByteDocHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ByteDocHttpGetOut">
    <wsdl:part name="Body" element="tns:Documento" />
  </wsdl:message>
  <wsdl:message name="VerificaUserHttpPostIn">
    <wsdl:part name="chiamante" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerificaUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoMessaggiHttpPostIn" />
  <wsdl:message name="ElencoMessaggiHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaMessaggi" />
  </wsdl:message>
  <wsdl:message name="ElencoNavBarHttpPostIn" />
  <wsdl:message name="ElencoNavBarHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaNavBar" />
  </wsdl:message>
  <wsdl:message name="ElencoMenuBarHttpPostIn">
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoMenuBarHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaNavBar" />
  </wsdl:message>
  <wsdl:message name="ElencoTipoDocumentoHttpPostIn" />
  <wsdl:message name="ElencoTipoDocumentoHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaNavBar" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiOldHttpPostIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiOldHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiHttpPostIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiPersonaliHttpPostIn">
    <wsdl:part name="parametro_tipo" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoDocumentiPersonaliHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheHttpPostIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaNotifiche" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiHttpPostIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
    <wsdl:part name="parametro_03" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaNotificheDocumenti" />
  </wsdl:message>
  <wsdl:message name="AggiornaNotificheHttpPostIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AggiornaNotificheHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaNotifiche" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoHttpPostIn">
    <wsdl:part name="parametro_record1" type="s:string" />
    <wsdl:part name="parametro_record2" type="s:string" />
    <wsdl:part name="parametro_record3" type="s:string" />
    <wsdl:part name="parametro_record4" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoHttpPostOut">
    <wsdl:part name="Body" element="tns:EsitoBlocco" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoOldHttpPostIn">
    <wsdl:part name="parametro_record1" type="s:string" />
    <wsdl:part name="parametro_record2" type="s:string" />
    <wsdl:part name="parametro_record3" type="s:string" />
    <wsdl:part name="parametro_record4" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CambiaStatoOldHttpPostOut">
    <wsdl:part name="Body" element="tns:EsitoBlocco" />
  </wsdl:message>
  <wsdl:message name="ByteDocOldHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ByteDocOldHttpPostOut">
    <wsdl:part name="Body" element="tns:Documento" />
  </wsdl:message>
  <wsdl:message name="ByteDocPersonaliHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ByteDocPersonaliHttpPostOut">
    <wsdl:part name="Body" element="tns:Documento" />
  </wsdl:message>
  <wsdl:message name="ByteDocHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ByteDocHttpPostOut">
    <wsdl:part name="Body" element="tns:Documento" />
  </wsdl:message>
  <wsdl:portType name="HrPagaSoap">
    <wsdl:operation name="VerificaUser">
      <wsdl:input message="tns:VerificaUserSoapIn" />
      <wsdl:output message="tns:VerificaUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoMessaggi">
      <wsdl:input message="tns:ElencoMessaggiSoapIn" />
      <wsdl:output message="tns:ElencoMessaggiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoNavBar">
      <wsdl:input message="tns:ElencoNavBarSoapIn" />
      <wsdl:output message="tns:ElencoNavBarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoMenuBar">
      <wsdl:input message="tns:ElencoMenuBarSoapIn" />
      <wsdl:output message="tns:ElencoMenuBarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoTipoDocumento">
      <wsdl:input message="tns:ElencoTipoDocumentoSoapIn" />
      <wsdl:output message="tns:ElencoTipoDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiOld">
      <wsdl:input message="tns:ElencoDocumentiOldSoapIn" />
      <wsdl:output message="tns:ElencoDocumentiOldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumenti">
      <wsdl:input message="tns:ElencoDocumentiSoapIn" />
      <wsdl:output message="tns:ElencoDocumentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiPersonali">
      <wsdl:input message="tns:ElencoDocumentiPersonaliSoapIn" />
      <wsdl:output message="tns:ElencoDocumentiPersonaliSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoNotifiche">
      <wsdl:input message="tns:ElencoNotificheSoapIn" />
      <wsdl:output message="tns:ElencoNotificheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoNotificheDocumenti">
      <wsdl:input message="tns:ElencoNotificheDocumentiSoapIn" />
      <wsdl:output message="tns:ElencoNotificheDocumentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaNotifiche">
      <wsdl:input message="tns:AggiornaNotificheSoapIn" />
      <wsdl:output message="tns:AggiornaNotificheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiaStato">
      <wsdl:input message="tns:CambiaStatoSoapIn" />
      <wsdl:output message="tns:CambiaStatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiaStatoOld">
      <wsdl:input message="tns:CambiaStatoOldSoapIn" />
      <wsdl:output message="tns:CambiaStatoOldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaDocumentiCassaOld">
      <wsdl:input message="tns:ListaDocumentiCassaOldSoapIn" />
      <wsdl:output message="tns:ListaDocumentiCassaOldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaDocumentiCassa">
      <wsdl:input message="tns:ListaDocumentiCassaSoapIn" />
      <wsdl:output message="tns:ListaDocumentiCassaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ByteDocOld">
      <wsdl:input message="tns:ByteDocOldSoapIn" />
      <wsdl:output message="tns:ByteDocOldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ByteDocPersonali">
      <wsdl:input message="tns:ByteDocPersonaliSoapIn" />
      <wsdl:output message="tns:ByteDocPersonaliSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ByteDoc">
      <wsdl:input message="tns:ByteDocSoapIn" />
      <wsdl:output message="tns:ByteDocSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HrPagaHttpGet">
    <wsdl:operation name="VerificaUser">
      <wsdl:input message="tns:VerificaUserHttpGetIn" />
      <wsdl:output message="tns:VerificaUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoMessaggi">
      <wsdl:input message="tns:ElencoMessaggiHttpGetIn" />
      <wsdl:output message="tns:ElencoMessaggiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoNavBar">
      <wsdl:input message="tns:ElencoNavBarHttpGetIn" />
      <wsdl:output message="tns:ElencoNavBarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoMenuBar">
      <wsdl:input message="tns:ElencoMenuBarHttpGetIn" />
      <wsdl:output message="tns:ElencoMenuBarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoTipoDocumento">
      <wsdl:input message="tns:ElencoTipoDocumentoHttpGetIn" />
      <wsdl:output message="tns:ElencoTipoDocumentoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiOld">
      <wsdl:input message="tns:ElencoDocumentiOldHttpGetIn" />
      <wsdl:output message="tns:ElencoDocumentiOldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumenti">
      <wsdl:input message="tns:ElencoDocumentiHttpGetIn" />
      <wsdl:output message="tns:ElencoDocumentiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiPersonali">
      <wsdl:input message="tns:ElencoDocumentiPersonaliHttpGetIn" />
      <wsdl:output message="tns:ElencoDocumentiPersonaliHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoNotifiche">
      <wsdl:input message="tns:ElencoNotificheHttpGetIn" />
      <wsdl:output message="tns:ElencoNotificheHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoNotificheDocumenti">
      <wsdl:input message="tns:ElencoNotificheDocumentiHttpGetIn" />
      <wsdl:output message="tns:ElencoNotificheDocumentiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaNotifiche">
      <wsdl:input message="tns:AggiornaNotificheHttpGetIn" />
      <wsdl:output message="tns:AggiornaNotificheHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiaStato">
      <wsdl:input message="tns:CambiaStatoHttpGetIn" />
      <wsdl:output message="tns:CambiaStatoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiaStatoOld">
      <wsdl:input message="tns:CambiaStatoOldHttpGetIn" />
      <wsdl:output message="tns:CambiaStatoOldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ByteDocOld">
      <wsdl:input message="tns:ByteDocOldHttpGetIn" />
      <wsdl:output message="tns:ByteDocOldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ByteDocPersonali">
      <wsdl:input message="tns:ByteDocPersonaliHttpGetIn" />
      <wsdl:output message="tns:ByteDocPersonaliHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ByteDoc">
      <wsdl:input message="tns:ByteDocHttpGetIn" />
      <wsdl:output message="tns:ByteDocHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HrPagaHttpPost">
    <wsdl:operation name="VerificaUser">
      <wsdl:input message="tns:VerificaUserHttpPostIn" />
      <wsdl:output message="tns:VerificaUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoMessaggi">
      <wsdl:input message="tns:ElencoMessaggiHttpPostIn" />
      <wsdl:output message="tns:ElencoMessaggiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoNavBar">
      <wsdl:input message="tns:ElencoNavBarHttpPostIn" />
      <wsdl:output message="tns:ElencoNavBarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoMenuBar">
      <wsdl:input message="tns:ElencoMenuBarHttpPostIn" />
      <wsdl:output message="tns:ElencoMenuBarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoTipoDocumento">
      <wsdl:input message="tns:ElencoTipoDocumentoHttpPostIn" />
      <wsdl:output message="tns:ElencoTipoDocumentoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiOld">
      <wsdl:input message="tns:ElencoDocumentiOldHttpPostIn" />
      <wsdl:output message="tns:ElencoDocumentiOldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumenti">
      <wsdl:input message="tns:ElencoDocumentiHttpPostIn" />
      <wsdl:output message="tns:ElencoDocumentiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiPersonali">
      <wsdl:input message="tns:ElencoDocumentiPersonaliHttpPostIn" />
      <wsdl:output message="tns:ElencoDocumentiPersonaliHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoNotifiche">
      <wsdl:input message="tns:ElencoNotificheHttpPostIn" />
      <wsdl:output message="tns:ElencoNotificheHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoNotificheDocumenti">
      <wsdl:input message="tns:ElencoNotificheDocumentiHttpPostIn" />
      <wsdl:output message="tns:ElencoNotificheDocumentiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaNotifiche">
      <wsdl:input message="tns:AggiornaNotificheHttpPostIn" />
      <wsdl:output message="tns:AggiornaNotificheHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiaStato">
      <wsdl:input message="tns:CambiaStatoHttpPostIn" />
      <wsdl:output message="tns:CambiaStatoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiaStatoOld">
      <wsdl:input message="tns:CambiaStatoOldHttpPostIn" />
      <wsdl:output message="tns:CambiaStatoOldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ByteDocOld">
      <wsdl:input message="tns:ByteDocOldHttpPostIn" />
      <wsdl:output message="tns:ByteDocOldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ByteDocPersonali">
      <wsdl:input message="tns:ByteDocPersonaliHttpPostIn" />
      <wsdl:output message="tns:ByteDocPersonaliHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ByteDoc">
      <wsdl:input message="tns:ByteDocHttpPostIn" />
      <wsdl:output message="tns:ByteDocHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HrPagaSoap" type="tns:HrPagaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificaUser">
      <soap:operation soapAction="HrPaga/VerificaUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoMessaggi">
      <soap:operation soapAction="HrPaga/ElencoMessaggi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNavBar">
      <soap:operation soapAction="HrPaga/ElencoNavBar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoMenuBar">
      <soap:operation soapAction="HrPaga/ElencoMenuBar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoTipoDocumento">
      <soap:operation soapAction="HrPaga/ElencoTipoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiOld">
      <soap:operation soapAction="HrPaga/ElencoDocumentiOld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumenti">
      <soap:operation soapAction="HrPaga/ElencoDocumenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiPersonali">
      <soap:operation soapAction="HrPaga/ElencoDocumentiPersonali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNotifiche">
      <soap:operation soapAction="HrPaga/ElencoNotifiche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNotificheDocumenti">
      <soap:operation soapAction="HrPaga/ElencoNotificheDocumenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaNotifiche">
      <soap:operation soapAction="HrPaga/AggiornaNotifiche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiaStato">
      <soap:operation soapAction="HrPaga/CambiaStato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiaStatoOld">
      <soap:operation soapAction="HrPaga/CambiaStatoOld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDocumentiCassaOld">
      <soap:operation soapAction="HrPaga/ListaDocumentiCassaOld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDocumentiCassa">
      <soap:operation soapAction="HrPaga/ListaDocumentiCassa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDocOld">
      <soap:operation soapAction="HrPaga/ByteDocOld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDocPersonali">
      <soap:operation soapAction="HrPaga/ByteDocPersonali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDoc">
      <soap:operation soapAction="HrPaga/ByteDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HrPagaSoap12" type="tns:HrPagaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificaUser">
      <soap12:operation soapAction="HrPaga/VerificaUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoMessaggi">
      <soap12:operation soapAction="HrPaga/ElencoMessaggi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNavBar">
      <soap12:operation soapAction="HrPaga/ElencoNavBar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoMenuBar">
      <soap12:operation soapAction="HrPaga/ElencoMenuBar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoTipoDocumento">
      <soap12:operation soapAction="HrPaga/ElencoTipoDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiOld">
      <soap12:operation soapAction="HrPaga/ElencoDocumentiOld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumenti">
      <soap12:operation soapAction="HrPaga/ElencoDocumenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiPersonali">
      <soap12:operation soapAction="HrPaga/ElencoDocumentiPersonali" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNotifiche">
      <soap12:operation soapAction="HrPaga/ElencoNotifiche" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNotificheDocumenti">
      <soap12:operation soapAction="HrPaga/ElencoNotificheDocumenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaNotifiche">
      <soap12:operation soapAction="HrPaga/AggiornaNotifiche" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiaStato">
      <soap12:operation soapAction="HrPaga/CambiaStato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiaStatoOld">
      <soap12:operation soapAction="HrPaga/CambiaStatoOld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDocumentiCassaOld">
      <soap12:operation soapAction="HrPaga/ListaDocumentiCassaOld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDocumentiCassa">
      <soap12:operation soapAction="HrPaga/ListaDocumentiCassa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDocOld">
      <soap12:operation soapAction="HrPaga/ByteDocOld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDocPersonali">
      <soap12:operation soapAction="HrPaga/ByteDocPersonali" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDoc">
      <soap12:operation soapAction="HrPaga/ByteDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HrPagaHttpGet" type="tns:HrPagaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="VerificaUser">
      <http:operation location="/VerificaUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoMessaggi">
      <http:operation location="/ElencoMessaggi" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNavBar">
      <http:operation location="/ElencoNavBar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoMenuBar">
      <http:operation location="/ElencoMenuBar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoTipoDocumento">
      <http:operation location="/ElencoTipoDocumento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiOld">
      <http:operation location="/ElencoDocumentiOld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumenti">
      <http:operation location="/ElencoDocumenti" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiPersonali">
      <http:operation location="/ElencoDocumentiPersonali" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNotifiche">
      <http:operation location="/ElencoNotifiche" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNotificheDocumenti">
      <http:operation location="/ElencoNotificheDocumenti" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaNotifiche">
      <http:operation location="/AggiornaNotifiche" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiaStato">
      <http:operation location="/CambiaStato" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiaStatoOld">
      <http:operation location="/CambiaStatoOld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDocOld">
      <http:operation location="/ByteDocOld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDocPersonali">
      <http:operation location="/ByteDocPersonali" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDoc">
      <http:operation location="/ByteDoc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HrPagaHttpPost" type="tns:HrPagaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="VerificaUser">
      <http:operation location="/VerificaUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoMessaggi">
      <http:operation location="/ElencoMessaggi" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNavBar">
      <http:operation location="/ElencoNavBar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoMenuBar">
      <http:operation location="/ElencoMenuBar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoTipoDocumento">
      <http:operation location="/ElencoTipoDocumento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiOld">
      <http:operation location="/ElencoDocumentiOld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumenti">
      <http:operation location="/ElencoDocumenti" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoDocumentiPersonali">
      <http:operation location="/ElencoDocumentiPersonali" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNotifiche">
      <http:operation location="/ElencoNotifiche" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoNotificheDocumenti">
      <http:operation location="/ElencoNotificheDocumenti" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaNotifiche">
      <http:operation location="/AggiornaNotifiche" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiaStato">
      <http:operation location="/CambiaStato" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiaStatoOld">
      <http:operation location="/CambiaStatoOld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDocOld">
      <http:operation location="/ByteDocOld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDocPersonali">
      <http:operation location="/ByteDocPersonali" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByteDoc">
      <http:operation location="/ByteDoc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HrPaga">
    <wsdl:port name="HrPagaSoap" binding="tns:HrPagaSoap">
      <soap:address location="http://hrpaga.servizi.rai.it/hrpaga.asmx" />
    </wsdl:port>
    <wsdl:port name="HrPagaSoap12" binding="tns:HrPagaSoap12">
      <soap12:address location="http://hrpaga.servizi.rai.it/hrpaga.asmx" />
    </wsdl:port>
    <wsdl:port name="HrPagaHttpGet" binding="tns:HrPagaHttpGet">
      <http:address location="http://hrpaga.servizi.rai.it/hrpaga.asmx" />
    </wsdl:port>
    <wsdl:port name="HrPagaHttpPost" binding="tns:HrPagaHttpPost">
      <http:address location="http://hrpaga.servizi.rai.it/hrpaga.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>