myRaiServiceTestClient/Web References/WebReference/FirmaStandard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cosign.itagile.it" elementFormDefault="qualified" targetNamespace="http://cosign.itagile.it" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fault" type="tns:ErroreServizioFirmaNonDisponibile" />
  <xs:element name="fault1" type="tns:ErroreAutorizzazione" />
  <xs:element name="fault2" type="tns:ErroreMatricolaSconosciuta" />
  <xs:element name="fault3" type="tns:ErroreFormatoDocumentoNonValido" />
  <xs:element name="fault4" type="tns:ErroreCertificatoDiFirmaScaduto" />
  <xs:element name="fault5" type="tns:ErroreInterno" />
  <xs:element name="firmaPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="in0" type="xs:string" />
        <xs:element name="in1" type="xs:string" />
        <xs:element name="in2" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="firmaPDFResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGraphicImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGraphicImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getGraphicImageReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signDigest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="utente" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="pinToSign" type="xs:string" />
        <xs:element name="digest" type="xs:base64Binary" />
        <xs:element name="digestAlgorithm" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signDigestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signDigestReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="pinToSign" type="xs:string" />
        <xs:element name="source" type="xs:base64Binary" />
        <xs:element name="fieldName" type="xs:string" />
        <xs:element name="page" type="xs:int" />
        <xs:element name="x" type="xs:int" />
        <xs:element name="y" type="xs:int" />
        <xs:element name="width" type="xs:int" />
        <xs:element name="height" type="xs:int" />
        <xs:element name="userName" type="xs:string" />
        <xs:element name="reason" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="dateFormat" type="xs:string" />
        <xs:element name="graphic" type="xs:boolean" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="fontSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signPDFReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ErroreMatricolaSconosciuta">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ErroreCertificatoDiFirmaScaduto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ErroreFormatoDocumentoNonValido">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ErroreServizioFirmaNonDisponibile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ErroreInterno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ErroreAutorizzazione">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FirmaRemotaException">
    <xs:sequence />
  </xs:complexType>
</xs:schema>