myRaiServiceTestClient/Web References/WebReference/FirmaStandard0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cosign.itagile.it" targetNamespace="http://cosign.itagile.it" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.16.161.202:8080/FirmaRemota/services/FirmaStandard?xsd=1" namespace="http://cosign.itagile.it" />
    </xsd:schema>
  </types>
  <message name="signPDF">
    <part name="parameters" element="tns:signPDF" />
  </message>
  <message name="signPDFResponse">
    <part name="parameters" element="tns:signPDFResponse" />
  </message>
  <message name="FirmaRemotaException_Exception">
    <part name="fault" element="tns:fault" />
  </message>
  <message name="signDigest">
    <part name="parameters" element="tns:signDigest" />
  </message>
  <message name="signDigestResponse">
    <part name="parameters" element="tns:signDigestResponse" />
  </message>
  <message name="getGraphicImage">
    <part name="parameters" element="tns:getGraphicImage" />
  </message>
  <message name="getGraphicImageResponse">
    <part name="parameters" element="tns:getGraphicImageResponse" />
  </message>
  <portType name="FirmaStandard">
    <operation name="signPDF">
      <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://cosign.itagile.it/FirmaStandard/signPDFRequest" message="tns:signPDF" />
      <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://cosign.itagile.it/FirmaStandard/signPDFResponse" message="tns:signPDFResponse" />
      <fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://cosign.itagile.it/FirmaStandard/signPDF/Fault/FirmaRemotaException_Exception" name="FirmaRemotaException_Exception" message="tns:FirmaRemotaException_Exception" />
    </operation>
    <operation name="signDigest">
      <input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://cosign.itagile.it/FirmaStandard/signDigestRequest" message="tns:signDigest" />
      <output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://cosign.itagile.it/FirmaStandard/signDigestResponse" message="tns:signDigestResponse" />
      <fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://cosign.itagile.it/FirmaStandard/signDigest/Fault/FirmaRemotaException_Exception" name="FirmaRemotaException_Exception" message="tns:FirmaRemotaException_Exception" />
    </operation>
    <operation name="getGraphicImage">
      <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://cosign.itagile.it/FirmaStandard/getGraphicImageRequest" message="tns:getGraphicImage" />
      <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://cosign.itagile.it/FirmaStandard/getGraphicImageResponse" message="tns:getGraphicImageResponse" />
      <fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://cosign.itagile.it/FirmaStandard/getGraphicImage/Fault/FirmaRemotaException_Exception" name="FirmaRemotaException_Exception" message="tns:FirmaRemotaException_Exception" />
    </operation>
  </portType>
</definitions>