myRaiServiceHub/Web References/it.rai.servizi.adweb/ADWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adweb.servizi.rai.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://adweb.servizi.rai.it/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://adweb.servizi.rai.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servizio web che reperisce i dati di un utente di Active Directory</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adweb.servizi.rai.it/">
      <s:element name="GetEntryInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntryInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntryInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gruppo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntriesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupsByEMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EMailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupsByEMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserGroupsByEMailResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserInGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gruppo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserInGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetUserInGroupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUsersInGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gruppo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="users" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="contest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetUsersInGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetUsersInGroupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelUserInGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gruppo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelUserInGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelUserInGroupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelAllUsersInGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gruppo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelAllUsersInGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelAllUsersInGroupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountUserInGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gruppo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountUserInGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountUserInGroupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetpropertyUserByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetpropertyUserByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetpropertyUserByNameResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Matricole" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="contest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntriesInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema targetNamespace="http://adweb.servizi.rai.it/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEntryInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntryInfo" />
  </wsdl:message>
  <wsdl:message name="GetEntryInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntries" />
  </wsdl:message>
  <wsdl:message name="GetEntriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByEMailSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserGroupsByEMail" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByEMailSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserGroupsByEMailResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserInGroupSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserInGroup" />
  </wsdl:message>
  <wsdl:message name="SetUserInGroupSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="SetUsersInGroupSoapIn">
    <wsdl:part name="parameters" element="tns:SetUsersInGroup" />
  </wsdl:message>
  <wsdl:message name="SetUsersInGroupSoapOut">
    <wsdl:part name="parameters" element="tns:SetUsersInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DelUserInGroupSoapIn">
    <wsdl:part name="parameters" element="tns:DelUserInGroup" />
  </wsdl:message>
  <wsdl:message name="DelUserInGroupSoapOut">
    <wsdl:part name="parameters" element="tns:DelUserInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DelAllUsersInGroupSoapIn">
    <wsdl:part name="parameters" element="tns:DelAllUsersInGroup" />
  </wsdl:message>
  <wsdl:message name="DelAllUsersInGroupSoapOut">
    <wsdl:part name="parameters" element="tns:DelAllUsersInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="CountUserInGroupSoapIn">
    <wsdl:part name="parameters" element="tns:CountUserInGroup" />
  </wsdl:message>
  <wsdl:message name="CountUserInGroupSoapOut">
    <wsdl:part name="parameters" element="tns:CountUserInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetpropertyUserByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetpropertyUserByName" />
  </wsdl:message>
  <wsdl:message name="GetpropertyUserByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetpropertyUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntriesInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntriesInfo" />
  </wsdl:message>
  <wsdl:message name="GetEntriesInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntriesInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntryInfoHttpGetIn">
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEntryInfoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetEntriesHttpGetIn">
    <wsdl:part name="gruppo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEntriesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByEMailHttpGetIn">
    <wsdl:part name="EMailAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByEMailHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SetUserInGroupHttpGetIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUserInGroupHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SetUsersInGroupHttpGetIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="users" type="s1:StringArray" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUsersInGroupHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DelUserInGroupHttpGetIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelUserInGroupHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DelAllUsersInGroupHttpGetIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelAllUsersInGroupHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CountUserInGroupHttpGetIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CountUserInGroupHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetpropertyUserByNameHttpGetIn">
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetpropertyUserByNameHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetEntriesInfoHttpGetIn">
    <wsdl:part name="Matricole" type="s1:StringArray" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEntriesInfoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetEntryInfoHttpPostIn">
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEntryInfoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetEntriesHttpPostIn">
    <wsdl:part name="gruppo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEntriesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByEMailHttpPostIn">
    <wsdl:part name="EMailAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsByEMailHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SetUserInGroupHttpPostIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUserInGroupHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SetUsersInGroupHttpPostIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="users" type="s1:StringArray" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUsersInGroupHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DelUserInGroupHttpPostIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelUserInGroupHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DelAllUsersInGroupHttpPostIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelAllUsersInGroupHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CountUserInGroupHttpPostIn">
    <wsdl:part name="gruppo" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CountUserInGroupHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetpropertyUserByNameHttpPostIn">
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetpropertyUserByNameHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetEntriesInfoHttpPostIn">
    <wsdl:part name="Matricole" type="s1:StringArray" />
    <wsdl:part name="contest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEntriesInfoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="ADWebSoap">
    <wsdl:operation name="GetEntryInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i dati dell'utente ricercato in ActiveDirectory</wsdl:documentation>
      <wsdl:input message="tns:GetEntryInfoSoapIn" />
      <wsdl:output message="tns:GetEntryInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce gli utenti che appartengono a 'gruppo'</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesSoapIn" />
      <wsdl:output message="tns:GetEntriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByEMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i gruppi a cui partecipa l'utente ricercato in ActiveDirectory tramite indirizzo email</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupsByEMailSoapIn" />
      <wsdl:output message="tns:GetUserGroupsByEMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert User in Group AD</wsdl:documentation>
      <wsdl:input message="tns:SetUserInGroupSoapIn" />
      <wsdl:output message="tns:SetUserInGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUsersInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Users in Group AD</wsdl:documentation>
      <wsdl:input message="tns:SetUsersInGroupSoapIn" />
      <wsdl:output message="tns:SetUsersInGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete an User in Group AD</wsdl:documentation>
      <wsdl:input message="tns:DelUserInGroupSoapIn" />
      <wsdl:output message="tns:DelUserInGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelAllUsersInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete all Users in Group AD</wsdl:documentation>
      <wsdl:input message="tns:DelAllUsersInGroupSoapIn" />
      <wsdl:output message="tns:DelAllUsersInGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Count  Users in Group AD</wsdl:documentation>
      <wsdl:input message="tns:CountUserInGroupSoapIn" />
      <wsdl:output message="tns:CountUserInGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetpropertyUserByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i gruppi a cui partecipa l'utente ricercato in ActiveDirectory tramite indirizzo email</wsdl:documentation>
      <wsdl:input message="tns:GetpropertyUserByNameSoapIn" />
      <wsdl:output message="tns:GetpropertyUserByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntriesInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i dati degli utenti ricercati in ActiveDirectory</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesInfoSoapIn" />
      <wsdl:output message="tns:GetEntriesInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ADWebHttpGet">
    <wsdl:operation name="GetEntryInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i dati dell'utente ricercato in ActiveDirectory</wsdl:documentation>
      <wsdl:input message="tns:GetEntryInfoHttpGetIn" />
      <wsdl:output message="tns:GetEntryInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce gli utenti che appartengono a 'gruppo'</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesHttpGetIn" />
      <wsdl:output message="tns:GetEntriesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByEMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i gruppi a cui partecipa l'utente ricercato in ActiveDirectory tramite indirizzo email</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupsByEMailHttpGetIn" />
      <wsdl:output message="tns:GetUserGroupsByEMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert User in Group AD</wsdl:documentation>
      <wsdl:input message="tns:SetUserInGroupHttpGetIn" />
      <wsdl:output message="tns:SetUserInGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUsersInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Users in Group AD</wsdl:documentation>
      <wsdl:input message="tns:SetUsersInGroupHttpGetIn" />
      <wsdl:output message="tns:SetUsersInGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DelUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete an User in Group AD</wsdl:documentation>
      <wsdl:input message="tns:DelUserInGroupHttpGetIn" />
      <wsdl:output message="tns:DelUserInGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DelAllUsersInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete all Users in Group AD</wsdl:documentation>
      <wsdl:input message="tns:DelAllUsersInGroupHttpGetIn" />
      <wsdl:output message="tns:DelAllUsersInGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CountUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Count  Users in Group AD</wsdl:documentation>
      <wsdl:input message="tns:CountUserInGroupHttpGetIn" />
      <wsdl:output message="tns:CountUserInGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetpropertyUserByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i gruppi a cui partecipa l'utente ricercato in ActiveDirectory tramite indirizzo email</wsdl:documentation>
      <wsdl:input message="tns:GetpropertyUserByNameHttpGetIn" />
      <wsdl:output message="tns:GetpropertyUserByNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntriesInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i dati degli utenti ricercati in ActiveDirectory</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesInfoHttpGetIn" />
      <wsdl:output message="tns:GetEntriesInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ADWebHttpPost">
    <wsdl:operation name="GetEntryInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i dati dell'utente ricercato in ActiveDirectory</wsdl:documentation>
      <wsdl:input message="tns:GetEntryInfoHttpPostIn" />
      <wsdl:output message="tns:GetEntryInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce gli utenti che appartengono a 'gruppo'</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesHttpPostIn" />
      <wsdl:output message="tns:GetEntriesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByEMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i gruppi a cui partecipa l'utente ricercato in ActiveDirectory tramite indirizzo email</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupsByEMailHttpPostIn" />
      <wsdl:output message="tns:GetUserGroupsByEMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert User in Group AD</wsdl:documentation>
      <wsdl:input message="tns:SetUserInGroupHttpPostIn" />
      <wsdl:output message="tns:SetUserInGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUsersInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert Users in Group AD</wsdl:documentation>
      <wsdl:input message="tns:SetUsersInGroupHttpPostIn" />
      <wsdl:output message="tns:SetUsersInGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DelUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete an User in Group AD</wsdl:documentation>
      <wsdl:input message="tns:DelUserInGroupHttpPostIn" />
      <wsdl:output message="tns:DelUserInGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DelAllUsersInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete all Users in Group AD</wsdl:documentation>
      <wsdl:input message="tns:DelAllUsersInGroupHttpPostIn" />
      <wsdl:output message="tns:DelAllUsersInGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CountUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Count  Users in Group AD</wsdl:documentation>
      <wsdl:input message="tns:CountUserInGroupHttpPostIn" />
      <wsdl:output message="tns:CountUserInGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetpropertyUserByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i gruppi a cui partecipa l'utente ricercato in ActiveDirectory tramite indirizzo email</wsdl:documentation>
      <wsdl:input message="tns:GetpropertyUserByNameHttpPostIn" />
      <wsdl:output message="tns:GetpropertyUserByNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntriesInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce i dati degli utenti ricercati in ActiveDirectory</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesInfoHttpPostIn" />
      <wsdl:output message="tns:GetEntriesInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ADWebSoap" type="tns:ADWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEntryInfo">
      <soap:operation soapAction="http://adweb.servizi.rai.it/GetEntryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntries">
      <soap:operation soapAction="http://adweb.servizi.rai.it/GetEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByEMail">
      <soap:operation soapAction="http://adweb.servizi.rai.it/GetUserGroupsByEMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInGroup">
      <soap:operation soapAction="http://adweb.servizi.rai.it/SetUserInGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUsersInGroup">
      <soap:operation soapAction="http://adweb.servizi.rai.it/SetUsersInGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUserInGroup">
      <soap:operation soapAction="http://adweb.servizi.rai.it/DelUserInGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelAllUsersInGroup">
      <soap:operation soapAction="http://adweb.servizi.rai.it/DelAllUsersInGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUserInGroup">
      <soap:operation soapAction="http://adweb.servizi.rai.it/CountUserInGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetpropertyUserByName">
      <soap:operation soapAction="http://adweb.servizi.rai.it/GetpropertyUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesInfo">
      <soap:operation soapAction="http://adweb.servizi.rai.it/GetEntriesInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ADWebSoap12" type="tns:ADWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEntryInfo">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/GetEntryInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntries">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/GetEntries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByEMail">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/GetUserGroupsByEMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInGroup">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/SetUserInGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUsersInGroup">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/SetUsersInGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUserInGroup">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/DelUserInGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelAllUsersInGroup">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/DelAllUsersInGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUserInGroup">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/CountUserInGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetpropertyUserByName">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/GetpropertyUserByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesInfo">
      <soap12:operation soapAction="http://adweb.servizi.rai.it/GetEntriesInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ADWebHttpGet" type="tns:ADWebHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetEntryInfo">
      <http:operation location="/GetEntryInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntries">
      <http:operation location="/GetEntries" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByEMail">
      <http:operation location="/GetUserGroupsByEMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInGroup">
      <http:operation location="/SetUserInGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUsersInGroup">
      <http:operation location="/SetUsersInGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUserInGroup">
      <http:operation location="/DelUserInGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelAllUsersInGroup">
      <http:operation location="/DelAllUsersInGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUserInGroup">
      <http:operation location="/CountUserInGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetpropertyUserByName">
      <http:operation location="/GetpropertyUserByName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesInfo">
      <http:operation location="/GetEntriesInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ADWebHttpPost" type="tns:ADWebHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetEntryInfo">
      <http:operation location="/GetEntryInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntries">
      <http:operation location="/GetEntries" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsByEMail">
      <http:operation location="/GetUserGroupsByEMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInGroup">
      <http:operation location="/SetUserInGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUsersInGroup">
      <http:operation location="/SetUsersInGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUserInGroup">
      <http:operation location="/DelUserInGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelAllUsersInGroup">
      <http:operation location="/DelAllUsersInGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUserInGroup">
      <http:operation location="/CountUserInGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetpropertyUserByName">
      <http:operation location="/GetpropertyUserByName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesInfo">
      <http:operation location="/GetEntriesInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ADWeb">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servizio web che reperisce i dati di un utente di Active Directory</wsdl:documentation>
    <wsdl:port name="ADWebSoap" binding="tns:ADWebSoap">
      <soap:address location="http://adweb.servizi.rai.it/ADWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ADWebSoap12" binding="tns:ADWebSoap12">
      <soap12:address location="http://adweb.servizi.rai.it/ADWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ADWebHttpGet" binding="tns:ADWebHttpGet">
      <http:address location="http://adweb.servizi.rai.it/ADWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ADWebHttpPost" binding="tns:ADWebHttpPost">
      <http:address location="http://adweb.servizi.rai.it/ADWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>