myRaiServiceTestClient/Web References/it.rai.servizi.sendmail/mail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://rai/webservices/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://rai/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rai/webservices/">
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEmail" type="tns:Email" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Email">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="toList" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="ccList" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="bccList" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendWhen" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CharSet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentTransferEncoding" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AttachementsList" type="tns:ArrayOfAttachement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAttachement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attachement" nillable="true" type="tns:Attachement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attachement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AttachementName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AttachementType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AttachementValue" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSoapIn">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:portType name="MailSenderSoap">
    <wsdl:operation name="Send">
      <wsdl:input message="tns:SendSoapIn" />
      <wsdl:output message="tns:SendSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailSenderSoap" type="tns:MailSenderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://rai/webservices/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailSender">
    <wsdl:port name="MailSenderSoap" binding="tns:MailSenderSoap">
      <soap:address location="http://sendmail.servizi.rai.it/mail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>