EsecutoreTask/Connected Services/MyRaiServiceReference1/MyRaiService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyRaiService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/myRaiService" />
      <xsd:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/myRaiData" />
      <xsd:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/myRaiService.it.rai.servizi.svildigigappws" />
      <xsd:import schemaLocation="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/myRaiService.classi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyRaiService1_SalvaGiornoInizioSettimanaSede_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvaGiornoInizioSettimanaSede" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SalvaGiornoInizioSettimanaSede_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvaGiornoInizioSettimanaSedeResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetVisualizzazioneGiornata_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVisualizzazioneGiornata" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetVisualizzazioneGiornata_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetVisualizzazioneGiornataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_InserisciNotaRichiesta_InputMessage">
    <wsdl:part name="parameters" element="tns:InserisciNotaRichiesta" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_InserisciNotaRichiesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserisciNotaRichiestaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_ModificaNotaRichiesta_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaNotaRichiesta" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_ModificaNotaRichiesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaNotaRichiestaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_EliminaNotaRichiesta_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaNotaRichiesta" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_EliminaNotaRichiesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaNotaRichiestaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetLettura_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLettura" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetLettura_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLetturaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNotaRichiesta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotaRichiesta" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNotaRichiesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotaRichiestaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteRichieste_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteRichieste" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteRichieste_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteRichiesteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteRichiestePerSedeGapp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteRichiestePerSedeGapp" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteRichiestePerSedeGapp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteRichiestePerSedeGappResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteRichiestePerSedeGappFiltrata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteRichiestePerSedeGappFiltrata" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteRichiestePerSedeGappFiltrata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteRichiestePerSedeGappFiltrataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_POH_ROH_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_POH_ROH" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_POH_ROH_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_POH_ROHResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetLista_Eccezioni_Giornalisti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLista_Eccezioni_Giornalisti" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetLista_Eccezioni_Giornalisti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLista_Eccezioni_GiornalistiResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_STSE_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_STSE" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_STSE_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_STSEResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_STR_STRF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_STR_STRF" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_STR_STRF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_STR_STRFResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_Reperibilita_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_Reperibilita" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_Reperibilita_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_ReperibilitaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_Carenza_MP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_Carenza_MP" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetReport_Carenza_MP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReport_Carenza_MPResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetInfoMensa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoMensa" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetInfoMensa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoMensaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetModuloDetassazione_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuloDetassazione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetModuloDetassazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuloDetassazioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetSceltaDetassazione_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSceltaDetassazione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetSceltaDetassazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSceltaDetassazioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_ResetModuloDetassazione_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetModuloDetassazione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_ResetModuloDetassazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetModuloDetassazioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetGiorniConsecutivi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGiorniConsecutivi" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetGiorniConsecutivi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGiorniConsecutiviResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_Version_InputMessage">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_Version_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetApprovatoriProduzione_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovatoriProduzione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetApprovatoriProduzione_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovatoriProduzioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetApprovatoreProduzione_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApprovatoreProduzione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetApprovatoreProduzione_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApprovatoreProduzioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetApprovatoriProduzioneByTitolo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovatoriProduzioneByTitolo" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetApprovatoriProduzioneByTitolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovatoriProduzioneByTitoloResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetProduzioniByApprovatore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduzioniByApprovatore" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetProduzioniByApprovatore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProduzioniByApprovatoreResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_DeleteApprovatoreProduzione_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApprovatoreProduzione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_DeleteApprovatoreProduzione_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApprovatoreProduzioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetContatoriEccezioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContatoriEccezioni" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetContatoriEccezioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContatoriEccezioniResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetPianoFeriePDF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPianoFeriePDF" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetPianoFeriePDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPianoFeriePDFResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetPianoFerieAnno_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPianoFerieAnno" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetPianoFerieAnno_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPianoFerieAnnoResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetProvvedimentiCause_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvvedimentiCause" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetProvvedimentiCause_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvvedimentiCauseResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetEccezioniComplessive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEccezioniComplessive" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetEccezioniComplessive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEccezioniComplessiveResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetElencoVisualizzazioneGiornata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoVisualizzazioneGiornata" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetElencoVisualizzazioneGiornata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoVisualizzazioneGiornataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetStatoEccezioniGiornate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatoEccezioniGiornate" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetStatoEccezioniGiornate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatoEccezioniGiornateResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetFerie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFerie" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetFerie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFerieResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetInformazioniDipendente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInformazioniDipendente" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetInformazioniDipendente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInformazioniDipendenteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetListaSediGappSettimana_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListaSediGappSettimana" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetListaSediGappSettimana_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListaSediGappSettimanaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteSegreteria_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteSegreteria" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteSegreteria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteSegreteriaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteSegreteriaPerData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteSegreteriaPerData" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetNoteSegreteriaPerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteSegreteriaPerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_getOrario_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrario" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_getOrario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrarioResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetRiepilogo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRiepilogo" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetRiepilogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRiepilogoResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetSchedaPresenzeMese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedaPresenzeMese" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetSchedaPresenzeMese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedaPresenzeMeseResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetSituazioneDebitoria_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSituazioneDebitoria" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetSituazioneDebitoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSituazioneDebitoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetStorni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorni" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetStorni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorniResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetTimbratureMese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimbratureMese" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetTimbratureMese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimbratureMeseResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetTipiInfoDipendente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTipiInfoDipendente" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetTipiInfoDipendente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTipiInfoDipendenteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetTrasferte_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrasferte" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetTrasferte_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrasferteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetVisualizzazioneGiornata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualizzazioneGiornata" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetVisualizzazioneGiornata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualizzazioneGiornataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_InserisciNotaSegreteria_InputMessage">
    <wsdl:part name="parameters" element="tns:InserisciNotaSegreteria" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_InserisciNotaSegreteria_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserisciNotaSegreteriaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_presenzeGiornaliere_InputMessage">
    <wsdl:part name="parameters" element="tns:presenzeGiornaliere" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_presenzeGiornaliere_OutputMessage">
    <wsdl:part name="parameters" element="tns:presenzeGiornaliereResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_PresenzeSettimanali_InputMessage">
    <wsdl:part name="parameters" element="tns:PresenzeSettimanali" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_PresenzeSettimanali_OutputMessage">
    <wsdl:part name="parameters" element="tns:PresenzeSettimanaliResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_recuperaPdf_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperaPdf" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_recuperaPdf_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperaPdfResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_recuperaUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperaUtente" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_recuperaUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperaUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_RigeneraPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:RigeneraPDF" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_RigeneraPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:RigeneraPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_RigeneraPDFpresenze_InputMessage">
    <wsdl:part name="parameters" element="tns:RigeneraPDFpresenze" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_RigeneraPDFpresenze_OutputMessage">
    <wsdl:part name="parameters" element="tns:RigeneraPDFpresenzeResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_RimuoviNotaSegreteria_InputMessage">
    <wsdl:part name="parameters" element="tns:RimuoviNotaSegreteria" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_RimuoviNotaSegreteria_OutputMessage">
    <wsdl:part name="parameters" element="tns:RimuoviNotaSegreteriaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetCodiceFiscaleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodiceFiscaleInfo" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetCodiceFiscaleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodiceFiscaleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetPagamentoEccezione_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPagamentoEccezione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetPagamentoEccezione_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPagamentoEccezioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetStatoEccezione_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStatoEccezione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetStatoEccezione_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStatoEccezioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetRuoli_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuoli" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetRuoli_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuoliResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_ClearCacheResoconti_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheResoconti" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_ClearCacheResoconti_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheResocontiResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetRipianificazioniMatricola_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRipianificazioniMatricola" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetRipianificazioniMatricola_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRipianificazioniMatricolaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetPeriodiSW_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeriodiSW" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetPeriodiSW_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeriodiSWResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_InviaPianoFerie_InputMessage">
    <wsdl:part name="parameters" element="tns:InviaPianoFerie" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_InviaPianoFerie_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviaPianoFerieResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetRuolo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRuolo" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SetRuolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRuoloResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_RiCreaResoconti_InputMessage">
    <wsdl:part name="parameters" element="tns:RiCreaResoconti" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_RiCreaResoconti_OutputMessage">
    <wsdl:part name="parameters" element="tns:RiCreaResocontiResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetRipianificazioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRipianificazioni" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetRipianificazioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRipianificazioniResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetEccezioniRicalcolate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEccezioniRicalcolate" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetEccezioniRicalcolate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEccezioniRicalcolateResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SbloccaEccezione_InputMessage">
    <wsdl:part name="parameters" element="tns:SbloccaEccezione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_SbloccaEccezione_OutputMessage">
    <wsdl:part name="parameters" element="tns:SbloccaEccezioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_AggiornaNotaSegreteria_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaNotaSegreteria" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_AggiornaNotaSegreteria_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaNotaSegreteriaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_AllineaGiornata_InputMessage">
    <wsdl:part name="parameters" element="tns:AllineaGiornata" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_AllineaGiornata_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllineaGiornataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_cambiaInformazioniDipendente_InputMessage">
    <wsdl:part name="parameters" element="tns:cambiaInformazioniDipendente" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_cambiaInformazioniDipendente_OutputMessage">
    <wsdl:part name="parameters" element="tns:cambiaInformazioniDipendenteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_CambiaStato_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiaStato" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_CambiaStato_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiaStatoResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_ComunicaCICS_InputMessage">
    <wsdl:part name="parameters" element="tns:ComunicaCICS" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_ComunicaCICS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComunicaCICSResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_creaNuovaInfoDipendente_InputMessage">
    <wsdl:part name="parameters" element="tns:creaNuovaInfoDipendente" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_creaNuovaInfoDipendente_OutputMessage">
    <wsdl:part name="parameters" element="tns:creaNuovaInfoDipendenteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_creaNuovaTipologiaInfoDipendente_InputMessage">
    <wsdl:part name="parameters" element="tns:creaNuovaTipologiaInfoDipendente" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_creaNuovaTipologiaInfoDipendente_OutputMessage">
    <wsdl:part name="parameters" element="tns:creaNuovaTipologiaInfoDipendenteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_EliminaInfoDipendente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaInfoDipendente" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_EliminaInfoDipendente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaInfoDipendenteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetAnalisiEccezioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalisiEccezioni" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetAnalisiEccezioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalisiEccezioniResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetAnalisiEccezioni2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalisiEccezioni2" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetAnalisiEccezioni2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalisiEccezioni2Response" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetDettagli_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDettagli" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetDettagli_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDettagliResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetDettagliGiornata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDettagliGiornata" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetDettagliGiornata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDettagliGiornataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_getDipendentiPeriodo_InputMessage">
    <wsdl:part name="parameters" element="tns:getDipendentiPeriodo" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_getDipendentiPeriodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDipendentiPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetDocumentoEccezione_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentoEccezione" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetDocumentoEccezione_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentoEccezioneResponse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetEccezioniAmmesse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEccezioniAmmesse" />
  </wsdl:message>
  <wsdl:message name="IMyRaiService1_GetEccezioniAmmesse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEccezioniAmmesseResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyRaiService1">
    <wsdl:operation name="SalvaGiornoInizioSettimanaSede">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/SalvaGiornoInizioSettimanaSede" message="tns:IMyRaiService1_SalvaGiornoInizioSettimanaSede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/SalvaGiornoInizioSettimanaSedeResponse" message="tns:IMyRaiService1_SalvaGiornoInizioSettimanaSede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetVisualizzazioneGiornata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/SetVisualizzazioneGiornata" message="tns:IMyRaiService1_SetVisualizzazioneGiornata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/SetVisualizzazioneGiornataResponse" message="tns:IMyRaiService1_SetVisualizzazioneGiornata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserisciNotaRichiesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/InserisciNotaRichiesta" message="tns:IMyRaiService1_InserisciNotaRichiesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/InserisciNotaRichiestaResponse" message="tns:IMyRaiService1_InserisciNotaRichiesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaNotaRichiesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/ModificaNotaRichiesta" message="tns:IMyRaiService1_ModificaNotaRichiesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/ModificaNotaRichiestaResponse" message="tns:IMyRaiService1_ModificaNotaRichiesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaNotaRichiesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/EliminaNotaRichiesta" message="tns:IMyRaiService1_EliminaNotaRichiesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/EliminaNotaRichiestaResponse" message="tns:IMyRaiService1_EliminaNotaRichiesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLettura">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/SetLettura" message="tns:IMyRaiService1_SetLettura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/SetLetturaResponse" message="tns:IMyRaiService1_SetLettura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotaRichiesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetNotaRichiesta" message="tns:IMyRaiService1_GetNotaRichiesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetNotaRichiestaResponse" message="tns:IMyRaiService1_GetNotaRichiesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoteRichieste">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteRichieste" message="tns:IMyRaiService1_GetNoteRichieste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteRichiesteResponse" message="tns:IMyRaiService1_GetNoteRichieste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoteRichiestePerSedeGapp">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteRichiestePerSedeGapp" message="tns:IMyRaiService1_GetNoteRichiestePerSedeGapp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteRichiestePerSedeGappResponse" message="tns:IMyRaiService1_GetNoteRichiestePerSedeGapp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoteRichiestePerSedeGappFiltrata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteRichiestePerSedeGappFiltrata" message="tns:IMyRaiService1_GetNoteRichiestePerSedeGappFiltrata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteRichiestePerSedeGappFiltrataResponse" message="tns:IMyRaiService1_GetNoteRichiestePerSedeGappFiltrata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReport_POH_ROH">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_POH_ROH" message="tns:IMyRaiService1_GetReport_POH_ROH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_POH_ROHResponse" message="tns:IMyRaiService1_GetReport_POH_ROH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLista_Eccezioni_Giornalisti">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetLista_Eccezioni_Giornalisti" message="tns:IMyRaiService1_GetLista_Eccezioni_Giornalisti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetLista_Eccezioni_GiornalistiResponse" message="tns:IMyRaiService1_GetLista_Eccezioni_Giornalisti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReport_STSE">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_STSE" message="tns:IMyRaiService1_GetReport_STSE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_STSEResponse" message="tns:IMyRaiService1_GetReport_STSE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReport_STR_STRF">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_STR_STRF" message="tns:IMyRaiService1_GetReport_STR_STRF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_STR_STRFResponse" message="tns:IMyRaiService1_GetReport_STR_STRF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReport_Reperibilita">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_Reperibilita" message="tns:IMyRaiService1_GetReport_Reperibilita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_ReperibilitaResponse" message="tns:IMyRaiService1_GetReport_Reperibilita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReport_Carenza_MP">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_Carenza_MP" message="tns:IMyRaiService1_GetReport_Carenza_MP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetReport_Carenza_MPResponse" message="tns:IMyRaiService1_GetReport_Carenza_MP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoMensa">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetInfoMensa" message="tns:IMyRaiService1_GetInfoMensa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetInfoMensaResponse" message="tns:IMyRaiService1_GetInfoMensa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuloDetassazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetModuloDetassazione" message="tns:IMyRaiService1_GetModuloDetassazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetModuloDetassazioneResponse" message="tns:IMyRaiService1_GetModuloDetassazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSceltaDetassazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/SetSceltaDetassazione" message="tns:IMyRaiService1_SetSceltaDetassazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/SetSceltaDetassazioneResponse" message="tns:IMyRaiService1_SetSceltaDetassazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetModuloDetassazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/ResetModuloDetassazione" message="tns:IMyRaiService1_ResetModuloDetassazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/ResetModuloDetassazioneResponse" message="tns:IMyRaiService1_ResetModuloDetassazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGiorniConsecutivi">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetGiorniConsecutivi" message="tns:IMyRaiService1_GetGiorniConsecutivi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetGiorniConsecutiviResponse" message="tns:IMyRaiService1_GetGiorniConsecutivi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Version">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/Version" message="tns:IMyRaiService1_Version_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/VersionResponse" message="tns:IMyRaiService1_Version_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovatoriProduzione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetApprovatoriProduzione" message="tns:IMyRaiService1_GetApprovatoriProduzione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetApprovatoriProduzioneResponse" message="tns:IMyRaiService1_GetApprovatoriProduzione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApprovatoreProduzione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/SetApprovatoreProduzione" message="tns:IMyRaiService1_SetApprovatoreProduzione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/SetApprovatoreProduzioneResponse" message="tns:IMyRaiService1_SetApprovatoreProduzione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovatoriProduzioneByTitolo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetApprovatoriProduzioneByTitolo" message="tns:IMyRaiService1_GetApprovatoriProduzioneByTitolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetApprovatoriProduzioneByTitoloResponse" message="tns:IMyRaiService1_GetApprovatoriProduzioneByTitolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduzioniByApprovatore">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetProduzioniByApprovatore" message="tns:IMyRaiService1_GetProduzioniByApprovatore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetProduzioniByApprovatoreResponse" message="tns:IMyRaiService1_GetProduzioniByApprovatore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteApprovatoreProduzione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/DeleteApprovatoreProduzione" message="tns:IMyRaiService1_DeleteApprovatoreProduzione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/DeleteApprovatoreProduzioneResponse" message="tns:IMyRaiService1_DeleteApprovatoreProduzione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContatoriEccezioni">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetContatoriEccezioni" message="tns:IMyRaiService1_GetContatoriEccezioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetContatoriEccezioniResponse" message="tns:IMyRaiService1_GetContatoriEccezioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPianoFeriePDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetPianoFeriePDF" message="tns:IMyRaiService1_GetPianoFeriePDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetPianoFeriePDFResponse" message="tns:IMyRaiService1_GetPianoFeriePDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPianoFerieAnno">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetPianoFerieAnno" message="tns:IMyRaiService1_GetPianoFerieAnno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetPianoFerieAnnoResponse" message="tns:IMyRaiService1_GetPianoFerieAnno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvvedimentiCause">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetProvvedimentiCause" message="tns:IMyRaiService1_GetProvvedimentiCause_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetProvvedimentiCauseResponse" message="tns:IMyRaiService1_GetProvvedimentiCause_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEccezioniComplessive">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetEccezioniComplessive" message="tns:IMyRaiService1_GetEccezioniComplessive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetEccezioniComplessiveResponse" message="tns:IMyRaiService1_GetEccezioniComplessive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoVisualizzazioneGiornata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetElencoVisualizzazioneGiornata" message="tns:IMyRaiService1_GetElencoVisualizzazioneGiornata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetElencoVisualizzazioneGiornataResponse" message="tns:IMyRaiService1_GetElencoVisualizzazioneGiornata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatoEccezioniGiornate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetStatoEccezioniGiornate" message="tns:IMyRaiService1_GetStatoEccezioniGiornate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetStatoEccezioniGiornateResponse" message="tns:IMyRaiService1_GetStatoEccezioniGiornate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFerie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetFerie" message="tns:IMyRaiService1_GetFerie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetFerieResponse" message="tns:IMyRaiService1_GetFerie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInformazioniDipendente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetInformazioniDipendente" message="tns:IMyRaiService1_GetInformazioniDipendente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetInformazioniDipendenteResponse" message="tns:IMyRaiService1_GetInformazioniDipendente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListaSediGappSettimana">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetListaSediGappSettimana" message="tns:IMyRaiService1_GetListaSediGappSettimana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetListaSediGappSettimanaResponse" message="tns:IMyRaiService1_GetListaSediGappSettimana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoteSegreteria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteSegreteria" message="tns:IMyRaiService1_GetNoteSegreteria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteSegreteriaResponse" message="tns:IMyRaiService1_GetNoteSegreteria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoteSegreteriaPerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteSegreteriaPerData" message="tns:IMyRaiService1_GetNoteSegreteriaPerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetNoteSegreteriaPerDataResponse" message="tns:IMyRaiService1_GetNoteSegreteriaPerData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/getOrario" message="tns:IMyRaiService1_getOrario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/getOrarioResponse" message="tns:IMyRaiService1_getOrario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRiepilogo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetRiepilogo" message="tns:IMyRaiService1_GetRiepilogo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetRiepilogoResponse" message="tns:IMyRaiService1_GetRiepilogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedaPresenzeMese">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetSchedaPresenzeMese" message="tns:IMyRaiService1_GetSchedaPresenzeMese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetSchedaPresenzeMeseResponse" message="tns:IMyRaiService1_GetSchedaPresenzeMese_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSituazioneDebitoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetSituazioneDebitoria" message="tns:IMyRaiService1_GetSituazioneDebitoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetSituazioneDebitoriaResponse" message="tns:IMyRaiService1_GetSituazioneDebitoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorni">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetStorni" message="tns:IMyRaiService1_GetStorni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetStorniResponse" message="tns:IMyRaiService1_GetStorni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimbratureMese">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetTimbratureMese" message="tns:IMyRaiService1_GetTimbratureMese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetTimbratureMeseResponse" message="tns:IMyRaiService1_GetTimbratureMese_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTipiInfoDipendente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetTipiInfoDipendente" message="tns:IMyRaiService1_GetTipiInfoDipendente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetTipiInfoDipendenteResponse" message="tns:IMyRaiService1_GetTipiInfoDipendente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrasferte">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetTrasferte" message="tns:IMyRaiService1_GetTrasferte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetTrasferteResponse" message="tns:IMyRaiService1_GetTrasferte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisualizzazioneGiornata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetVisualizzazioneGiornata" message="tns:IMyRaiService1_GetVisualizzazioneGiornata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetVisualizzazioneGiornataResponse" message="tns:IMyRaiService1_GetVisualizzazioneGiornata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserisciNotaSegreteria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/InserisciNotaSegreteria" message="tns:IMyRaiService1_InserisciNotaSegreteria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/InserisciNotaSegreteriaResponse" message="tns:IMyRaiService1_InserisciNotaSegreteria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="presenzeGiornaliere">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/presenzeGiornaliere" message="tns:IMyRaiService1_presenzeGiornaliere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/presenzeGiornaliereResponse" message="tns:IMyRaiService1_presenzeGiornaliere_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PresenzeSettimanali">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/PresenzeSettimanali" message="tns:IMyRaiService1_PresenzeSettimanali_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/PresenzeSettimanaliResponse" message="tns:IMyRaiService1_PresenzeSettimanali_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperaPdf">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/recuperaPdf" message="tns:IMyRaiService1_recuperaPdf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/recuperaPdfResponse" message="tns:IMyRaiService1_recuperaPdf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperaUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/recuperaUtente" message="tns:IMyRaiService1_recuperaUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/recuperaUtenteResponse" message="tns:IMyRaiService1_recuperaUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RigeneraPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/RigeneraPDF" message="tns:IMyRaiService1_RigeneraPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/RigeneraPDFResponse" message="tns:IMyRaiService1_RigeneraPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RigeneraPDFpresenze">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/RigeneraPDFpresenze" message="tns:IMyRaiService1_RigeneraPDFpresenze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/RigeneraPDFpresenzeResponse" message="tns:IMyRaiService1_RigeneraPDFpresenze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RimuoviNotaSegreteria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/RimuoviNotaSegreteria" message="tns:IMyRaiService1_RimuoviNotaSegreteria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/RimuoviNotaSegreteriaResponse" message="tns:IMyRaiService1_RimuoviNotaSegreteria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodiceFiscaleInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetCodiceFiscaleInfo" message="tns:IMyRaiService1_GetCodiceFiscaleInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetCodiceFiscaleInfoResponse" message="tns:IMyRaiService1_GetCodiceFiscaleInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPagamentoEccezione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/SetPagamentoEccezione" message="tns:IMyRaiService1_SetPagamentoEccezione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/SetPagamentoEccezioneResponse" message="tns:IMyRaiService1_SetPagamentoEccezione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStatoEccezione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/SetStatoEccezione" message="tns:IMyRaiService1_SetStatoEccezione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/SetStatoEccezioneResponse" message="tns:IMyRaiService1_SetStatoEccezione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuoli">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetRuoli" message="tns:IMyRaiService1_GetRuoli_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetRuoliResponse" message="tns:IMyRaiService1_GetRuoli_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCacheResoconti">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/ClearCacheResoconti" message="tns:IMyRaiService1_ClearCacheResoconti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/ClearCacheResocontiResponse" message="tns:IMyRaiService1_ClearCacheResoconti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRipianificazioniMatricola">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetRipianificazioniMatricola" message="tns:IMyRaiService1_GetRipianificazioniMatricola_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetRipianificazioniMatricolaResponse" message="tns:IMyRaiService1_GetRipianificazioniMatricola_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeriodiSW">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetPeriodiSW" message="tns:IMyRaiService1_GetPeriodiSW_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetPeriodiSWResponse" message="tns:IMyRaiService1_GetPeriodiSW_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviaPianoFerie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/InviaPianoFerie" message="tns:IMyRaiService1_InviaPianoFerie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/InviaPianoFerieResponse" message="tns:IMyRaiService1_InviaPianoFerie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRuolo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/SetRuolo" message="tns:IMyRaiService1_SetRuolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/SetRuoloResponse" message="tns:IMyRaiService1_SetRuolo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RiCreaResoconti">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/RiCreaResoconti" message="tns:IMyRaiService1_RiCreaResoconti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/RiCreaResocontiResponse" message="tns:IMyRaiService1_RiCreaResoconti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRipianificazioni">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetRipianificazioni" message="tns:IMyRaiService1_GetRipianificazioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetRipianificazioniResponse" message="tns:IMyRaiService1_GetRipianificazioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEccezioniRicalcolate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetEccezioniRicalcolate" message="tns:IMyRaiService1_GetEccezioniRicalcolate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetEccezioniRicalcolateResponse" message="tns:IMyRaiService1_GetEccezioniRicalcolate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SbloccaEccezione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/SbloccaEccezione" message="tns:IMyRaiService1_SbloccaEccezione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/SbloccaEccezioneResponse" message="tns:IMyRaiService1_SbloccaEccezione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaNotaSegreteria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/AggiornaNotaSegreteria" message="tns:IMyRaiService1_AggiornaNotaSegreteria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/AggiornaNotaSegreteriaResponse" message="tns:IMyRaiService1_AggiornaNotaSegreteria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllineaGiornata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/AllineaGiornata" message="tns:IMyRaiService1_AllineaGiornata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/AllineaGiornataResponse" message="tns:IMyRaiService1_AllineaGiornata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cambiaInformazioniDipendente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/cambiaInformazioniDipendente" message="tns:IMyRaiService1_cambiaInformazioniDipendente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/cambiaInformazioniDipendenteResponse" message="tns:IMyRaiService1_cambiaInformazioniDipendente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiaStato">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/CambiaStato" message="tns:IMyRaiService1_CambiaStato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/CambiaStatoResponse" message="tns:IMyRaiService1_CambiaStato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComunicaCICS">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/ComunicaCICS" message="tns:IMyRaiService1_ComunicaCICS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/ComunicaCICSResponse" message="tns:IMyRaiService1_ComunicaCICS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="creaNuovaInfoDipendente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/creaNuovaInfoDipendente" message="tns:IMyRaiService1_creaNuovaInfoDipendente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/creaNuovaInfoDipendenteResponse" message="tns:IMyRaiService1_creaNuovaInfoDipendente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="creaNuovaTipologiaInfoDipendente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/creaNuovaTipologiaInfoDipendente" message="tns:IMyRaiService1_creaNuovaTipologiaInfoDipendente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/creaNuovaTipologiaInfoDipendenteResponse" message="tns:IMyRaiService1_creaNuovaTipologiaInfoDipendente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaInfoDipendente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/EliminaInfoDipendente" message="tns:IMyRaiService1_EliminaInfoDipendente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/EliminaInfoDipendenteResponse" message="tns:IMyRaiService1_EliminaInfoDipendente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalisiEccezioni">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetAnalisiEccezioni" message="tns:IMyRaiService1_GetAnalisiEccezioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetAnalisiEccezioniResponse" message="tns:IMyRaiService1_GetAnalisiEccezioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalisiEccezioni2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetAnalisiEccezioni2" message="tns:IMyRaiService1_GetAnalisiEccezioni2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetAnalisiEccezioni2Response" message="tns:IMyRaiService1_GetAnalisiEccezioni2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDettagli">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetDettagli" message="tns:IMyRaiService1_GetDettagli_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetDettagliResponse" message="tns:IMyRaiService1_GetDettagli_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDettagliGiornata">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetDettagliGiornata" message="tns:IMyRaiService1_GetDettagliGiornata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetDettagliGiornataResponse" message="tns:IMyRaiService1_GetDettagliGiornata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDipendentiPeriodo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/getDipendentiPeriodo" message="tns:IMyRaiService1_getDipendentiPeriodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/getDipendentiPeriodoResponse" message="tns:IMyRaiService1_getDipendentiPeriodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentoEccezione">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetDocumentoEccezione" message="tns:IMyRaiService1_GetDocumentoEccezione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetDocumentoEccezioneResponse" message="tns:IMyRaiService1_GetDocumentoEccezione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEccezioniAmmesse">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyRaiService1/GetEccezioniAmmesse" message="tns:IMyRaiService1_GetEccezioniAmmesse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyRaiService1/GetEccezioniAmmesseResponse" message="tns:IMyRaiService1_GetEccezioniAmmesse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyRaiService1" type="tns:IMyRaiService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalvaGiornoInizioSettimanaSede">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/SalvaGiornoInizioSettimanaSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetVisualizzazioneGiornata">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/SetVisualizzazioneGiornata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciNotaRichiesta">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/InserisciNotaRichiesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaNotaRichiesta">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/ModificaNotaRichiesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaNotaRichiesta">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/EliminaNotaRichiesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLettura">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/SetLettura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotaRichiesta">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetNotaRichiesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoteRichieste">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetNoteRichieste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoteRichiestePerSedeGapp">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetNoteRichiestePerSedeGapp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoteRichiestePerSedeGappFiltrata">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetNoteRichiestePerSedeGappFiltrata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport_POH_ROH">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetReport_POH_ROH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLista_Eccezioni_Giornalisti">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetLista_Eccezioni_Giornalisti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport_STSE">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetReport_STSE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport_STR_STRF">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetReport_STR_STRF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport_Reperibilita">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetReport_Reperibilita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport_Carenza_MP">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetReport_Carenza_MP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoMensa">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetInfoMensa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuloDetassazione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetModuloDetassazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSceltaDetassazione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/SetSceltaDetassazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetModuloDetassazione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/ResetModuloDetassazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiorniConsecutivi">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetGiorniConsecutivi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovatoriProduzione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetApprovatoriProduzione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApprovatoreProduzione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/SetApprovatoreProduzione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovatoriProduzioneByTitolo">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetApprovatoriProduzioneByTitolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduzioniByApprovatore">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetProduzioniByApprovatore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApprovatoreProduzione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/DeleteApprovatoreProduzione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContatoriEccezioni">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetContatoriEccezioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPianoFeriePDF">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetPianoFeriePDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPianoFerieAnno">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetPianoFerieAnno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvvedimentiCause">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetProvvedimentiCause" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEccezioniComplessive">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetEccezioniComplessive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoVisualizzazioneGiornata">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetElencoVisualizzazioneGiornata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatoEccezioniGiornate">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetStatoEccezioniGiornate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFerie">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetFerie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformazioniDipendente">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetInformazioniDipendente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaSediGappSettimana">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetListaSediGappSettimana" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoteSegreteria">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetNoteSegreteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoteSegreteriaPerData">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetNoteSegreteriaPerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrario">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/getOrario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiepilogo">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetRiepilogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedaPresenzeMese">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetSchedaPresenzeMese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSituazioneDebitoria">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetSituazioneDebitoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStorni">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetStorni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimbratureMese">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetTimbratureMese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipiInfoDipendente">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetTipiInfoDipendente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrasferte">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetTrasferte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisualizzazioneGiornata">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetVisualizzazioneGiornata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciNotaSegreteria">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/InserisciNotaSegreteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="presenzeGiornaliere">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/presenzeGiornaliere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PresenzeSettimanali">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/PresenzeSettimanali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperaPdf">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/recuperaPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperaUtente">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/recuperaUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RigeneraPDF">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/RigeneraPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RigeneraPDFpresenze">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/RigeneraPDFpresenze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RimuoviNotaSegreteria">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/RimuoviNotaSegreteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodiceFiscaleInfo">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetCodiceFiscaleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPagamentoEccezione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/SetPagamentoEccezione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStatoEccezione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/SetStatoEccezione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRuoli">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetRuoli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCacheResoconti">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/ClearCacheResoconti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRipianificazioniMatricola">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetRipianificazioniMatricola" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodiSW">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetPeriodiSW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviaPianoFerie">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/InviaPianoFerie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRuolo">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/SetRuolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiCreaResoconti">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/RiCreaResoconti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRipianificazioni">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetRipianificazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEccezioniRicalcolate">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetEccezioniRicalcolate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SbloccaEccezione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/SbloccaEccezione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaNotaSegreteria">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/AggiornaNotaSegreteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllineaGiornata">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/AllineaGiornata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiaInformazioniDipendente">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/cambiaInformazioniDipendente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiaStato">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/CambiaStato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComunicaCICS">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/ComunicaCICS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaNuovaInfoDipendente">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/creaNuovaInfoDipendente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaNuovaTipologiaInfoDipendente">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/creaNuovaTipologiaInfoDipendente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaInfoDipendente">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/EliminaInfoDipendente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalisiEccezioni">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetAnalisiEccezioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalisiEccezioni2">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetAnalisiEccezioni2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDettagli">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetDettagli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDettagliGiornata">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetDettagliGiornata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDipendentiPeriodo">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/getDipendentiPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentoEccezione">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetDocumentoEccezione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEccezioniAmmesse">
      <soap:operation soapAction="http://tempuri.org/IMyRaiService1/GetEccezioniAmmesse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyRaiService1">
    <wsdl:port name="BasicHttpBinding_IMyRaiService1" binding="tns:BasicHttpBinding_IMyRaiService1">
      <soap:address location="http://svildigigappws.servizi.rai.it/API/MyRaiService1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>