EsecutoreTask/Connected Services/MyRaiServiceReference1/MyRaiService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/myRaiService.it.rai.servizi.svildigigappws" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/myRaiService.it.rai.servizi.svildigigappws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pianoFerieSedeGapp">
    <xs:sequence>
      <xs:element name="dipendentiField" nillable="true" type="tns:ArrayOfDipendente" />
      <xs:element name="erroreField" nillable="true" type="xs:string" />
      <xs:element name="esitoField" type="xs:boolean" />
      <xs:element name="esitoSedeGappField" nillable="true" type="xs:string" />
      <xs:element name="rawDataField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pianoFerieSedeGapp" nillable="true" type="tns:pianoFerieSedeGapp" />
  <xs:complexType name="ArrayOfDipendente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dipendente" nillable="true" type="tns:Dipendente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDipendente" nillable="true" type="tns:ArrayOfDipendente" />
  <xs:complexType name="Dipendente">
    <xs:sequence>
      <xs:element name="canWriteField" type="xs:boolean" />
      <xs:element name="codtipoDipendenteField" nillable="true" type="xs:string" />
      <xs:element name="cognomeField" nillable="true" type="xs:string" />
      <xs:element name="debugField" nillable="true" type="xs:string" />
      <xs:element name="descTipoDipendenteField" nillable="true" type="xs:string" />
      <xs:element name="digiGappEnabledField" type="xs:boolean" />
      <xs:element name="esitoDipendenteField" nillable="true" type="xs:string" />
      <xs:element name="ferieField" nillable="true" type="tns:Ferie" />
      <xs:element name="fotoURLField" nillable="true" type="xs:string" />
      <xs:element name="isAdminField" type="xs:boolean" />
      <xs:element name="matricolaField" nillable="true" type="xs:string" />
      <xs:element name="nomeField" nillable="true" type="xs:string" />
      <xs:element name="repartoField" nillable="true" type="xs:string" />
      <xs:element name="sedeGappField" nillable="true" type="xs:string" />
      <xs:element name="spgDipField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dipendente" nillable="true" type="tns:Dipendente" />
  <xs:complexType name="Ferie">
    <xs:sequence>
      <xs:element name="exFestivitaAnniPrecedentiField" type="xs:float" />
      <xs:element name="exFestivitaPianificateField" type="xs:float" />
      <xs:element name="exFestivitaRichiesteField" type="xs:float" />
      <xs:element name="exFestivitaRimanentiField" type="xs:float" />
      <xs:element name="exFestivitaSpettantiField" type="xs:float" />
      <xs:element name="exFestivitaUsufruiteField" type="xs:float" />
      <xs:element name="ferieAnniPrecedentiField" type="xs:float" />
      <xs:element name="ferieMinimeField" type="xs:float" />
      <xs:element name="feriePianificateField" type="xs:float" />
      <xs:element name="ferieRichiesteField" type="xs:float" />
      <xs:element name="ferieRimanentiField" type="xs:float" />
      <xs:element name="ferieSpettantiField" type="xs:float" />
      <xs:element name="ferieUsufruiteField" type="xs:float" />
      <xs:element name="giornateField" nillable="true" type="tns:ArrayOfGiornata" />
      <xs:element name="mancatiFestiviAnniPrecedentiField" type="xs:float" />
      <xs:element name="mancatiFestiviSpettantiField" type="xs:float" />
      <xs:element name="mancatiNonLavoratiAnniPrecedentiField" type="xs:float" />
      <xs:element name="mancatiNonLavoratiSpettantiField" type="xs:float" />
      <xs:element name="mancatiRiposiAnniPrecedentiField" type="xs:float" />
      <xs:element name="mancatiRiposiSpettantiField" type="xs:float" />
      <xs:element name="mnListField" nillable="true" type="tns:ArrayOfMNDetail" />
      <xs:element name="permessiGiornalistiAnniPrecedentiField" type="xs:float" />
      <xs:element name="permessiGiornalistiPianificatiField" type="xs:float" />
      <xs:element name="permessiGiornalistiRecuperoField" type="xs:int" />
      <xs:element name="permessiGiornalistiRichiestiField" type="xs:float" />
      <xs:element name="permessiGiornalistiRimanentiField" type="xs:float" />
      <xs:element name="permessiGiornalistiSpettantiField" type="xs:float" />
      <xs:element name="permessiGiornalistiUsufruitiField" type="xs:float" />
      <xs:element name="permessiPianificatiField" type="xs:float" />
      <xs:element name="permessiRichiestiField" type="xs:float" />
      <xs:element name="permessiRimanentiField" type="xs:float" />
      <xs:element name="permessiSpettantiField" type="xs:float" />
      <xs:element name="permessiUsufruitiField" type="xs:float" />
      <xs:element name="pxcListField" nillable="true" type="tns:ArrayOfPXCDetail" />
      <xs:element name="recuperiMancatiFestiviPianificatiField" type="xs:float" />
      <xs:element name="recuperiMancatiFestiviRichiestiField" type="xs:float" />
      <xs:element name="recuperiMancatiFestiviRimanentiField" type="xs:float" />
      <xs:element name="recuperiMancatiFestiviUsufruitiField" type="xs:float" />
      <xs:element name="recuperiMancatiRiposiPianificatiField" type="xs:float" />
      <xs:element name="recuperiMancatiRiposiRichiestiField" type="xs:float" />
      <xs:element name="recuperiMancatiRiposiRimanentiField" type="xs:float" />
      <xs:element name="recuperiMancatiRiposiUsufruitiField" type="xs:float" />
      <xs:element name="recuperiNonLavoratiPianificatiField" type="xs:float" />
      <xs:element name="recuperiNonLavoratiRichiestiField" type="xs:float" />
      <xs:element name="recuperiNonLavoratiRimanentiField" type="xs:float" />
      <xs:element name="recuperiNonLavoratiUsufruitiField" type="xs:float" />
      <xs:element name="totaleConvalidatoField" type="xs:float" />
      <xs:element name="vacanzaCompViaggioFestField" type="xs:int" />
      <xs:element name="vacanzaCompViaggioRipoField" type="xs:int" />
      <xs:element name="viaggioGiornoDiRiposoField" type="xs:int" />
      <xs:element name="viaggioInFestivoField" type="xs:int" />
      <xs:element name="visualizzaFCField" type="xs:boolean" />
      <xs:element name="visualizzaFerieField" type="xs:boolean" />
      <xs:element name="visualizzaPermessiField" type="xs:boolean" />
      <xs:element name="visualizzaPermessiGiornalistiField" type="xs:boolean" />
      <xs:element name="visualizzaRecuperoFestiviField" type="xs:boolean" />
      <xs:element name="visualizzaRecuperoNonLavoratiField" type="xs:boolean" />
      <xs:element name="visualizzaRecuperoRiposiField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ferie" nillable="true" type="tns:Ferie" />
  <xs:complexType name="ArrayOfGiornata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Giornata" nillable="true" type="tns:Giornata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGiornata" nillable="true" type="tns:ArrayOfGiornata" />
  <xs:complexType name="Giornata">
    <xs:sequence>
      <xs:element name="carenzaField" nillable="true" type="xs:string" />
      <xs:element name="categoriaField" nillable="true" type="xs:string" />
      <xs:element name="codiceVisualizzazioneField" nillable="true" type="xs:string" />
      <xs:element name="dataField" type="xs:dateTime" />
      <xs:element name="dataTeoricaField" nillable="true" type="xs:string" />
      <xs:element name="descOrarioRealeField" nillable="true" type="xs:string" />
      <xs:element name="descTipoDipendenteField" nillable="true" type="xs:string" />
      <xs:element name="dipendenteField" nillable="true" type="tns:Dipendente" />
      <xs:element name="eccezioniField" nillable="true" type="tns:ArrayOfEccezione" />
      <xs:element name="formaContField" nillable="true" type="xs:string" />
      <xs:element name="giornoSettimanaField" nillable="true" type="xs:string" />
      <xs:element name="istitutoAssField" nillable="true" type="xs:string" />
      <xs:element name="maggiorPresenzaField" nillable="true" type="xs:string" />
      <xs:element name="matricolaField" nillable="true" type="xs:string" />
      <xs:element name="orarioField" nillable="true" type="tns:Orario" />
      <xs:element name="orarioRealeField" nillable="true" type="xs:string" />
      <xs:element name="orarioTeoricoField" nillable="true" type="xs:string" />
      <xs:element name="previsPresField" nillable="true" type="xs:string" />
      <xs:element name="quotaGiornataField" nillable="true" type="xs:string" />
      <xs:element name="rappLavoroField" nillable="true" type="xs:string" />
      <xs:element name="rawField" nillable="true" type="xs:string" />
      <xs:element name="sedeGappField" nillable="true" type="xs:string" />
      <xs:element name="siglaGiornataField" nillable="true" type="xs:string" />
      <xs:element name="statoGiornataField" nillable="true" type="tns:StatoGiornata" />
      <xs:element name="statoTotaleField" nillable="true" type="xs:string" />
      <xs:element name="timbratureField" nillable="true" type="tns:ArrayOfTimbrature" />
      <xs:element name="tipoDipendenteField" nillable="true" type="xs:string" />
      <xs:element name="tipoGiornataField" nillable="true" type="xs:string" />
      <xs:element name="tipoMinField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Giornata" nillable="true" type="tns:Giornata" />
  <xs:complexType name="ArrayOfEccezione">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Eccezione" nillable="true" type="tns:Eccezione" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEccezione" nillable="true" type="tns:ArrayOfEccezione" />
  <xs:complexType name="Eccezione">
    <xs:sequence>
      <xs:element name="alleField" nillable="true" type="xs:string" />
      <xs:element name="altriDatiField" nillable="true" type="xs:string" />
      <xs:element name="arretratoField" nillable="true" type="xs:string" />
      <xs:element name="bustaPagaField" nillable="true" type="xs:string" />
      <xs:element name="codField" nillable="true" type="xs:string" />
      <xs:element name="dalleField" nillable="true" type="xs:string" />
      <xs:element name="dataCompletaField" type="xs:dateTime" />
      <xs:element name="dataConvalidaField" nillable="true" type="xs:string" />
      <xs:element name="dataField" nillable="true" type="xs:string" />
      <xs:element name="dataInserimentoField" nillable="true" type="xs:string" />
      <xs:element name="dataReversedField" nillable="true" type="xs:string" />
      <xs:element name="dataStampaField" nillable="true" type="xs:string" />
      <xs:element name="dataValidazioneField" nillable="true" type="xs:string" />
      <xs:element name="datoAutomaticoField" type="xs:boolean" />
      <xs:element name="descSedeField" nillable="true" type="xs:string" />
      <xs:element name="descServizioContabileField" nillable="true" type="xs:string" />
      <xs:element name="descTipoEccezioneField" nillable="true" type="xs:string" />
      <xs:element name="descrittivaConCodiceField" nillable="true" type="xs:string" />
      <xs:element name="descrittivaField" nillable="true" type="xs:string" />
      <xs:element name="descrittivaSedeGappField" nillable="true" type="xs:string" />
      <xs:element name="descrittiva_lungaField" nillable="true" type="xs:string" />
      <xs:element name="dipendenteField" nillable="true" type="tns:Dipendente" />
      <xs:element name="eccezionePadreField" nillable="true" type="tns:Eccezione" />
      <xs:element name="erroreField" nillable="true" type="tns:Errore" />
      <xs:element name="flg_abbinatoField" nillable="true" type="xs:string" />
      <xs:element name="flg_addebitoField" nillable="true" type="xs:string" />
      <xs:element name="flg_aggiornatoField" type="xs:boolean" />
      <xs:element name="flg_eccezioneField" nillable="true" type="xs:string" />
      <xs:element name="flg_forzatoField" nillable="true" type="xs:string" />
      <xs:element name="flg_importoField" nillable="true" type="xs:string" />
      <xs:element name="flg_macroassenzaField" nillable="true" type="xs:string" />
      <xs:element name="flg_noteField" nillable="true" type="xs:string" />
      <xs:element name="flg_ordinamentoField" nillable="true" type="xs:string" />
      <xs:element name="flg_stornoField" nillable="true" type="xs:string" />
      <xs:element name="importoField" nillable="true" type="xs:string" />
      <xs:element name="matricolaField" nillable="true" type="xs:string" />
      <xs:element name="matricolaPrimoLivelloField" nillable="true" type="xs:string" />
      <xs:element name="matricolaSecondoLivelloField" nillable="true" type="xs:string" />
      <xs:element name="minField" nillable="true" type="xs:string" />
      <xs:element name="ndocField" nillable="true" type="xs:string" />
      <xs:element name="noteField" nillable="true" type="xs:string" />
      <xs:element name="qtaField" nillable="true" type="xs:string" />
      <xs:element name="rawDataField" nillable="true" type="xs:string" />
      <xs:element name="sedeGappField" nillable="true" type="xs:string" />
      <xs:element name="stato_eccezioneField" nillable="true" type="xs:string" />
      <xs:element name="statoperDipendenteField" type="tns:StatoEccezione" />
      <xs:element name="stornoField" type="xs:boolean" />
      <xs:element name="storno_possibileField" nillable="true" type="xs:string" />
      <xs:element name="textField" nillable="true" type="xs:string" />
      <xs:element name="tipEccField" nillable="true" type="xs:string" />
      <xs:element name="tipoDipendenteField" nillable="true" type="xs:string" />
      <xs:element name="tipo_eccezioneField" nillable="true" type="xs:string" />
      <xs:element name="unita_misField" nillable="true" type="xs:string" />
      <xs:element name="validatoDaField" nillable="true" type="tns:Dipendente" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Eccezione" nillable="true" type="tns:Eccezione" />
  <xs:complexType name="Errore">
    <xs:sequence>
      <xs:element name="codiceField" nillable="true" type="xs:string" />
      <xs:element name="descrizioneField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Errore" nillable="true" type="tns:Errore" />
  <xs:simpleType name="StatoEccezione">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InApprovazione" />
      <xs:enumeration value="Approvato" />
      <xs:enumeration value="Rifiutato" />
      <xs:enumeration value="StornatoinGapp" />
      <xs:enumeration value="Stampato" />
      <xs:enumeration value="Convalidato" />
      <xs:enumeration value="Pagato" />
      <xs:enumeration value="RifiutatodaAmministrazione" />
      <xs:enumeration value="NonValorizzato" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatoEccezione" nillable="true" type="tns:StatoEccezione" />
  <xs:complexType name="Orario">
    <xs:sequence>
      <xs:element name="cod_orarioField" nillable="true" type="xs:string" />
      <xs:element name="data_AggField" nillable="true" type="xs:string" />
      <xs:element name="data_ElimField" nillable="true" type="xs:string" />
      <xs:element name="data_Fine_ValField" nillable="true" type="xs:string" />
      <xs:element name="data_InsField" nillable="true" type="xs:string" />
      <xs:element name="data_fine_validitaField" nillable="true" type="xs:string" />
      <xs:element name="data_inizio_valField" nillable="true" type="xs:string" />
      <xs:element name="desc_orarioField" nillable="true" type="xs:string" />
      <xs:element name="entrata_inizialeField" nillable="true" type="xs:string" />
      <xs:element name="fine_teorico_intervalloField" nillable="true" type="xs:string" />
      <xs:element name="hh_entrata_48Field" nillable="true" type="xs:string" />
      <xs:element name="hh_uscita_48Field" nillable="true" type="xs:string" />
      <xs:element name="hhmm_entrata_48Field" nillable="true" type="xs:string" />
      <xs:element name="hhmm_uscita_48Field" nillable="true" type="xs:string" />
      <xs:element name="inizio_teorico_intervalloField" nillable="true" type="xs:string" />
      <xs:element name="intervallo_mensaField" nillable="true" type="xs:string" />
      <xs:element name="prevista_presenzaField" nillable="true" type="xs:string" />
      <xs:element name="sky_orarioField" nillable="true" type="xs:string" />
      <xs:element name="uscita_inizialeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orario" nillable="true" type="tns:Orario" />
  <xs:complexType name="StatoGiornata">
    <xs:sequence>
      <xs:element name="campo1Field" nillable="true" type="xs:string" />
      <xs:element name="campo2Field" nillable="true" type="xs:string" />
      <xs:element name="campo3Field" nillable="true" type="xs:string" />
      <xs:element name="campo4Field" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatoGiornata" nillable="true" type="tns:StatoGiornata" />
  <xs:complexType name="ArrayOfTimbrature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Timbrature" nillable="true" type="tns:Timbrature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimbrature" nillable="true" type="tns:ArrayOfTimbrature" />
  <xs:complexType name="Timbrature">
    <xs:sequence>
      <xs:element name="entrataField" nillable="true" type="tns:Timbratura" />
      <xs:element name="uscitaField" nillable="true" type="tns:Timbratura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Timbrature" nillable="true" type="tns:Timbrature" />
  <xs:complexType name="Timbratura">
    <xs:sequence>
      <xs:element name="descrittivaInsediamentoField" nillable="true" type="xs:string" />
      <xs:element name="insediamentoField" nillable="true" type="xs:string" />
      <xs:element name="orarioField" nillable="true" type="xs:string" />
      <xs:element name="tipoTimbraturaField" nillable="true" type="xs:string" />
      <xs:element name="versoField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Timbratura" nillable="true" type="tns:Timbratura" />
  <xs:complexType name="ArrayOfMNDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MNDetail" nillable="true" type="tns:MNDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMNDetail" nillable="true" type="tns:ArrayOfMNDetail" />
  <xs:complexType name="MNDetail">
    <xs:sequence>
      <xs:element name="annullatoDaRNField" type="xs:boolean" />
      <xs:element name="dataMezzoRN1Field" nillable="true" type="xs:dateTime" />
      <xs:element name="dataMezzoRN2Field" nillable="true" type="xs:dateTime" />
      <xs:element name="dataRNField" nillable="true" type="xs:dateTime" />
      <xs:element name="dataScadenzaField" type="xs:dateTime" />
      <xs:element name="giornoField" type="xs:dateTime" />
      <xs:element name="scadutoField" type="xs:boolean" />
      <xs:element name="spettanteField" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MNDetail" nillable="true" type="tns:MNDetail" />
  <xs:complexType name="ArrayOfPXCDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PXCDetail" nillable="true" type="tns:PXCDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPXCDetail" nillable="true" type="tns:ArrayOfPXCDetail" />
  <xs:complexType name="PXCDetail">
    <xs:sequence>
      <xs:element name="giornoField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PXCDetail" nillable="true" type="tns:PXCDetail" />
  <xs:complexType name="ArrayOfPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Periodo" nillable="true" type="tns:Periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodo" nillable="true" type="tns:ArrayOfPeriodo" />
  <xs:complexType name="Periodo">
    <xs:sequence>
      <xs:element name="convalidaMesePrecedenteField" type="xs:boolean" />
      <xs:element name="dataLiquidazioneField" type="xs:dateTime" />
      <xs:element name="dataMeseField" type="xs:dateTime" />
      <xs:element name="deltaCarenzeField" nillable="true" type="xs:string" />
      <xs:element name="deltaMaggioriPresenzeField" nillable="true" type="xs:string" />
      <xs:element name="deltaTotaleField" nillable="true" type="xs:string" />
      <xs:element name="dipendenteField" nillable="true" type="tns:Dipendente" />
      <xs:element name="fineField" type="xs:dateTime" />
      <xs:element name="giornateField" nillable="true" type="tns:ArrayOfGiornata" />
      <xs:element name="giorniConvalidatiField" type="xs:int" />
      <xs:element name="inizioField" type="xs:dateTime" />
      <xs:element name="matricolaField" nillable="true" type="xs:string" />
      <xs:element name="rawDataField" nillable="true" type="xs:string" />
      <xs:element name="sDataLiquidazioneField" nillable="true" type="xs:string" />
      <xs:element name="sedeGappField" nillable="true" type="xs:string" />
      <xs:element name="statoMeseField" nillable="true" type="xs:string" />
      <xs:element name="utenteLiquidazioneField" nillable="true" type="tns:Dipendente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Periodo" nillable="true" type="tns:Periodo" />
</xs:schema>