myRai/MyRaiWindowsNotificheServices/Web References/EsponiAnagrafica/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hrgb.rai.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://hrgb.rai.it/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hrgb.rai.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hrgb.rai.it/">
      <s:element name="EsponiAnagrafica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsponiAnagraficaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EsponiAnagraficaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatiAnagrafica" type="tns:DatiAnagrafica" />
      <s:complexType name="DatiAnagrafica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="variabile1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="variabile2" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="EsponiAnagrafica_Net">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod_Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsponiAnagrafica_NetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EsponiAnagrafica_NetResult" type="tns:Anagrafica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Anagrafica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_Anagrafica">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EsponiElencoAnagrafica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Codice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodServizio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodSede" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsponiElencoAnagraficaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EsponiElencoAnagraficaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsponiDirezioni">
        <s:complexType />
      </s:element>
      <s:element name="EsponiDirezioniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EsponiDirezioniResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_RicercaAnagrafica_Net">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod_Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nominativo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cessati" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_RicercaAnagrafica_NetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_RicercaAnagrafica_NetResult" type="tns:RicercaAnagrafica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RicercaAnagrafica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_RicercaAnagrafica">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_RicercaAnagrafica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod_Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nominativo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cessati" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_RicercaAnagraficaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_RicercaAnagraficaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="New_EsponiAnagrafica_Net">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod_Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="New_EsponiAnagrafica_NetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="New_EsponiAnagrafica_NetResult" type="tns:Anagrafica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SedeContabile">
        <s:complexType />
      </s:element>
      <s:element name="Get_SedeContabileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_SedeContabileResult" type="tns:SedeContabile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SedeContabile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_SedeContabile">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_SedeContabileCompleta">
        <s:complexType />
      </s:element>
      <s:element name="Get_SedeContabileCompletaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_SedeContabileCompletaResult" type="tns:SedeContabile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SerivizioContabile">
        <s:complexType />
      </s:element>
      <s:element name="Get_SerivizioContabileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_SerivizioContabileResult" type="tns:ServizioContabile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServizioContabile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_ServizioContabile">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_AggregatiDiCategoria">
        <s:complexType />
      </s:element>
      <s:element name="Get_AggregatiDiCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_AggregatiDiCategoriaResult" type="tns:AggregatiDiCategoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AggregatiDiCategoria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_AggregatiDiCategoria">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_AggregatiTipoContratto">
        <s:complexType />
      </s:element>
      <s:element name="Get_AggregatiTipoContrattoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_AggregatiTipoContrattoResult" type="tns:AggregatiTipoContratto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AggregatiTipoContratto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_AggregatiTipoContratto">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_CaratteristicheContratto">
        <s:complexType />
      </s:element>
      <s:element name="Get_CaratteristicheContrattoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_CaratteristicheContrattoResult" type="tns:CaratteristicheContratto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CaratteristicheContratto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_CaratteristicheContratto">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_Categorie">
        <s:complexType />
      </s:element>
      <s:element name="Get_CategorieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_CategorieResult" type="tns:Categorie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Categorie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_Categorie">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StoredProcedures">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Stored_Procedures" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Condizione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoredProceduresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StoredProceduresResult" type="tns:StoredProcedures_DB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StoredProcedures_DB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_StoredProcedures">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Ver">
        <s:complexType />
      </s:element>
      <s:element name="VerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Foto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="matricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_FotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_FotoResult" type="tns:ProfileImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProfileImage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Set_Foto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="image" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Set_FotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Set_FotoResult" type="tns:ProfileImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_URL_APP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_URL_APPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_URL_APPResult" type="tns:URL_APP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="URL_APP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice_Funzione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome_Applicazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PercorsoPagina" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Radice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PercorsoApplicazione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Browser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_URL_Lista_APP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_URL_Lista_APPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_URL_Lista_APPResult" type="tns:URL_Lista_APP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="URL_Lista_APP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice_Funzione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APP_Array" type="tns:ArrayOfURL_APP" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfURL_APP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="URL_APP" type="tns:URL_APP" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_SedeGapp_MatricoleAssociate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SedeGapp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SedeGapp_MatricoleAssociateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_SedeGapp_MatricoleAssociateResult" type="tns:SedeGapp_MatricoleAssociate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SedeGapp_MatricoleAssociate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SedeGapp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_SedeGapp_MatricoleAssociate">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="Anagrafica" type="tns:Anagrafica" />
      <s:element name="RicercaAnagrafica" type="tns:RicercaAnagrafica" />
      <s:element name="SedeContabile" type="tns:SedeContabile" />
      <s:element name="ServizioContabile" type="tns:ServizioContabile" />
      <s:element name="AggregatiDiCategoria" type="tns:AggregatiDiCategoria" />
      <s:element name="AggregatiTipoContratto" type="tns:AggregatiTipoContratto" />
      <s:element name="CaratteristicheContratto" type="tns:CaratteristicheContratto" />
      <s:element name="Categorie" type="tns:Categorie" />
      <s:element name="StoredProcedures_DB" type="tns:StoredProcedures_DB" />
      <s:element name="ProfileImage" type="tns:ProfileImage" />
      <s:element name="URL_APP" type="tns:URL_APP" />
      <s:element name="URL_Lista_APP" type="tns:URL_Lista_APP" />
      <s:element name="SedeGapp_MatricoleAssociate" type="tns:SedeGapp_MatricoleAssociate" />
    </s:schema>
    <s:schema targetNamespace="http://hrgb.rai.it/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EsponiAnagraficaSoapIn">
    <wsdl:part name="parameters" element="tns:EsponiAnagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaSoapOut">
    <wsdl:part name="parameters" element="tns:EsponiAnagraficaResponse" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaDatiAnagrafica">
    <wsdl:part name="DatiAnagrafica" element="tns:DatiAnagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagrafica_NetSoapIn">
    <wsdl:part name="parameters" element="tns:EsponiAnagrafica_Net" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagrafica_NetSoapOut">
    <wsdl:part name="parameters" element="tns:EsponiAnagrafica_NetResponse" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaSoapIn">
    <wsdl:part name="parameters" element="tns:EsponiElencoAnagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaSoapOut">
    <wsdl:part name="parameters" element="tns:EsponiElencoAnagraficaResponse" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaDatiAnagrafica">
    <wsdl:part name="DatiAnagrafica" element="tns:DatiAnagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniSoapIn">
    <wsdl:part name="parameters" element="tns:EsponiDirezioni" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniSoapOut">
    <wsdl:part name="parameters" element="tns:EsponiDirezioniResponse" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniDatiAnagrafica">
    <wsdl:part name="DatiAnagrafica" element="tns:DatiAnagrafica" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagrafica_NetSoapIn">
    <wsdl:part name="parameters" element="tns:Get_RicercaAnagrafica_Net" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagrafica_NetSoapOut">
    <wsdl:part name="parameters" element="tns:Get_RicercaAnagrafica_NetResponse" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagraficaSoapIn">
    <wsdl:part name="parameters" element="tns:Get_RicercaAnagrafica" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagraficaSoapOut">
    <wsdl:part name="parameters" element="tns:Get_RicercaAnagraficaResponse" />
  </wsdl:message>
  <wsdl:message name="New_EsponiAnagrafica_NetSoapIn">
    <wsdl:part name="parameters" element="tns:New_EsponiAnagrafica_Net" />
  </wsdl:message>
  <wsdl:message name="New_EsponiAnagrafica_NetSoapOut">
    <wsdl:part name="parameters" element="tns:New_EsponiAnagrafica_NetResponse" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileSoapIn">
    <wsdl:part name="parameters" element="tns:Get_SedeContabile" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileSoapOut">
    <wsdl:part name="parameters" element="tns:Get_SedeContabileResponse" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileCompletaSoapIn">
    <wsdl:part name="parameters" element="tns:Get_SedeContabileCompleta" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileCompletaSoapOut">
    <wsdl:part name="parameters" element="tns:Get_SedeContabileCompletaResponse" />
  </wsdl:message>
  <wsdl:message name="Get_SerivizioContabileSoapIn">
    <wsdl:part name="parameters" element="tns:Get_SerivizioContabile" />
  </wsdl:message>
  <wsdl:message name="Get_SerivizioContabileSoapOut">
    <wsdl:part name="parameters" element="tns:Get_SerivizioContabileResponse" />
  </wsdl:message>
  <wsdl:message name="Get_AggregatiDiCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:Get_AggregatiDiCategoria" />
  </wsdl:message>
  <wsdl:message name="Get_AggregatiDiCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:Get_AggregatiDiCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="Get_AggregatiTipoContrattoSoapIn">
    <wsdl:part name="parameters" element="tns:Get_AggregatiTipoContratto" />
  </wsdl:message>
  <wsdl:message name="Get_AggregatiTipoContrattoSoapOut">
    <wsdl:part name="parameters" element="tns:Get_AggregatiTipoContrattoResponse" />
  </wsdl:message>
  <wsdl:message name="Get_CaratteristicheContrattoSoapIn">
    <wsdl:part name="parameters" element="tns:Get_CaratteristicheContratto" />
  </wsdl:message>
  <wsdl:message name="Get_CaratteristicheContrattoSoapOut">
    <wsdl:part name="parameters" element="tns:Get_CaratteristicheContrattoResponse" />
  </wsdl:message>
  <wsdl:message name="Get_CategorieSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Categorie" />
  </wsdl:message>
  <wsdl:message name="Get_CategorieSoapOut">
    <wsdl:part name="parameters" element="tns:Get_CategorieResponse" />
  </wsdl:message>
  <wsdl:message name="StoredProceduresSoapIn">
    <wsdl:part name="parameters" element="tns:StoredProcedures" />
  </wsdl:message>
  <wsdl:message name="StoredProceduresSoapOut">
    <wsdl:part name="parameters" element="tns:StoredProceduresResponse" />
  </wsdl:message>
  <wsdl:message name="VerSoapIn">
    <wsdl:part name="parameters" element="tns:Ver" />
  </wsdl:message>
  <wsdl:message name="VerSoapOut">
    <wsdl:part name="parameters" element="tns:VerResponse" />
  </wsdl:message>
  <wsdl:message name="Get_FotoSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Foto" />
  </wsdl:message>
  <wsdl:message name="Get_FotoSoapOut">
    <wsdl:part name="parameters" element="tns:Get_FotoResponse" />
  </wsdl:message>
  <wsdl:message name="Set_FotoSoapIn">
    <wsdl:part name="parameters" element="tns:Set_Foto" />
  </wsdl:message>
  <wsdl:message name="Set_FotoSoapOut">
    <wsdl:part name="parameters" element="tns:Set_FotoResponse" />
  </wsdl:message>
  <wsdl:message name="Get_URL_APPSoapIn">
    <wsdl:part name="parameters" element="tns:Get_URL_APP" />
  </wsdl:message>
  <wsdl:message name="Get_URL_APPSoapOut">
    <wsdl:part name="parameters" element="tns:Get_URL_APPResponse" />
  </wsdl:message>
  <wsdl:message name="Get_URL_Lista_APPSoapIn">
    <wsdl:part name="parameters" element="tns:Get_URL_Lista_APP" />
  </wsdl:message>
  <wsdl:message name="Get_URL_Lista_APPSoapOut">
    <wsdl:part name="parameters" element="tns:Get_URL_Lista_APPResponse" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGapp_MatricoleAssociateSoapIn">
    <wsdl:part name="parameters" element="tns:Get_SedeGapp_MatricoleAssociate" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGapp_MatricoleAssociateSoapOut">
    <wsdl:part name="parameters" element="tns:Get_SedeGapp_MatricoleAssociateResponse" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaHttpGetIn">
    <wsdl:part name="Codice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagrafica_NetHttpGetIn">
    <wsdl:part name="Cod_Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagrafica_NetHttpGetOut">
    <wsdl:part name="Body" element="tns:Anagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaHttpGetIn">
    <wsdl:part name="Codice" type="s:string" />
    <wsdl:part name="Nome" type="s:string" />
    <wsdl:part name="Cognome" type="s:string" />
    <wsdl:part name="CodServizio" type="s:string" />
    <wsdl:part name="CodSede" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniHttpGetIn" />
  <wsdl:message name="EsponiDirezioniHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagrafica_NetHttpGetIn">
    <wsdl:part name="Cod_Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="Cognome" type="s:string" />
    <wsdl:part name="Nome" type="s:string" />
    <wsdl:part name="Nominativo" type="s:string" />
    <wsdl:part name="Cessati" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagrafica_NetHttpGetOut">
    <wsdl:part name="Body" element="tns:RicercaAnagrafica" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagraficaHttpGetIn">
    <wsdl:part name="Cod_Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="Cognome" type="s:string" />
    <wsdl:part name="Nome" type="s:string" />
    <wsdl:part name="Nominativo" type="s:string" />
    <wsdl:part name="Cessati" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagraficaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="New_EsponiAnagrafica_NetHttpGetIn">
    <wsdl:part name="Cod_Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="New_EsponiAnagrafica_NetHttpGetOut">
    <wsdl:part name="Body" element="tns:Anagrafica" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileHttpGetIn" />
  <wsdl:message name="Get_SedeContabileHttpGetOut">
    <wsdl:part name="Body" element="tns:SedeContabile" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileCompletaHttpGetIn" />
  <wsdl:message name="Get_SedeContabileCompletaHttpGetOut">
    <wsdl:part name="Body" element="tns:SedeContabile" />
  </wsdl:message>
  <wsdl:message name="Get_SerivizioContabileHttpGetIn" />
  <wsdl:message name="Get_SerivizioContabileHttpGetOut">
    <wsdl:part name="Body" element="tns:ServizioContabile" />
  </wsdl:message>
  <wsdl:message name="Get_AggregatiDiCategoriaHttpGetIn" />
  <wsdl:message name="Get_AggregatiDiCategoriaHttpGetOut">
    <wsdl:part name="Body" element="tns:AggregatiDiCategoria" />
  </wsdl:message>
  <wsdl:message name="Get_AggregatiTipoContrattoHttpGetIn" />
  <wsdl:message name="Get_AggregatiTipoContrattoHttpGetOut">
    <wsdl:part name="Body" element="tns:AggregatiTipoContratto" />
  </wsdl:message>
  <wsdl:message name="Get_CaratteristicheContrattoHttpGetIn" />
  <wsdl:message name="Get_CaratteristicheContrattoHttpGetOut">
    <wsdl:part name="Body" element="tns:CaratteristicheContratto" />
  </wsdl:message>
  <wsdl:message name="Get_CategorieHttpGetIn" />
  <wsdl:message name="Get_CategorieHttpGetOut">
    <wsdl:part name="Body" element="tns:Categorie" />
  </wsdl:message>
  <wsdl:message name="StoredProceduresHttpGetIn">
    <wsdl:part name="Stored_Procedures" type="s:string" />
    <wsdl:part name="Condizione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StoredProceduresHttpGetOut">
    <wsdl:part name="Body" element="tns:StoredProcedures_DB" />
  </wsdl:message>
  <wsdl:message name="VerHttpGetIn" />
  <wsdl:message name="VerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_FotoHttpGetIn">
    <wsdl:part name="matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_FotoHttpGetOut">
    <wsdl:part name="Body" element="tns:ProfileImage" />
  </wsdl:message>
  <wsdl:message name="Set_FotoHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="image" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="Set_FotoHttpGetOut">
    <wsdl:part name="Body" element="tns:ProfileImage" />
  </wsdl:message>
  <wsdl:message name="Get_URL_APPHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_URL_APPHttpGetOut">
    <wsdl:part name="Body" element="tns:URL_APP" />
  </wsdl:message>
  <wsdl:message name="Get_URL_Lista_APPHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_URL_Lista_APPHttpGetOut">
    <wsdl:part name="Body" element="tns:URL_Lista_APP" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGapp_MatricoleAssociateHttpGetIn">
    <wsdl:part name="SedeGapp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGapp_MatricoleAssociateHttpGetOut">
    <wsdl:part name="Body" element="tns:SedeGapp_MatricoleAssociate" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaHttpPostIn">
    <wsdl:part name="Codice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagraficaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagrafica_NetHttpPostIn">
    <wsdl:part name="Cod_Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiAnagrafica_NetHttpPostOut">
    <wsdl:part name="Body" element="tns:Anagrafica" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaHttpPostIn">
    <wsdl:part name="Codice" type="s:string" />
    <wsdl:part name="Nome" type="s:string" />
    <wsdl:part name="Cognome" type="s:string" />
    <wsdl:part name="CodServizio" type="s:string" />
    <wsdl:part name="CodSede" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EsponiElencoAnagraficaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EsponiDirezioniHttpPostIn" />
  <wsdl:message name="EsponiDirezioniHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagrafica_NetHttpPostIn">
    <wsdl:part name="Cod_Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="Cognome" type="s:string" />
    <wsdl:part name="Nome" type="s:string" />
    <wsdl:part name="Nominativo" type="s:string" />
    <wsdl:part name="Cessati" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagrafica_NetHttpPostOut">
    <wsdl:part name="Body" element="tns:RicercaAnagrafica" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagraficaHttpPostIn">
    <wsdl:part name="Cod_Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="Cognome" type="s:string" />
    <wsdl:part name="Nome" type="s:string" />
    <wsdl:part name="Nominativo" type="s:string" />
    <wsdl:part name="Cessati" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_RicercaAnagraficaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="New_EsponiAnagrafica_NetHttpPostIn">
    <wsdl:part name="Cod_Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="New_EsponiAnagrafica_NetHttpPostOut">
    <wsdl:part name="Body" element="tns:Anagrafica" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileHttpPostIn" />
  <wsdl:message name="Get_SedeContabileHttpPostOut">
    <wsdl:part name="Body" element="tns:SedeContabile" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileCompletaHttpPostIn" />
  <wsdl:message name="Get_SedeContabileCompletaHttpPostOut">
    <wsdl:part name="Body" element="tns:SedeContabile" />
  </wsdl:message>
  <wsdl:message name="Get_SerivizioContabileHttpPostIn" />
  <wsdl:message name="Get_SerivizioContabileHttpPostOut">
    <wsdl:part name="Body" element="tns:ServizioContabile" />
  </wsdl:message>
  <wsdl:message name="Get_AggregatiDiCategoriaHttpPostIn" />
  <wsdl:message name="Get_AggregatiDiCategoriaHttpPostOut">
    <wsdl:part name="Body" element="tns:AggregatiDiCategoria" />
  </wsdl:message>
  <wsdl:message name="Get_AggregatiTipoContrattoHttpPostIn" />
  <wsdl:message name="Get_AggregatiTipoContrattoHttpPostOut">
    <wsdl:part name="Body" element="tns:AggregatiTipoContratto" />
  </wsdl:message>
  <wsdl:message name="Get_CaratteristicheContrattoHttpPostIn" />
  <wsdl:message name="Get_CaratteristicheContrattoHttpPostOut">
    <wsdl:part name="Body" element="tns:CaratteristicheContratto" />
  </wsdl:message>
  <wsdl:message name="Get_CategorieHttpPostIn" />
  <wsdl:message name="Get_CategorieHttpPostOut">
    <wsdl:part name="Body" element="tns:Categorie" />
  </wsdl:message>
  <wsdl:message name="StoredProceduresHttpPostIn">
    <wsdl:part name="Stored_Procedures" type="s:string" />
    <wsdl:part name="Condizione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StoredProceduresHttpPostOut">
    <wsdl:part name="Body" element="tns:StoredProcedures_DB" />
  </wsdl:message>
  <wsdl:message name="VerHttpPostIn" />
  <wsdl:message name="VerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_FotoHttpPostIn">
    <wsdl:part name="matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_FotoHttpPostOut">
    <wsdl:part name="Body" element="tns:ProfileImage" />
  </wsdl:message>
  <wsdl:message name="Set_FotoHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="matricola" type="s:string" />
    <wsdl:part name="image" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="Set_FotoHttpPostOut">
    <wsdl:part name="Body" element="tns:ProfileImage" />
  </wsdl:message>
  <wsdl:message name="Get_URL_APPHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_URL_APPHttpPostOut">
    <wsdl:part name="Body" element="tns:URL_APP" />
  </wsdl:message>
  <wsdl:message name="Get_URL_Lista_APPHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_URL_Lista_APPHttpPostOut">
    <wsdl:part name="Body" element="tns:URL_Lista_APP" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGapp_MatricoleAssociateHttpPostIn">
    <wsdl:part name="SedeGapp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGapp_MatricoleAssociateHttpPostOut">
    <wsdl:part name="Body" element="tns:SedeGapp_MatricoleAssociate" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="EsponiAnagrafica">
      <wsdl:input message="tns:EsponiAnagraficaSoapIn" />
      <wsdl:output message="tns:EsponiAnagraficaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiAnagrafica_Net">
      <wsdl:input message="tns:EsponiAnagrafica_NetSoapIn" />
      <wsdl:output message="tns:EsponiAnagrafica_NetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <wsdl:input message="tns:EsponiElencoAnagraficaSoapIn" />
      <wsdl:output message="tns:EsponiElencoAnagraficaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <wsdl:input message="tns:EsponiDirezioniSoapIn" />
      <wsdl:output message="tns:EsponiDirezioniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica_Net">
      <wsdl:input message="tns:Get_RicercaAnagrafica_NetSoapIn" />
      <wsdl:output message="tns:Get_RicercaAnagrafica_NetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica">
      <wsdl:input message="tns:Get_RicercaAnagraficaSoapIn" />
      <wsdl:output message="tns:Get_RicercaAnagraficaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="New_EsponiAnagrafica_Net">
      <wsdl:input message="tns:New_EsponiAnagrafica_NetSoapIn" />
      <wsdl:output message="tns:New_EsponiAnagrafica_NetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <wsdl:input message="tns:Get_SedeContabileSoapIn" />
      <wsdl:output message="tns:Get_SedeContabileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileCompleta">
      <wsdl:input message="tns:Get_SedeContabileCompletaSoapIn" />
      <wsdl:output message="tns:Get_SedeContabileCompletaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SerivizioContabile">
      <wsdl:input message="tns:Get_SerivizioContabileSoapIn" />
      <wsdl:output message="tns:Get_SerivizioContabileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiDiCategoria">
      <wsdl:input message="tns:Get_AggregatiDiCategoriaSoapIn" />
      <wsdl:output message="tns:Get_AggregatiDiCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiTipoContratto">
      <wsdl:input message="tns:Get_AggregatiTipoContrattoSoapIn" />
      <wsdl:output message="tns:Get_AggregatiTipoContrattoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CaratteristicheContratto">
      <wsdl:input message="tns:Get_CaratteristicheContrattoSoapIn" />
      <wsdl:output message="tns:Get_CaratteristicheContrattoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Categorie">
      <wsdl:input message="tns:Get_CategorieSoapIn" />
      <wsdl:output message="tns:Get_CategorieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoredProcedures">
      <wsdl:input message="tns:StoredProceduresSoapIn" />
      <wsdl:output message="tns:StoredProceduresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ver">
      <wsdl:input message="tns:VerSoapIn" />
      <wsdl:output message="tns:VerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Foto">
      <wsdl:input message="tns:Get_FotoSoapIn" />
      <wsdl:output message="tns:Get_FotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_Foto">
      <wsdl:input message="tns:Set_FotoSoapIn" />
      <wsdl:output message="tns:Set_FotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_URL_APP">
      <wsdl:input message="tns:Get_URL_APPSoapIn" />
      <wsdl:output message="tns:Get_URL_APPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_URL_Lista_APP">
      <wsdl:input message="tns:Get_URL_Lista_APPSoapIn" />
      <wsdl:output message="tns:Get_URL_Lista_APPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp_MatricoleAssociate">
      <wsdl:input message="tns:Get_SedeGapp_MatricoleAssociateSoapIn" />
      <wsdl:output message="tns:Get_SedeGapp_MatricoleAssociateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="EsponiAnagrafica">
      <wsdl:input message="tns:EsponiAnagraficaHttpGetIn" />
      <wsdl:output message="tns:EsponiAnagraficaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiAnagrafica_Net">
      <wsdl:input message="tns:EsponiAnagrafica_NetHttpGetIn" />
      <wsdl:output message="tns:EsponiAnagrafica_NetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <wsdl:input message="tns:EsponiElencoAnagraficaHttpGetIn" />
      <wsdl:output message="tns:EsponiElencoAnagraficaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <wsdl:input message="tns:EsponiDirezioniHttpGetIn" />
      <wsdl:output message="tns:EsponiDirezioniHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica_Net">
      <wsdl:input message="tns:Get_RicercaAnagrafica_NetHttpGetIn" />
      <wsdl:output message="tns:Get_RicercaAnagrafica_NetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica">
      <wsdl:input message="tns:Get_RicercaAnagraficaHttpGetIn" />
      <wsdl:output message="tns:Get_RicercaAnagraficaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="New_EsponiAnagrafica_Net">
      <wsdl:input message="tns:New_EsponiAnagrafica_NetHttpGetIn" />
      <wsdl:output message="tns:New_EsponiAnagrafica_NetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <wsdl:input message="tns:Get_SedeContabileHttpGetIn" />
      <wsdl:output message="tns:Get_SedeContabileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileCompleta">
      <wsdl:input message="tns:Get_SedeContabileCompletaHttpGetIn" />
      <wsdl:output message="tns:Get_SedeContabileCompletaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SerivizioContabile">
      <wsdl:input message="tns:Get_SerivizioContabileHttpGetIn" />
      <wsdl:output message="tns:Get_SerivizioContabileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiDiCategoria">
      <wsdl:input message="tns:Get_AggregatiDiCategoriaHttpGetIn" />
      <wsdl:output message="tns:Get_AggregatiDiCategoriaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiTipoContratto">
      <wsdl:input message="tns:Get_AggregatiTipoContrattoHttpGetIn" />
      <wsdl:output message="tns:Get_AggregatiTipoContrattoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CaratteristicheContratto">
      <wsdl:input message="tns:Get_CaratteristicheContrattoHttpGetIn" />
      <wsdl:output message="tns:Get_CaratteristicheContrattoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Categorie">
      <wsdl:input message="tns:Get_CategorieHttpGetIn" />
      <wsdl:output message="tns:Get_CategorieHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="StoredProcedures">
      <wsdl:input message="tns:StoredProceduresHttpGetIn" />
      <wsdl:output message="tns:StoredProceduresHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Ver">
      <wsdl:input message="tns:VerHttpGetIn" />
      <wsdl:output message="tns:VerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Foto">
      <wsdl:input message="tns:Get_FotoHttpGetIn" />
      <wsdl:output message="tns:Get_FotoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_Foto">
      <wsdl:input message="tns:Set_FotoHttpGetIn" />
      <wsdl:output message="tns:Set_FotoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_URL_APP">
      <wsdl:input message="tns:Get_URL_APPHttpGetIn" />
      <wsdl:output message="tns:Get_URL_APPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_URL_Lista_APP">
      <wsdl:input message="tns:Get_URL_Lista_APPHttpGetIn" />
      <wsdl:output message="tns:Get_URL_Lista_APPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp_MatricoleAssociate">
      <wsdl:input message="tns:Get_SedeGapp_MatricoleAssociateHttpGetIn" />
      <wsdl:output message="tns:Get_SedeGapp_MatricoleAssociateHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="EsponiAnagrafica">
      <wsdl:input message="tns:EsponiAnagraficaHttpPostIn" />
      <wsdl:output message="tns:EsponiAnagraficaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiAnagrafica_Net">
      <wsdl:input message="tns:EsponiAnagrafica_NetHttpPostIn" />
      <wsdl:output message="tns:EsponiAnagrafica_NetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <wsdl:input message="tns:EsponiElencoAnagraficaHttpPostIn" />
      <wsdl:output message="tns:EsponiElencoAnagraficaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <wsdl:input message="tns:EsponiDirezioniHttpPostIn" />
      <wsdl:output message="tns:EsponiDirezioniHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica_Net">
      <wsdl:input message="tns:Get_RicercaAnagrafica_NetHttpPostIn" />
      <wsdl:output message="tns:Get_RicercaAnagrafica_NetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica">
      <wsdl:input message="tns:Get_RicercaAnagraficaHttpPostIn" />
      <wsdl:output message="tns:Get_RicercaAnagraficaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="New_EsponiAnagrafica_Net">
      <wsdl:input message="tns:New_EsponiAnagrafica_NetHttpPostIn" />
      <wsdl:output message="tns:New_EsponiAnagrafica_NetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <wsdl:input message="tns:Get_SedeContabileHttpPostIn" />
      <wsdl:output message="tns:Get_SedeContabileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileCompleta">
      <wsdl:input message="tns:Get_SedeContabileCompletaHttpPostIn" />
      <wsdl:output message="tns:Get_SedeContabileCompletaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SerivizioContabile">
      <wsdl:input message="tns:Get_SerivizioContabileHttpPostIn" />
      <wsdl:output message="tns:Get_SerivizioContabileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiDiCategoria">
      <wsdl:input message="tns:Get_AggregatiDiCategoriaHttpPostIn" />
      <wsdl:output message="tns:Get_AggregatiDiCategoriaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiTipoContratto">
      <wsdl:input message="tns:Get_AggregatiTipoContrattoHttpPostIn" />
      <wsdl:output message="tns:Get_AggregatiTipoContrattoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CaratteristicheContratto">
      <wsdl:input message="tns:Get_CaratteristicheContrattoHttpPostIn" />
      <wsdl:output message="tns:Get_CaratteristicheContrattoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Categorie">
      <wsdl:input message="tns:Get_CategorieHttpPostIn" />
      <wsdl:output message="tns:Get_CategorieHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="StoredProcedures">
      <wsdl:input message="tns:StoredProceduresHttpPostIn" />
      <wsdl:output message="tns:StoredProceduresHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Ver">
      <wsdl:input message="tns:VerHttpPostIn" />
      <wsdl:output message="tns:VerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Foto">
      <wsdl:input message="tns:Get_FotoHttpPostIn" />
      <wsdl:output message="tns:Get_FotoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_Foto">
      <wsdl:input message="tns:Set_FotoHttpPostIn" />
      <wsdl:output message="tns:Set_FotoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_URL_APP">
      <wsdl:input message="tns:Get_URL_APPHttpPostIn" />
      <wsdl:output message="tns:Get_URL_APPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_URL_Lista_APP">
      <wsdl:input message="tns:Get_URL_Lista_APPHttpPostIn" />
      <wsdl:output message="tns:Get_URL_Lista_APPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp_MatricoleAssociate">
      <wsdl:input message="tns:Get_SedeGapp_MatricoleAssociateHttpPostIn" />
      <wsdl:output message="tns:Get_SedeGapp_MatricoleAssociateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EsponiAnagrafica">
      <soap:operation soapAction="http://hrgb.rai.it/EsponiAnagrafica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EsponiAnagraficaDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiAnagrafica_Net">
      <soap:operation soapAction="http://hrgb.rai.it/EsponiAnagrafica_Net" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <soap:operation soapAction="http://hrgb.rai.it/EsponiElencoAnagrafica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EsponiElencoAnagraficaDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <soap:operation soapAction="http://hrgb.rai.it/EsponiDirezioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EsponiDirezioniDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica_Net">
      <soap:operation soapAction="http://hrgb.rai.it/Get_RicercaAnagrafica_Net" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica">
      <soap:operation soapAction="http://hrgb.rai.it/Get_RicercaAnagrafica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="New_EsponiAnagrafica_Net">
      <soap:operation soapAction="http://hrgb.rai.it/New_EsponiAnagrafica_Net" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <soap:operation soapAction="http://hrgb.rai.it/Get_SedeContabile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileCompleta">
      <soap:operation soapAction="http://hrgb.rai.it/Get_SedeContabileCompleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SerivizioContabile">
      <soap:operation soapAction="http://hrgb.rai.it/Get_SerivizioContabile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiDiCategoria">
      <soap:operation soapAction="http://hrgb.rai.it/Get_AggregatiDiCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiTipoContratto">
      <soap:operation soapAction="http://hrgb.rai.it/Get_AggregatiTipoContratto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CaratteristicheContratto">
      <soap:operation soapAction="http://hrgb.rai.it/Get_CaratteristicheContratto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Categorie">
      <soap:operation soapAction="http://hrgb.rai.it/Get_Categorie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoredProcedures">
      <soap:operation soapAction="http://hrgb.rai.it/StoredProcedures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ver">
      <soap:operation soapAction="http://hrgb.rai.it/Ver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Foto">
      <soap:operation soapAction="http://hrgb.rai.it/Get_Foto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Foto">
      <soap:operation soapAction="http://hrgb.rai.it/Set_Foto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_URL_APP">
      <soap:operation soapAction="http://hrgb.rai.it/Get_URL_APP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_URL_Lista_APP">
      <soap:operation soapAction="http://hrgb.rai.it/Get_URL_Lista_APP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp_MatricoleAssociate">
      <soap:operation soapAction="http://hrgb.rai.it/Get_SedeGapp_MatricoleAssociate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EsponiAnagrafica">
      <soap12:operation soapAction="http://hrgb.rai.it/EsponiAnagrafica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EsponiAnagraficaDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiAnagrafica_Net">
      <soap12:operation soapAction="http://hrgb.rai.it/EsponiAnagrafica_Net" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <soap12:operation soapAction="http://hrgb.rai.it/EsponiElencoAnagrafica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EsponiElencoAnagraficaDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <soap12:operation soapAction="http://hrgb.rai.it/EsponiDirezioni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EsponiDirezioniDatiAnagrafica" part="DatiAnagrafica" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica_Net">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_RicercaAnagrafica_Net" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_RicercaAnagrafica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="New_EsponiAnagrafica_Net">
      <soap12:operation soapAction="http://hrgb.rai.it/New_EsponiAnagrafica_Net" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_SedeContabile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileCompleta">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_SedeContabileCompleta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SerivizioContabile">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_SerivizioContabile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiDiCategoria">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_AggregatiDiCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiTipoContratto">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_AggregatiTipoContratto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CaratteristicheContratto">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_CaratteristicheContratto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Categorie">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_Categorie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoredProcedures">
      <soap12:operation soapAction="http://hrgb.rai.it/StoredProcedures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ver">
      <soap12:operation soapAction="http://hrgb.rai.it/Ver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Foto">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_Foto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Foto">
      <soap12:operation soapAction="http://hrgb.rai.it/Set_Foto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_URL_APP">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_URL_APP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_URL_Lista_APP">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_URL_Lista_APP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp_MatricoleAssociate">
      <soap12:operation soapAction="http://hrgb.rai.it/Get_SedeGapp_MatricoleAssociate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="EsponiAnagrafica">
      <http:operation location="/EsponiAnagrafica" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiAnagrafica_Net">
      <http:operation location="/EsponiAnagrafica_Net" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <http:operation location="/EsponiElencoAnagrafica" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <http:operation location="/EsponiDirezioni" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica_Net">
      <http:operation location="/Get_RicercaAnagrafica_Net" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica">
      <http:operation location="/Get_RicercaAnagrafica" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="New_EsponiAnagrafica_Net">
      <http:operation location="/New_EsponiAnagrafica_Net" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <http:operation location="/Get_SedeContabile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileCompleta">
      <http:operation location="/Get_SedeContabileCompleta" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SerivizioContabile">
      <http:operation location="/Get_SerivizioContabile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiDiCategoria">
      <http:operation location="/Get_AggregatiDiCategoria" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiTipoContratto">
      <http:operation location="/Get_AggregatiTipoContratto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CaratteristicheContratto">
      <http:operation location="/Get_CaratteristicheContratto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Categorie">
      <http:operation location="/Get_Categorie" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoredProcedures">
      <http:operation location="/StoredProcedures" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ver">
      <http:operation location="/Ver" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Foto">
      <http:operation location="/Get_Foto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Foto">
      <http:operation location="/Set_Foto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_URL_APP">
      <http:operation location="/Get_URL_APP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_URL_Lista_APP">
      <http:operation location="/Get_URL_Lista_APP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp_MatricoleAssociate">
      <http:operation location="/Get_SedeGapp_MatricoleAssociate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="EsponiAnagrafica">
      <http:operation location="/EsponiAnagrafica" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiAnagrafica_Net">
      <http:operation location="/EsponiAnagrafica_Net" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiElencoAnagrafica">
      <http:operation location="/EsponiElencoAnagrafica" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsponiDirezioni">
      <http:operation location="/EsponiDirezioni" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica_Net">
      <http:operation location="/Get_RicercaAnagrafica_Net" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_RicercaAnagrafica">
      <http:operation location="/Get_RicercaAnagrafica" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="New_EsponiAnagrafica_Net">
      <http:operation location="/New_EsponiAnagrafica_Net" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <http:operation location="/Get_SedeContabile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileCompleta">
      <http:operation location="/Get_SedeContabileCompleta" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SerivizioContabile">
      <http:operation location="/Get_SerivizioContabile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiDiCategoria">
      <http:operation location="/Get_AggregatiDiCategoria" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AggregatiTipoContratto">
      <http:operation location="/Get_AggregatiTipoContratto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CaratteristicheContratto">
      <http:operation location="/Get_CaratteristicheContratto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Categorie">
      <http:operation location="/Get_Categorie" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoredProcedures">
      <http:operation location="/StoredProcedures" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ver">
      <http:operation location="/Ver" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Foto">
      <http:operation location="/Get_Foto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Foto">
      <http:operation location="/Set_Foto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_URL_APP">
      <http:operation location="/Get_URL_APP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_URL_Lista_APP">
      <http:operation location="/Get_URL_Lista_APP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp_MatricoleAssociate">
      <http:operation location="/Get_SedeGapp_MatricoleAssociate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://hrgb.servizi.rai.it/ws/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://hrgb.servizi.rai.it/ws/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://hrgb.servizi.rai.it/ws/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://hrgb.servizi.rai.it/ws/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>