myRai/Web References/firmaDigitale/RemoteSignature0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.firmaremota.itagile.it" targetNamespace="http://ws.firmaremota.itagile.it" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.16.148.6:8080/FirmaRemota/services/RemoteSignature?xsd=1" namespace="http://ws.firmaremota.itagile.it" />
    </xsd:schema>
  </types>
  <message name="getCertificates">
    <part name="parameters" element="tns:getCertificates" />
  </message>
  <message name="getCertificatesResponse">
    <part name="parameters" element="tns:getCertificatesResponse" />
  </message>
  <message name="RemoteSignatureException_Exception">
    <part name="fault" element="tns:fault" />
  </message>
  <message name="digest">
    <part name="parameters" element="tns:digest" />
  </message>
  <message name="digestResponse">
    <part name="parameters" element="tns:digestResponse" />
  </message>
  <message name="findUser">
    <part name="parameters" element="tns:findUser" />
  </message>
  <message name="findUserResponse">
    <part name="parameters" element="tns:findUserResponse" />
  </message>
  <message name="signPDF">
    <part name="parameters" element="tns:signPDF" />
  </message>
  <message name="signPDFResponse">
    <part name="parameters" element="tns:signPDFResponse" />
  </message>
  <message name="signCAdES">
    <part name="parameters" element="tns:signCAdES" />
  </message>
  <message name="signCAdESResponse">
    <part name="parameters" element="tns:signCAdESResponse" />
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser" />
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse" />
  </message>
  <message name="signPDFPath">
    <part name="parameters" element="tns:signPDFPath" />
  </message>
  <message name="signPDFPathResponse">
    <part name="parameters" element="tns:signPDFPathResponse" />
  </message>
  <message name="addUser">
    <part name="parameters" element="tns:addUser" />
  </message>
  <message name="addUserResponse">
    <part name="parameters" element="tns:addUserResponse" />
  </message>
  <message name="signXAdES">
    <part name="parameters" element="tns:signXAdES" />
  </message>
  <message name="signXAdESResponse">
    <part name="parameters" element="tns:signXAdESResponse" />
  </message>
  <message name="signPKCS1">
    <part name="parameters" element="tns:signPKCS1" />
  </message>
  <message name="signPKCS1Response">
    <part name="parameters" element="tns:signPKCS1Response" />
  </message>
  <message name="signP7M">
    <part name="parameters" element="tns:signP7M" />
  </message>
  <message name="signP7MResponse">
    <part name="parameters" element="tns:signP7MResponse" />
  </message>
  <message name="getUserImages">
    <part name="parameters" element="tns:getUserImages" />
  </message>
  <message name="getUserImagesResponse">
    <part name="parameters" element="tns:getUserImagesResponse" />
  </message>
  <message name="setUserImage">
    <part name="parameters" element="tns:setUserImage" />
  </message>
  <message name="setUserImageResponse">
    <part name="parameters" element="tns:setUserImageResponse" />
  </message>
  <message name="timestampDetached">
    <part name="parameters" element="tns:timestampDetached" />
  </message>
  <message name="timestampDetachedResponse">
    <part name="parameters" element="tns:timestampDetachedResponse" />
  </message>
  <message name="timestampResponse">
    <part name="parameters" element="tns:timestampResponse" />
  </message>
  <message name="timestampResponseResponse">
    <part name="parameters" element="tns:timestampResponseResponse" />
  </message>
  <message name="timestampAttached">
    <part name="parameters" element="tns:timestampAttached" />
  </message>
  <message name="timestampAttachedResponse">
    <part name="parameters" element="tns:timestampAttachedResponse" />
  </message>
  <message name="getUsersDirectoryType">
    <part name="parameters" element="tns:getUsersDirectoryType" />
  </message>
  <message name="getUsersDirectoryTypeResponse">
    <part name="parameters" element="tns:getUsersDirectoryTypeResponse" />
  </message>
  <message name="timestampToken">
    <part name="parameters" element="tns:timestampToken" />
  </message>
  <message name="timestampTokenResponse">
    <part name="parameters" element="tns:timestampTokenResponse" />
  </message>
  <message name="changeUserPassword">
    <part name="parameters" element="tns:changeUserPassword" />
  </message>
  <message name="changeUserPasswordResponse">
    <part name="parameters" element="tns:changeUserPasswordResponse" />
  </message>
  <message name="documentPdfInfo">
    <part name="parameters" element="tns:documentPdfInfo" />
  </message>
  <message name="documentPdfInfoResponse">
    <part name="parameters" element="tns:documentPdfInfoResponse" />
  </message>
  <message name="changePassword">
    <part name="parameters" element="tns:changePassword" />
  </message>
  <message name="changePasswordResponse">
    <part name="parameters" element="tns:changePasswordResponse" />
  </message>
  <message name="verifyCertificateAtTime">
    <part name="parameters" element="tns:verifyCertificateAtTime" />
  </message>
  <message name="verifyCertificateAtTimeResponse">
    <part name="parameters" element="tns:verifyCertificateAtTimeResponse" />
  </message>
  <message name="isModuleActive">
    <part name="parameters" element="tns:isModuleActive" />
  </message>
  <message name="isModuleActiveResponse">
    <part name="parameters" element="tns:isModuleActiveResponse" />
  </message>
  <message name="verifyCertificate">
    <part name="parameters" element="tns:verifyCertificate" />
  </message>
  <message name="verifyCertificateResponse">
    <part name="parameters" element="tns:verifyCertificateResponse" />
  </message>
  <message name="signPKCS1Array">
    <part name="parameters" element="tns:signPKCS1Array" />
  </message>
  <message name="signPKCS1ArrayResponse">
    <part name="parameters" element="tns:signPKCS1ArrayResponse" />
  </message>
  <message name="documentXadesInfo">
    <part name="parameters" element="tns:documentXadesInfo" />
  </message>
  <message name="documentXadesInfoResponse">
    <part name="parameters" element="tns:documentXadesInfoResponse" />
  </message>
  <message name="openSignatureSession">
    <part name="parameters" element="tns:openSignatureSession" />
  </message>
  <message name="openSignatureSessionResponse">
    <part name="parameters" element="tns:openSignatureSessionResponse" />
  </message>
  <message name="closeSignatureSession">
    <part name="parameters" element="tns:closeSignatureSession" />
  </message>
  <message name="closeSignatureSessionResponse">
    <part name="parameters" element="tns:closeSignatureSessionResponse" />
  </message>
  <message name="documentP7mInfo">
    <part name="parameters" element="tns:documentP7mInfo" />
  </message>
  <message name="documentP7mInfoResponse">
    <part name="parameters" element="tns:documentP7mInfoResponse" />
  </message>
  <message name="verifySignatures">
    <part name="parameters" element="tns:verifySignatures" />
  </message>
  <message name="verifySignaturesResponse">
    <part name="parameters" element="tns:verifySignaturesResponse" />
  </message>
  <portType name="RemoteSignature">
    <operation name="getCertificates">
      <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://ws.firmaremota.itagile.it/RemoteSignature/getCertificatesRequest" message="tns:getCertificates" />
      <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://ws.firmaremota.itagile.it/RemoteSignature/getCertificatesResponse" message="tns:getCertificatesResponse" />
      <fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://ws.firmaremota.itagile.it/RemoteSignature/getCertificates/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="digest">
      <input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://ws.firmaremota.itagile.it/RemoteSignature/digestRequest" message="tns:digest" />
      <output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ws.firmaremota.itagile.it/RemoteSignature/digestResponse" message="tns:digestResponse" />
      <fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.firmaremota.itagile.it/RemoteSignature/digest/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="findUser">
      <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.firmaremota.itagile.it/RemoteSignature/findUserRequest" message="tns:findUser" />
      <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.firmaremota.itagile.it/RemoteSignature/findUserResponse" message="tns:findUserResponse" />
      <fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.firmaremota.itagile.it/RemoteSignature/findUser/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="signPDF">
      <input xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPDFRequest" message="tns:signPDF" />
      <output xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPDFResponse" message="tns:signPDFResponse" />
      <fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPDF/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="signCAdES">
      <input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signCAdESRequest" message="tns:signCAdES" />
      <output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signCAdESResponse" message="tns:signCAdESResponse" />
      <fault xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signCAdES/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="deleteUser">
      <input xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://ws.firmaremota.itagile.it/RemoteSignature/deleteUserRequest" message="tns:deleteUser" />
      <output xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://ws.firmaremota.itagile.it/RemoteSignature/deleteUserResponse" message="tns:deleteUserResponse" />
      <fault xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://ws.firmaremota.itagile.it/RemoteSignature/deleteUser/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="signPDFPath">
      <input xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPDFPathRequest" message="tns:signPDFPath" />
      <output xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPDFPathResponse" message="tns:signPDFPathResponse" />
      <fault xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPDFPath/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="addUser">
      <input xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://ws.firmaremota.itagile.it/RemoteSignature/addUserRequest" message="tns:addUser" />
      <output xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://ws.firmaremota.itagile.it/RemoteSignature/addUserResponse" message="tns:addUserResponse" />
      <fault xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://ws.firmaremota.itagile.it/RemoteSignature/addUser/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="signXAdES">
      <input xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signXAdESRequest" message="tns:signXAdES" />
      <output xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signXAdESResponse" message="tns:signXAdESResponse" />
      <fault xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" ns27:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signXAdES/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="signPKCS1">
      <input xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" ns28:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPKCS1Request" message="tns:signPKCS1" />
      <output xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" ns29:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPKCS1Response" message="tns:signPKCS1Response" />
      <fault xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" ns30:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPKCS1/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="signP7M">
      <input xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" ns31:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signP7MRequest" message="tns:signP7M" />
      <output xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata" ns32:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signP7MResponse" message="tns:signP7MResponse" />
      <fault xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata" ns33:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signP7M/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="getUserImages">
      <input xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata" ns34:Action="http://ws.firmaremota.itagile.it/RemoteSignature/getUserImagesRequest" message="tns:getUserImages" />
      <output xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" ns35:Action="http://ws.firmaremota.itagile.it/RemoteSignature/getUserImagesResponse" message="tns:getUserImagesResponse" />
      <fault xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata" ns36:Action="http://ws.firmaremota.itagile.it/RemoteSignature/getUserImages/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="setUserImage">
      <input xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" ns37:Action="http://ws.firmaremota.itagile.it/RemoteSignature/setUserImageRequest" message="tns:setUserImage" />
      <output xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata" ns38:Action="http://ws.firmaremota.itagile.it/RemoteSignature/setUserImageResponse" message="tns:setUserImageResponse" />
      <fault xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata" ns39:Action="http://ws.firmaremota.itagile.it/RemoteSignature/setUserImage/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="timestampDetached">
      <input xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata" ns40:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampDetachedRequest" message="tns:timestampDetached" />
      <output xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata" ns41:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampDetachedResponse" message="tns:timestampDetachedResponse" />
      <fault xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata" ns42:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampDetached/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="timestampResponse">
      <input xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata" ns43:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampResponseRequest" message="tns:timestampResponse" />
      <output xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata" ns44:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampResponseResponse" message="tns:timestampResponseResponse" />
      <fault xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata" ns45:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampResponse/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="timestampAttached">
      <input xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata" ns46:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampAttachedRequest" message="tns:timestampAttached" />
      <output xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata" ns47:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampAttachedResponse" message="tns:timestampAttachedResponse" />
      <fault xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata" ns48:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampAttached/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="getUsersDirectoryType">
      <input xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata" ns49:Action="http://ws.firmaremota.itagile.it/RemoteSignature/getUsersDirectoryTypeRequest" message="tns:getUsersDirectoryType" />
      <output xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata" ns50:Action="http://ws.firmaremota.itagile.it/RemoteSignature/getUsersDirectoryTypeResponse" message="tns:getUsersDirectoryTypeResponse" />
    </operation>
    <operation name="timestampToken">
      <input xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata" ns51:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampTokenRequest" message="tns:timestampToken" />
      <output xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata" ns52:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampTokenResponse" message="tns:timestampTokenResponse" />
      <fault xmlns:ns53="http://www.w3.org/2007/05/addressing/metadata" ns53:Action="http://ws.firmaremota.itagile.it/RemoteSignature/timestampToken/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="changeUserPassword">
      <input xmlns:ns54="http://www.w3.org/2007/05/addressing/metadata" ns54:Action="http://ws.firmaremota.itagile.it/RemoteSignature/changeUserPasswordRequest" message="tns:changeUserPassword" />
      <output xmlns:ns55="http://www.w3.org/2007/05/addressing/metadata" ns55:Action="http://ws.firmaremota.itagile.it/RemoteSignature/changeUserPasswordResponse" message="tns:changeUserPasswordResponse" />
      <fault xmlns:ns56="http://www.w3.org/2007/05/addressing/metadata" ns56:Action="http://ws.firmaremota.itagile.it/RemoteSignature/changeUserPassword/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="documentPdfInfo">
      <input xmlns:ns57="http://www.w3.org/2007/05/addressing/metadata" ns57:Action="http://ws.firmaremota.itagile.it/RemoteSignature/documentPdfInfoRequest" message="tns:documentPdfInfo" />
      <output xmlns:ns58="http://www.w3.org/2007/05/addressing/metadata" ns58:Action="http://ws.firmaremota.itagile.it/RemoteSignature/documentPdfInfoResponse" message="tns:documentPdfInfoResponse" />
      <fault xmlns:ns59="http://www.w3.org/2007/05/addressing/metadata" ns59:Action="http://ws.firmaremota.itagile.it/RemoteSignature/documentPdfInfo/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="changePassword">
      <input xmlns:ns60="http://www.w3.org/2007/05/addressing/metadata" ns60:Action="http://ws.firmaremota.itagile.it/RemoteSignature/changePasswordRequest" message="tns:changePassword" />
      <output xmlns:ns61="http://www.w3.org/2007/05/addressing/metadata" ns61:Action="http://ws.firmaremota.itagile.it/RemoteSignature/changePasswordResponse" message="tns:changePasswordResponse" />
      <fault xmlns:ns62="http://www.w3.org/2007/05/addressing/metadata" ns62:Action="http://ws.firmaremota.itagile.it/RemoteSignature/changePassword/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="verifyCertificateAtTime">
      <input xmlns:ns63="http://www.w3.org/2007/05/addressing/metadata" ns63:Action="http://ws.firmaremota.itagile.it/RemoteSignature/verifyCertificateAtTimeRequest" message="tns:verifyCertificateAtTime" />
      <output xmlns:ns64="http://www.w3.org/2007/05/addressing/metadata" ns64:Action="http://ws.firmaremota.itagile.it/RemoteSignature/verifyCertificateAtTimeResponse" message="tns:verifyCertificateAtTimeResponse" />
      <fault xmlns:ns65="http://www.w3.org/2007/05/addressing/metadata" ns65:Action="http://ws.firmaremota.itagile.it/RemoteSignature/verifyCertificateAtTime/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="isModuleActive">
      <input xmlns:ns66="http://www.w3.org/2007/05/addressing/metadata" ns66:Action="http://ws.firmaremota.itagile.it/RemoteSignature/isModuleActiveRequest" message="tns:isModuleActive" />
      <output xmlns:ns67="http://www.w3.org/2007/05/addressing/metadata" ns67:Action="http://ws.firmaremota.itagile.it/RemoteSignature/isModuleActiveResponse" message="tns:isModuleActiveResponse" />
    </operation>
    <operation name="verifyCertificate">
      <input xmlns:ns68="http://www.w3.org/2007/05/addressing/metadata" ns68:Action="http://ws.firmaremota.itagile.it/RemoteSignature/verifyCertificateRequest" message="tns:verifyCertificate" />
      <output xmlns:ns69="http://www.w3.org/2007/05/addressing/metadata" ns69:Action="http://ws.firmaremota.itagile.it/RemoteSignature/verifyCertificateResponse" message="tns:verifyCertificateResponse" />
      <fault xmlns:ns70="http://www.w3.org/2007/05/addressing/metadata" ns70:Action="http://ws.firmaremota.itagile.it/RemoteSignature/verifyCertificate/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="signPKCS1Array">
      <input xmlns:ns71="http://www.w3.org/2007/05/addressing/metadata" ns71:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPKCS1ArrayRequest" message="tns:signPKCS1Array" />
      <output xmlns:ns72="http://www.w3.org/2007/05/addressing/metadata" ns72:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPKCS1ArrayResponse" message="tns:signPKCS1ArrayResponse" />
      <fault xmlns:ns73="http://www.w3.org/2007/05/addressing/metadata" ns73:Action="http://ws.firmaremota.itagile.it/RemoteSignature/signPKCS1Array/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="documentXadesInfo">
      <input xmlns:ns74="http://www.w3.org/2007/05/addressing/metadata" ns74:Action="http://ws.firmaremota.itagile.it/RemoteSignature/documentXadesInfoRequest" message="tns:documentXadesInfo" />
      <output xmlns:ns75="http://www.w3.org/2007/05/addressing/metadata" ns75:Action="http://ws.firmaremota.itagile.it/RemoteSignature/documentXadesInfoResponse" message="tns:documentXadesInfoResponse" />
      <fault xmlns:ns76="http://www.w3.org/2007/05/addressing/metadata" ns76:Action="http://ws.firmaremota.itagile.it/RemoteSignature/documentXadesInfo/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="openSignatureSession">
      <input xmlns:ns77="http://www.w3.org/2007/05/addressing/metadata" ns77:Action="http://ws.firmaremota.itagile.it/RemoteSignature/openSignatureSessionRequest" message="tns:openSignatureSession" />
      <output xmlns:ns78="http://www.w3.org/2007/05/addressing/metadata" ns78:Action="http://ws.firmaremota.itagile.it/RemoteSignature/openSignatureSessionResponse" message="tns:openSignatureSessionResponse" />
      <fault xmlns:ns79="http://www.w3.org/2007/05/addressing/metadata" ns79:Action="http://ws.firmaremota.itagile.it/RemoteSignature/openSignatureSession/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="closeSignatureSession">
      <input xmlns:ns80="http://www.w3.org/2007/05/addressing/metadata" ns80:Action="http://ws.firmaremota.itagile.it/RemoteSignature/closeSignatureSessionRequest" message="tns:closeSignatureSession" />
      <output xmlns:ns81="http://www.w3.org/2007/05/addressing/metadata" ns81:Action="http://ws.firmaremota.itagile.it/RemoteSignature/closeSignatureSessionResponse" message="tns:closeSignatureSessionResponse" />
    </operation>
    <operation name="documentP7mInfo">
      <input xmlns:ns82="http://www.w3.org/2007/05/addressing/metadata" ns82:Action="http://ws.firmaremota.itagile.it/RemoteSignature/documentP7mInfoRequest" message="tns:documentP7mInfo" />
      <output xmlns:ns83="http://www.w3.org/2007/05/addressing/metadata" ns83:Action="http://ws.firmaremota.itagile.it/RemoteSignature/documentP7mInfoResponse" message="tns:documentP7mInfoResponse" />
      <fault xmlns:ns84="http://www.w3.org/2007/05/addressing/metadata" ns84:Action="http://ws.firmaremota.itagile.it/RemoteSignature/documentP7mInfo/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
    <operation name="verifySignatures">
      <input xmlns:ns85="http://www.w3.org/2007/05/addressing/metadata" ns85:Action="http://ws.firmaremota.itagile.it/RemoteSignature/verifySignaturesRequest" message="tns:verifySignatures" />
      <output xmlns:ns86="http://www.w3.org/2007/05/addressing/metadata" ns86:Action="http://ws.firmaremota.itagile.it/RemoteSignature/verifySignaturesResponse" message="tns:verifySignaturesResponse" />
      <fault xmlns:ns87="http://www.w3.org/2007/05/addressing/metadata" ns87:Action="http://ws.firmaremota.itagile.it/RemoteSignature/verifySignatures/Fault/RemoteSignatureException_Exception" name="RemoteSignatureException_Exception" message="tns:RemoteSignatureException_Exception" />
    </operation>
  </portType>
</definitions>