myRaiServiceHub/Web References/it.rai.servizi.hrce/hrce_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDatiUtente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="retData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="messaggio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ds">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="getDatiUtenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDatiUtenteResult" type="tns:retData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDatiUtenteSoapIn">
    <wsdl:part name="parameters" element="tns:getDatiUtente" />
  </wsdl:message>
  <wsdl:message name="getDatiUtenteSoapOut">
    <wsdl:part name="parameters" element="tns:getDatiUtenteResponse" />
  </wsdl:message>
  <wsdl:portType name="hrce_wsSoap">
    <wsdl:operation name="getDatiUtente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Recupera le informazioni per l'utente in base alla matricola</wsdl:documentation>
      <wsdl:input message="tns:getDatiUtenteSoapIn" />
      <wsdl:output message="tns:getDatiUtenteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="hrce_wsSoap" type="tns:hrce_wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDatiUtente">
      <soap:operation soapAction="http://tempuri.org/getDatiUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="hrce_wsSoap12" type="tns:hrce_wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDatiUtente">
      <soap12:operation soapAction="http://tempuri.org/getDatiUtente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="hrce_ws">
    <wsdl:port name="hrce_wsSoap" binding="tns:hrce_wsSoap">
      <soap:address location="http://hrce.servizi.rai.it/CezanneWeb/XRAPI/hrce_ws.asmx" />
    </wsdl:port>
    <wsdl:port name="hrce_wsSoap12" binding="tns:hrce_wsSoap12">
      <soap12:address location="http://hrce.servizi.rai.it/CezanneWeb/XRAPI/hrce_ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>