MyRaiServiceInterface/Web References/CeitonWS/AttendanceAbsencePlanning.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://rai.it/prp/gapp/messages-ns/2016-05-31/attendanceabsenceplanning" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:prptypes="http://rai.it/prp/gapp/types-ns/2016-05-31/" targetNamespace="http://rai.it/prp/gapp/messages-ns/2016-05-31/attendanceabsenceplanning" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="PRP_types.xsd" namespace="http://rai.it/prp/gapp/types-ns/2016-05-31/" />
  <xs:element name="AttendanceAbsencePlanning">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AttendanceAbsence" type="prptypes:AttendanceAbsenceType" />
      </xs:sequence>
      <xs:attribute name="Id" type="xs:string" />
      <xs:attribute name="DateTime" type="xs:dateTime" />
      <xs:attribute name="MessageType" type="prptypes:MessageType" />
      <xs:attribute name="Origin" type="xs:string" />
      <xs:attribute name="Destination" type="xs:string" />
      <xs:attribute name="Status" type="prptypes:MessageStatusType" />
      <xs:attribute name="ErrorNumber" type="xs:string" />
      <xs:attribute name="ErrorMessage" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>