MyRaiServiceInterface/Web References/CeitonWS/GAPP_PRP_Planning.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://rai.it/GAPP/PRP/v1_0_0" xmlns:ts="http://rai.it/GAPP/PRP/messages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://www.w3.org/2001/XMLSchema" name="GAPP_PRP_Planning" targetNamespace="http://rai.it/GAPP/PRP/v1_0_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://rai.it/GAPP/PRP/v1_0_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="GAPP_PRP_Planning_Messages.xsd" namespace="http://rai.it/GAPP/PRP/messages" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdatePlanningRequestMsg">
    <wsdl:part name="request" element="ts:UpdatePlanningRequest" />
  </wsdl:message>
  <wsdl:message name="UpdatePlanningResponseMsg">
    <wsdl:part name="response" element="ts:UpdatePlanningResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateShiftAndExceptionRequestMsg">
    <wsdl:part name="request" element="ts:UpdateShiftAndExceptionRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateShiftAndExceptionResponseMsg">
    <wsdl:part name="response" element="ts:UpdateShiftAndExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAttendanceAbsencePlanningRequestMsg">
    <wsdl:part name="request" element="ts:UpdateAttendanceAbsencePlanningRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateAttendanceAbsencePlanningResponseMsg">
    <wsdl:part name="response" element="ts:UpdateAttendanceAbsencePlanningResponse" />
  </wsdl:message>
  <wsdl:portType name="GAPP_PRP_Port">
    <wsdl:operation name="updatePlanning">
      <wsdl:input message="tns:UpdatePlanningRequestMsg" />
      <wsdl:output message="tns:UpdatePlanningResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="updateShiftAndException">
      <wsdl:input message="tns:UpdateShiftAndExceptionRequestMsg" />
      <wsdl:output message="tns:UpdateShiftAndExceptionResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="updateAttendanceAbsencePlanning">
      <wsdl:input message="tns:UpdateAttendanceAbsencePlanningRequestMsg" />
      <wsdl:output message="tns:UpdateAttendanceAbsencePlanningResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GappPrpSOAP11Binding" type="tns:GAPP_PRP_Port">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updatePlanning">
      <soap:operation soapAction="http://rai.it/GAPP/PRP/v1_0_0/UpdatePlanning" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateShiftAndException">
      <soap:operation soapAction="http://rai.it/GAPP/PRP/v1_0_0/UpdateShiftAndException" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAttendanceAbsencePlanning">
      <soap:operation soapAction="http://rai.it/GAPP/PRP/v1_0_0/updateAttendanceAbsencePlanning" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GappPrpService">
    <wsdl:port name="GappPrpSOAP11" binding="tns:GappPrpSOAP11Binding">
      <soap:address location="http://svilbts-r2d2.servizi.rai.it/GAPPPRP/Planning.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>