MyRaiServiceInterface/Web References/CeitonWS/GAPP_PRP_Planning_Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ep="http://rai.it/prp/gapp/messages-ns/2016-05-31/employeesplanning" xmlns:ab="http://rai.it/prp/gapp/messages-ns/2016-05-31/attendanceabsenceplanning" xmlns:ts="http://rai.it/GAPP/PRP/messages" xmlns:se="http://rai.it/prp/gapp/messages-ns/2016-05-31/shiftexceptionmasterdata" elementFormDefault="qualified" targetNamespace="http://rai.it/GAPP/PRP/messages" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="ShiftExceptionMasterData.xsd" namespace="http://rai.it/prp/gapp/messages-ns/2016-05-31/shiftexceptionmasterdata" />
  <import schemaLocation="AttendanceAbsencePlanning.xsd" namespace="http://rai.it/prp/gapp/messages-ns/2016-05-31/attendanceabsenceplanning" />
  <import schemaLocation="EmployeesPlanning.xsd" namespace="http://rai.it/prp/gapp/messages-ns/2016-05-31/employeesplanning" />
  <element name="UpdatePlanningRequest" type="ts:t_UpdatePlanningRequest" />
  <element name="UpdatePlanningResponse" type="ts:t_UpdatePlanningResponse" />
  <element name="UpdateShiftAndExceptionRequest" type="ts:t_UpdateShiftAndExceptionRequest" />
  <element name="UpdateShiftAndExceptionResponse" type="ts:t_UpdateShiftAndExceptionResponse" />
  <element name="UpdateAttendanceAbsencePlanningRequest" type="ts:t_UpdateAttendanceAbsencePlanningRequest" />
  <element name="UpdateAttendanceAbsencePlanningResponse" type="ts:t_UpdateAttendanceAbsencePlanningResponse" />
  <complexType name="t_UpdatePlanningRequest">
    <sequence>
      <element ref="ep:EmployeesPlanning" />
    </sequence>
  </complexType>
  <complexType name="t_UpdatePlanningResponse">
    <sequence>
      <element ref="ep:EmployeesPlanning" />
    </sequence>
  </complexType>
  <complexType name="t_UpdateShiftAndExceptionRequest">
    <sequence>
      <element ref="se:ShiftExceptionMasterData" />
    </sequence>
  </complexType>
  <complexType name="t_UpdateShiftAndExceptionResponse">
    <sequence>
      <element ref="se:ShiftExceptionMasterData" />
    </sequence>
  </complexType>
  <complexType name="t_UpdateAttendanceAbsencePlanningRequest">
    <sequence>
      <element ref="ab:AttendanceAbsencePlanning" />
    </sequence>
  </complexType>
  <complexType name="t_UpdateAttendanceAbsencePlanningResponse">
    <sequence>
      <element ref="ab:AttendanceAbsencePlanning" />
    </sequence>
  </complexType>
</schema>