MyRaiServiceInterface/Web References/CeitonWS/PRP_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://rai.it/prp/gapp/types-ns/2016-05-31/" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" attributeFormDefault="unqualified" targetNamespace="http://rai.it/prp/gapp/types-ns/2016-05-31/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ActionType">
    <xs:annotation>
      <xs:documentation>Indica l'azione da intraprendere sull'oggetto fornito</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Remove" />
      <xs:enumeration value="Update" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageType">
    <xs:annotation>
      <xs:documentation>Tipologia di messaggio ammessi in questo schema</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Acknowledgement">
        <xs:annotation>
          <xs:documentation>Conferma che il messaggio è stato ricevuto</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Information">
        <xs:annotation>
          <xs:documentation>Notifica un cambiamento che non necessità di una risposta</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Request">
        <xs:annotation>
          <xs:documentation>Notifica un cambiamento che necessità di una risposta (di norma utilizzato per quei messaggi di tipo sincrono)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reply">
        <xs:annotation>
          <xs:documentation>Risponde ad un messaggio di tipo Request</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageStatusType">
    <xs:annotation>
      <xs:documentation>Stato del messaggio in risposta ad un messaggio ricevuto</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Valid">
        <xs:annotation>
          <xs:documentation>Viene generato quando un messaggio di tipo Acknowledgement è stato ricevuto ed è valido per lo schema ma non è stato ancora elaborato</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Invalid">
        <xs:annotation>
          <xs:documentation>Viene generato quando un messaggio di tipo Acknowledgement è stato ricevuto ma non è conforme con lo schema descritto e non può essere elaborato</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ok">
        <xs:annotation>
          <xs:documentation>Viene generato quando un messaggio di tipo Acknowledgement o Reply è stato ricevuto ed elaborato</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:documentation>Viene generato quando un messaggio di tipo Acknowledgement o Reply è stato rifiutato. Lo stato di tipo "Error" include le informazioni dettagliate sull'errore occorso</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EmployeeType">
    <xs:sequence>
      <xs:element minOccurs="1" name="Number" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificativo univoco del dipendente e chiave di business</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome del dipendente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="Surname" type="xs:string">
        <xs:annotation>
          <xs:documentation>Cognome del dipendente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Dipartimento di appartenenza del dipendente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Eligibility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Raggruppamento di gestione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidityFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidityTo" nillable="true" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute name="WorkOrderID" type="xs:string">
      <xs:annotation>
        <xs:documentation>Identificativo univoco Aspid della richiesta (Workorder)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ShiftExceptionCodesType">
    <xs:sequence>
      <xs:element name="Type" type="CodeType">
        <xs:annotation>
          <xs:documentation>Identifica se il codice comunicato è un "Turno" o è una "Eccezione"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Codice del Turno o dell'Eccezione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Descrizione del Turno o dell'Eccezione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Ora di inizio turno: il campo è presente solo per i turni</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Ora di fine turno: il campo è presente solo per i turni</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ExceptionDuration" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:documentation>Durata dell'eccezione: il campo è presente solo per le eccezioni</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="ExceptionType" />
      <xs:element minOccurs="0" name="DailyIndicator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MissedRestIndicator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffSiteIndicator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensibleException" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indica se l'eccezione è da considerarsi "sensibile" in termini di causale e
          che quindi non vada reso pubblico (ad esempio nei report): il campo è presente solo nelle Eccezioni
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ValidityFrom" nillable="true" type="xs:date" />
      <xs:element minOccurs="0" name="ValidityTo" nillable="true" type="xs:date" />
      <xs:element name="Status" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="WorkOrderID" type="xs:string">
      <xs:annotation>
        <xs:documentation>Identificativo univoco Aspid della richiesta (Workorder)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Action" type="ActionType" />
  </xs:complexType>
  <xs:complexType name="PlanningType">
    <xs:sequence>
      <xs:element minOccurs="1" name="EmployeeNumber" type="xs:string" />
      <xs:element minOccurs="1" name="PlanningDate" type="xs:date" />
      <xs:element minOccurs="1" name="PlannedShiftCode" type="xs:string" />
      <xs:element minOccurs="1" name="ActualShiftCode" type="xs:string" />
      <xs:element minOccurs="0" name="Approved" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlannedAdvance" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlannedPostponement" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActualAdvance" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActualPostponement" type="xs:dateTime" />
      <xs:element name="Exceptions" type="ExceptionsType" />
    </xs:sequence>
    <xs:attribute name="WorkOrderID" type="xs:string">
      <xs:annotation>
        <xs:documentation>Identificativo univoco della richiesta (Workorder)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Action" type="ActionType" />
  </xs:complexType>
  <xs:simpleType name="CodeType">
    <xs:annotation>
      <xs:documentation>Identifica se il codice comunicato è un “Turno” o è una “Eccezione”</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Shift" />
      <xs:enumeration value="Exception" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExceptionType">
    <xs:annotation>
      <xs:documentation>Indica se rappresenti una presenza o una assenza di personale</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Attendance" />
      <xs:enumeration value="Absence" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ExceptionsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Exception" type="ExceptionItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttendanceAbsenceType">
    <xs:sequence>
      <xs:element minOccurs="1" name="EmployeeNumber" type="xs:string" />
      <xs:element minOccurs="1" name="PlanningDate" type="xs:date" />
      <xs:element minOccurs="0" name="Planning">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="PlannedShiftCode">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="2" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="PlannedAdvance" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="PlannedPostponement" type="xs:dateTime" />
      <xs:element name="Exceptions" type="ExceptionsType" />
    </xs:sequence>
    <xs:attribute name="WorkOrderID" type="xs:string">
      <xs:annotation>
        <xs:documentation>Identificativo univoco della richiesta (Workorder)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Action" type="ActionType" />
  </xs:complexType>
  <xs:complexType name="ExceptionItemType">
    <xs:sequence>
      <xs:element name="ExceptionCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Codice eccezione assegnato al dipendente nella [Data] specificata post inserimento, variazione o cancellazione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FromDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Orario di inizio dell’eccezione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ToDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Orario di fine dell’eccezione</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActivityId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Primary Key della tabella dell'attività in Ceiton</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>