myRaiServiceHub/Web References/firmaDigitale/RemoteSignature.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.firmaremota.itagile.it" elementFormDefault="qualified" targetNamespace="http://ws.firmaremota.itagile.it" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="commonName" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="hsmManager" type="xs:boolean" />
        <xs:element name="userManager" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="changePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="newPassword" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="changeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="newPassword" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="closeSignatureSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="sessionToken" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="closeSignatureSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="closeSignatureSessionReturn" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="digest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="content" type="xs:base64Binary" />
        <xs:element name="digestAlg" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="digestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="digestReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentP7mInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signedDocument" type="xs:base64Binary" />
        <xs:element name="verifySignatures" type="xs:boolean" />
        <xs:element name="extractContent" type="xs:boolean" />
        <xs:element name="extractOriginal" type="xs:boolean" />
        <xs:element name="extractX509" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentP7mInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documentP7mInfoReturn" type="tns:SignatureDocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentPdfInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signedDocument" type="xs:base64Binary" />
        <xs:element name="verifySignatures" type="xs:boolean" />
        <xs:element name="extractFields" type="xs:boolean" />
        <xs:element name="extractX509" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentPdfInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documentPdfInfoReturn" type="tns:SignatureDocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentXadesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signedDocument" type="xs:base64Binary" />
        <xs:element name="verifySignatures" type="xs:boolean" />
        <xs:element name="extractContent" type="xs:boolean" />
        <xs:element name="extractX509" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentXadesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documentXadesInfoReturn" type="tns:SignatureDocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fault" type="tns:RemoteSignatureException" />
  <xs:element name="findUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="findUserReturn" type="tns:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="getCertificatesReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="getUserImagesReturn" type="tns:SignatureImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersDirectoryType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersDirectoryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getUsersDirectoryTypeReturn" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isModuleActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="moduleName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isModuleActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="isModuleActiveReturn" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="openSignatureSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="openSignatureSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="openSignatureSessionReturn" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUserImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="userImage" type="tns:SignatureImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUserImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="signCAdES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signatureCred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="content" type="xs:base64Binary" />
        <xs:element name="digestType" type="xs:string" />
        <xs:element name="X509certificate" type="xs:base64Binary" />
        <xs:element name="flags" type="tns:SignatureFlags" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signCAdESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signCAdESReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signP7M">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signatureCred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="content" type="xs:base64Binary" />
        <xs:element name="contentInAttachments" type="xs:boolean" />
        <xs:element name="p7m" type="xs:boolean" />
        <xs:element name="digestType" type="xs:string" />
        <xs:element name="X509certificate" type="xs:base64Binary" />
        <xs:element name="flags" type="tns:SignatureFlags" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signP7MResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signP7MReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="content" type="xs:base64Binary" />
        <xs:element name="contentInAttachments" type="xs:boolean" />
        <xs:element name="digestType" type="xs:string" />
        <xs:element name="X509certificate" type="xs:base64Binary" />
        <xs:element name="flags" type="tns:SignatureFlags" />
        <xs:element name="fieldName" type="xs:string" />
        <xs:element name="page" type="xs:int" />
        <xs:element name="x" type="xs:int" />
        <xs:element name="y" type="xs:int" />
        <xs:element name="width" type="xs:int" />
        <xs:element name="height" type="xs:int" />
        <xs:element name="userName" type="xs:string" />
        <xs:element name="reason" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="dateFormat" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="fontSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPDFPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="pinToSign" type="xs:string" />
        <xs:element name="domain" type="xs:string" />
        <xs:element name="dirSource" type="xs:string" />
        <xs:element name="dirDest" type="xs:string" />
        <xs:element name="fieldName" type="xs:string" />
        <xs:element name="page" type="xs:int" />
        <xs:element name="x" type="xs:int" />
        <xs:element name="y" type="xs:int" />
        <xs:element name="width" type="xs:int" />
        <xs:element name="height" type="xs:int" />
        <xs:element name="userName" type="xs:string" />
        <xs:element name="reason" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="dateFormat" type="xs:string" />
        <xs:element name="graphic" type="xs:boolean" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="fontSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPDFPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signPDFPathReturn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signPDFReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPKCS1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="digest" type="xs:base64Binary" />
        <xs:element name="digestType" type="xs:string" />
        <xs:element name="X509certificate" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPKCS1Array">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element maxOccurs="unbounded" name="digest" type="xs:base64Binary" />
        <xs:element name="digestType" type="xs:string" />
        <xs:element name="X509certificate" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPKCS1ArrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="signPKCS1ArrayReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signPKCS1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signPKCS1Return" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signXAdES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="content" type="xs:base64Binary" />
        <xs:element name="digestType" type="xs:string" />
        <xs:element name="certificate" type="xs:base64Binary" />
        <xs:element name="params" type="tns:RemoteSignatureXadesParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signXAdESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signXAdESReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timestampAttached">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="content" type="xs:base64Binary" />
        <xs:element name="contentInAttachment" type="xs:boolean" />
        <xs:element name="digestAlg" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timestampAttachedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="timestampAttachedReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timestampDetached">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="digest" type="xs:base64Binary" />
        <xs:element name="digestAlg" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timestampDetachedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="timestampDetachedReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timestampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="timeStampRequest" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timestampResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="timestampResponseReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timestampToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cred" type="tns:RemoteSignatureCredentials" />
        <xs:element name="digest" type="xs:base64Binary" />
        <xs:element name="digestAlg" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timestampTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="timestampTokenReturn" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="X509Cert" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyCertificateAtTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="certBuf" type="xs:base64Binary" />
        <xs:element name="checkTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyCertificateAtTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="verifyCertificateAtTimeReturn" type="tns:CertificateStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="verifyCertificateReturn" type="tns:CertificateStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifySignatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signedDocument" type="xs:base64Binary" />
        <xs:element name="docsInAttachment" type="xs:boolean" />
        <xs:element name="mimeType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifySignaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="verifySignaturesReturn" type="tns:SignatureStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RemoteSignatureCredentials">
    <xs:sequence>
      <xs:element name="clientCertificateAuth" nillable="true" type="tns:ClientCertificateAuth" />
      <xs:element name="extAuth" nillable="true" type="xs:string" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element name="userid" nillable="true" type="xs:string" />
      <xs:element name="oneshot" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientCertificateAuth">
    <xs:sequence>
      <xs:element name="certificate" nillable="true" type="xs:base64Binary" />
      <xs:element name="signature" nillable="true" type="xs:base64Binary" />
      <xs:element name="timestamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSignatureStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:SignatureStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatureStatus">
    <xs:sequence>
      <xs:element name="certStatus" nillable="true" type="tns:CertificateStatus" />
      <xs:element name="counterSignatures" nillable="true" type="tns:ArrayOfSignatureStatus" />
      <xs:element name="digestAlgorithm" nillable="true" type="xs:string" />
      <xs:element name="encryptionAlgorithm" nillable="true" type="xs:string" />
      <xs:element name="invalidSignatureMessage" nillable="true" type="xs:string" />
      <xs:element name="invalidTimestampMessage" nillable="true" type="xs:string" />
      <xs:element name="locality" nillable="true" type="xs:string" />
      <xs:element name="reason" nillable="true" type="xs:string" />
      <xs:element name="fieldName" nillable="true" type="xs:string" />
      <xs:element name="signatureTime" type="xs:long" />
      <xs:element name="timestamp" type="xs:boolean" />
      <xs:element name="timestampCertificate" nillable="true" type="xs:base64Binary" />
      <xs:element name="validSignature" type="xs:boolean" />
      <xs:element name="validTimestamp" type="xs:boolean" />
      <xs:element name="invalidSignatureCode" nillable="true" type="tns:ArrayOfString" />
      <xs:element name="invalidTimestampCode" nillable="true" type="tns:ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertificateStatus">
    <xs:sequence>
      <xs:element name="certificate" nillable="true" type="xs:base64Binary" />
      <xs:element name="checkTime" type="xs:long" />
      <xs:element name="invalidCertificateMessage" nillable="true" type="xs:string" />
      <xs:element name="invalidCertificateCode" nillable="true" type="xs:string" />
      <xs:element name="trustedIdentity" type="xs:boolean" />
      <xs:element name="untrustedIdentityMessage" nillable="true" type="xs:string" />
      <xs:element name="untrustedIdentityCode" nillable="true" type="xs:string" />
      <xs:element name="validCertificate" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatureImage">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:string" />
      <xs:element name="image" nillable="true" type="xs:base64Binary" />
      <xs:element name="type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Signatures">
    <xs:sequence>
      <xs:element name="signatures" type="tns:ArrayOfSignature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSignature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:Signature" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Signature">
    <xs:sequence>
      <xs:element name="signType" nillable="true" type="xs:string" />
      <xs:element name="digestAlg" nillable="true" type="xs:string" />
      <xs:element name="signTime" nillable="true" type="xs:long" />
      <xs:element name="givenName" nillable="true" type="xs:string" />
      <xs:element name="surName" nillable="true" type="xs:string" />
      <xs:element name="fiscalCode" nillable="true" type="xs:string" />
      <xs:element name="organization" nillable="true" type="xs:string" />
      <xs:element name="orgUnit" nillable="true" type="xs:string" />
      <xs:element name="certID" nillable="true" type="xs:string" />
      <xs:element name="certType" nillable="true" type="xs:string" />
      <xs:element name="certSerial" nillable="true" type="xs:string" />
      <xs:element name="certKeyUsage" nillable="true" type="xs:string" />
      <xs:element name="trustSp" nillable="true" type="xs:string" />
      <xs:element name="certDateFrom" nillable="true" type="xs:long" />
      <xs:element name="certDateTo" nillable="true" type="xs:long" />
      <xs:element name="timestamp" nillable="true" type="xs:boolean" />
      <xs:element name="tsAuthority" nillable="true" type="xs:string" />
      <xs:element name="tsLenght" nillable="true" type="xs:long" />
      <xs:element name="signatureField" nillable="true" type="tns:SignatureField" />
      <xs:element name="valid" nillable="true" type="xs:boolean" />
      <xs:element name="validSign" nillable="true" type="xs:boolean" />
      <xs:element name="validCert" nillable="true" type="xs:boolean" />
      <xs:element name="validTrust" nillable="true" type="xs:boolean" />
      <xs:element name="validTimestamp" nillable="true" type="xs:boolean" />
      <xs:element name="signErrCode" nillable="true" type="xs:string" />
      <xs:element name="certErrCode" nillable="true" type="xs:string" />
      <xs:element name="trustErrCode" nillable="true" type="xs:string" />
      <xs:element name="p7mLevel" nillable="true" type="xs:int" />
      <xs:element name="p7mPath" nillable="true" type="xs:string" />
      <xs:element name="x509" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatureField">
    <xs:sequence>
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="signed" nillable="true" type="xs:boolean" />
      <xs:element name="page" nillable="true" type="xs:int" />
      <xs:element name="position" nillable="true" type="tns:ArrayOfPosition" />
      <xs:element name="pageH" nillable="true" type="xs:int" />
      <xs:element name="visible" nillable="true" type="xs:boolean" />
      <xs:element name="signer" nillable="true" type="xs:string" />
      <xs:element name="location" nillable="true" type="xs:string" />
      <xs:element name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatureFlags">
    <xs:sequence>
      <xs:element name="counterSignaturePath" nillable="true" type="xs:string" />
      <xs:element name="graphicalSignature" type="xs:boolean" />
      <xs:element name="ocsp" type="xs:boolean" />
      <xs:element name="timestamp" type="xs:boolean" />
      <xs:element name="cosignCoordinates" type="xs:boolean" />
      <xs:element name="timestampCode" nillable="true" type="xs:string" />
      <xs:element name="pdfSignatureLayout" type="xs:int" />
      <xs:element name="password" type="xs:string" />
      <xs:element name="pdfSignatureCertificationLevel" type="xs:int" />
      <xs:element name="cadesDetached" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="SignatureDocumentInfo">
    <xs:sequence>
      <xs:element name="signatures" nillable="true" type="tns:Signatures" />
      <xs:element name="content" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoteSignatureXadesParams">
    <xs:sequence>
      <xs:element name="detachedReferenceURI" nillable="true" type="xs:string" />
      <xs:element name="elemenXPath" nillable="true" type="xs:string" />
      <xs:element name="form" nillable="true" type="xs:string" />
      <xs:element name="signatureId" nillable="true" type="xs:string" />
      <xs:element name="type" nillable="true" type="xs:string" />
      <xs:element name="validationData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoteSignatureException">
    <xs:sequence />
  </xs:complexType>
</xs:schema>