MyRaiServiceInterface/Web References/CeitonScheduall/GAPP-Radio_PRP_Planning_Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ts="http://rai.it/GAPP-Radio/PRP/messages" xmlns:ab="http://rai.it/GAPP-Radio/PRP/messages/attendanceabsenceplanning" elementFormDefault="qualified" targetNamespace="http://rai.it/GAPP-Radio/PRP/messages" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="AttendanceAbsencePlanning.xsd" namespace="http://rai.it/GAPP-Radio/PRP/messages/attendanceabsenceplanning" />
  <element name="UpdateAttendanceAbsencePlanningRequest" type="ts:t_UpdateAttendanceAbsencePlanningRequest" />
  <element name="UpdateAttendanceAbsencePlanningResponse" type="ts:t_UpdateAttendanceAbsencePlanningResponse" />
  <complexType name="t_UpdateAttendanceAbsencePlanningRequest">
    <sequence>
      <element ref="ab:AttendanceAbsencePlanning" />
    </sequence>
  </complexType>
  <complexType name="t_UpdateAttendanceAbsencePlanningResponse">
    <sequence>
      <element ref="ab:AttendanceAbsencePlanning" />
    </sequence>
  </complexType>
</schema>