myRai/MyRaiWindowsService1/Web References/Autorizzazioni/sedi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="autorizzazioni_Net">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autorizzazioni_NetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="autorizzazioni_NetResult" type="tns:AutorizzazioniResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AutorizzazioniResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodMacroFunzione" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_ProfiliAssociati_Net">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_ProfiliAssociati_NetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_ProfiliAssociati_NetResult" type="tns:ProfiliAssociati" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProfiliAssociati">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfiliArray" type="tns:ArrayOfProfilo" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProfilo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Profilo" type="tns:Profilo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Profilo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice_modello" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Profilo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_ProfiliFunzioni">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DT_CategorieDatoAbilitate">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DT_LivelliAccesso">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DT_ModelliFunzioni">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="DataInserimento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataUltimaModifica" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_ModelliAssociati_Net">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_ModelliAssociati_NetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_ModelliAssociati_NetResult" type="tns:ModelliAssociati" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ModelliAssociati">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelliArray" type="tns:ArrayOfModello" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfModello">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Modello" nillable="true" type="tns:Modello" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Modello">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice_modello" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_CategorieDatoAbilitate">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DT_CategorieDatoAbilitateSelezionate">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DT_LivelliAccesso">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DT_ModelliFunzioni">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="DataInserimento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataUltimaModifica" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="autorizzazioni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autorizzazioniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autorizzazioniResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_NominativoUtente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_NominativoUtenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_NominativoUtenteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_CategoriaDato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Codice_tipo_categoria_dato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sottofunzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_CategoriaDatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_CategoriaDatoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_CategoriaDato_Net">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Codice_tipo_categoria_dato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sottofunzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_CategoriaDato_NetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_CategoriaDato_NetResult" type="tns:CategorieDatoAbilitate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CategorieDatoAbilitate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice_tipo_categoria_dato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice_Funzione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice_Sottofunzione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_CategorieDatoAbilitate">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CategorieDatoAbilitate_Array" type="tns:ArrayOfUtenti_CategorieDatoAbilitate" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUtenti_CategorieDatoAbilitate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Utenti_CategorieDatoAbilitate" type="tns:Utenti_CategorieDatoAbilitate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Utenti_CategorieDatoAbilitate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LogonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice_tipo_categoria_dato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codice_categoria_dato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_categoria_dato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_Utenti_CategorieDatoAbilitate">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="DT_Codice_SottofunzioneAbilitate">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Errore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descrizione_Errore" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Set_CategoriaDato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Codice_tipo_categoria_dato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Codice_categoria_dato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Descrizione_categoria_dato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Set_CategoriaDatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Set_CategoriaDatoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Del_CategoriaDato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Codice_tipo_categoria_dato" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Codice_categoria_dato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Del_CategoriaDatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Del_CategoriaDatoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_NonDipendenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_NonDipendentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_NonDipendentiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SedeContabile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SedeContabileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_SedeContabileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SedeContabileServizio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SedeContabileServizioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_SedeContabileServizioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SedeGapp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SedeGappResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_SedeGappResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Servizio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_ServizioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_ServizioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Sezione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_SezioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_SezioneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_LivelliAccesso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Codice_tipo_dato" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_LivelliAccessoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_LivelliAccessoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Del_Delega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Del_DelegaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Del_DelegaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Set_Delega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Logon_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funzione" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataDa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Set_DelegaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Set_DelegaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizzazioniResponse" type="tns:AutorizzazioniResponse" />
      <s:element name="ProfiliAssociati" type="tns:ProfiliAssociati" />
      <s:element name="ModelliAssociati" type="tns:ModelliAssociati" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="CategorieDatoAbilitate" type="tns:CategorieDatoAbilitate" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="autorizzazioni_NetSoapIn">
    <wsdl:part name="parameters" element="tns:autorizzazioni_Net" />
  </wsdl:message>
  <wsdl:message name="autorizzazioni_NetSoapOut">
    <wsdl:part name="parameters" element="tns:autorizzazioni_NetResponse" />
  </wsdl:message>
  <wsdl:message name="Get_ProfiliAssociati_NetSoapIn">
    <wsdl:part name="parameters" element="tns:Get_ProfiliAssociati_Net" />
  </wsdl:message>
  <wsdl:message name="Get_ProfiliAssociati_NetSoapOut">
    <wsdl:part name="parameters" element="tns:Get_ProfiliAssociati_NetResponse" />
  </wsdl:message>
  <wsdl:message name="Get_ModelliAssociati_NetSoapIn">
    <wsdl:part name="parameters" element="tns:Get_ModelliAssociati_Net" />
  </wsdl:message>
  <wsdl:message name="Get_ModelliAssociati_NetSoapOut">
    <wsdl:part name="parameters" element="tns:Get_ModelliAssociati_NetResponse" />
  </wsdl:message>
  <wsdl:message name="autorizzazioniSoapIn">
    <wsdl:part name="parameters" element="tns:autorizzazioni" />
  </wsdl:message>
  <wsdl:message name="autorizzazioniSoapOut">
    <wsdl:part name="parameters" element="tns:autorizzazioniResponse" />
  </wsdl:message>
  <wsdl:message name="Get_NominativoUtenteSoapIn">
    <wsdl:part name="parameters" element="tns:Get_NominativoUtente" />
  </wsdl:message>
  <wsdl:message name="Get_NominativoUtenteSoapOut">
    <wsdl:part name="parameters" element="tns:Get_NominativoUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDatoSoapIn">
    <wsdl:part name="parameters" element="tns:Get_CategoriaDato" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDatoSoapOut">
    <wsdl:part name="parameters" element="tns:Get_CategoriaDatoResponse" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDato_NetSoapIn">
    <wsdl:part name="parameters" element="tns:Get_CategoriaDato_Net" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDato_NetSoapOut">
    <wsdl:part name="parameters" element="tns:Get_CategoriaDato_NetResponse" />
  </wsdl:message>
  <wsdl:message name="Set_CategoriaDatoSoapIn">
    <wsdl:part name="parameters" element="tns:Set_CategoriaDato" />
  </wsdl:message>
  <wsdl:message name="Set_CategoriaDatoSoapOut">
    <wsdl:part name="parameters" element="tns:Set_CategoriaDatoResponse" />
  </wsdl:message>
  <wsdl:message name="Del_CategoriaDatoSoapIn">
    <wsdl:part name="parameters" element="tns:Del_CategoriaDato" />
  </wsdl:message>
  <wsdl:message name="Del_CategoriaDatoSoapOut">
    <wsdl:part name="parameters" element="tns:Del_CategoriaDatoResponse" />
  </wsdl:message>
  <wsdl:message name="Get_NonDipendentiSoapIn">
    <wsdl:part name="parameters" element="tns:Get_NonDipendenti" />
  </wsdl:message>
  <wsdl:message name="Get_NonDipendentiSoapOut">
    <wsdl:part name="parameters" element="tns:Get_NonDipendentiResponse" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileSoapIn">
    <wsdl:part name="parameters" element="tns:Get_SedeContabile" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileSoapOut">
    <wsdl:part name="parameters" element="tns:Get_SedeContabileResponse" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileServizioSoapIn">
    <wsdl:part name="parameters" element="tns:Get_SedeContabileServizio" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileServizioSoapOut">
    <wsdl:part name="parameters" element="tns:Get_SedeContabileServizioResponse" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGappSoapIn">
    <wsdl:part name="parameters" element="tns:Get_SedeGapp" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGappSoapOut">
    <wsdl:part name="parameters" element="tns:Get_SedeGappResponse" />
  </wsdl:message>
  <wsdl:message name="Get_ServizioSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Servizio" />
  </wsdl:message>
  <wsdl:message name="Get_ServizioSoapOut">
    <wsdl:part name="parameters" element="tns:Get_ServizioResponse" />
  </wsdl:message>
  <wsdl:message name="Get_SezioneSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Sezione" />
  </wsdl:message>
  <wsdl:message name="Get_SezioneSoapOut">
    <wsdl:part name="parameters" element="tns:Get_SezioneResponse" />
  </wsdl:message>
  <wsdl:message name="Get_LivelliAccessoSoapIn">
    <wsdl:part name="parameters" element="tns:Get_LivelliAccesso" />
  </wsdl:message>
  <wsdl:message name="Get_LivelliAccessoSoapOut">
    <wsdl:part name="parameters" element="tns:Get_LivelliAccessoResponse" />
  </wsdl:message>
  <wsdl:message name="Del_DelegaSoapIn">
    <wsdl:part name="parameters" element="tns:Del_Delega" />
  </wsdl:message>
  <wsdl:message name="Del_DelegaSoapOut">
    <wsdl:part name="parameters" element="tns:Del_DelegaResponse" />
  </wsdl:message>
  <wsdl:message name="Set_DelegaSoapIn">
    <wsdl:part name="parameters" element="tns:Set_Delega" />
  </wsdl:message>
  <wsdl:message name="Set_DelegaSoapOut">
    <wsdl:part name="parameters" element="tns:Set_DelegaResponse" />
  </wsdl:message>
  <wsdl:message name="autorizzazioni_NetHttpGetIn">
    <wsdl:part name="codice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="autorizzazioni_NetHttpGetOut">
    <wsdl:part name="Body" element="tns:AutorizzazioniResponse" />
  </wsdl:message>
  <wsdl:message name="Get_ProfiliAssociati_NetHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_ProfiliAssociati_NetHttpGetOut">
    <wsdl:part name="Body" element="tns:ProfiliAssociati" />
  </wsdl:message>
  <wsdl:message name="Get_ModelliAssociati_NetHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_ModelliAssociati_NetHttpGetOut">
    <wsdl:part name="Body" element="tns:ModelliAssociati" />
  </wsdl:message>
  <wsdl:message name="autorizzazioniHttpGetIn">
    <wsdl:part name="codice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="autorizzazioniHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_NominativoUtenteHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_NominativoUtenteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDatoHttpGetIn">
    <wsdl:part name="Codice_tipo_categoria_dato" type="s:string" />
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Sottofunzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDatoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDato_NetHttpGetIn">
    <wsdl:part name="Codice_tipo_categoria_dato" type="s:string" />
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Sottofunzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDato_NetHttpGetOut">
    <wsdl:part name="Body" element="tns:CategorieDatoAbilitate" />
  </wsdl:message>
  <wsdl:message name="Set_CategoriaDatoHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Codice_tipo_categoria_dato" type="s:string" />
    <wsdl:part name="Codice_categoria_dato" type="s:string" />
    <wsdl:part name="Descrizione_categoria_dato" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Set_CategoriaDatoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Del_CategoriaDatoHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Codice_tipo_categoria_dato" type="s:string" />
    <wsdl:part name="Codice_categoria_dato" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Del_CategoriaDatoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_NonDipendentiHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_NonDipendentiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileServizioHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileServizioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGappHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGappHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_ServizioHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_ServizioHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_SezioneHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SezioneHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_LivelliAccessoHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Codice_tipo_dato" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_LivelliAccessoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Del_DelegaHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Del_DelegaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Set_DelegaHttpGetIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="DataDa" type="s:string" />
    <wsdl:part name="DataA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Set_DelegaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="autorizzazioni_NetHttpPostIn">
    <wsdl:part name="codice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="autorizzazioni_NetHttpPostOut">
    <wsdl:part name="Body" element="tns:AutorizzazioniResponse" />
  </wsdl:message>
  <wsdl:message name="Get_ProfiliAssociati_NetHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_ProfiliAssociati_NetHttpPostOut">
    <wsdl:part name="Body" element="tns:ProfiliAssociati" />
  </wsdl:message>
  <wsdl:message name="Get_ModelliAssociati_NetHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_ModelliAssociati_NetHttpPostOut">
    <wsdl:part name="Body" element="tns:ModelliAssociati" />
  </wsdl:message>
  <wsdl:message name="autorizzazioniHttpPostIn">
    <wsdl:part name="codice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="autorizzazioniHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_NominativoUtenteHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_NominativoUtenteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDatoHttpPostIn">
    <wsdl:part name="Codice_tipo_categoria_dato" type="s:string" />
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Sottofunzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDatoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDato_NetHttpPostIn">
    <wsdl:part name="Codice_tipo_categoria_dato" type="s:string" />
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Sottofunzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_CategoriaDato_NetHttpPostOut">
    <wsdl:part name="Body" element="tns:CategorieDatoAbilitate" />
  </wsdl:message>
  <wsdl:message name="Set_CategoriaDatoHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Codice_tipo_categoria_dato" type="s:string" />
    <wsdl:part name="Codice_categoria_dato" type="s:string" />
    <wsdl:part name="Descrizione_categoria_dato" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Set_CategoriaDatoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Del_CategoriaDatoHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Codice_tipo_categoria_dato" type="s:string" />
    <wsdl:part name="Codice_categoria_dato" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Del_CategoriaDatoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_NonDipendentiHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_NonDipendentiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileServizioHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeContabileServizioHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGappHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SedeGappHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_ServizioHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_ServizioHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_SezioneHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_SezioneHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Get_LivelliAccessoHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Codice_tipo_dato" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Get_LivelliAccessoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Del_DelegaHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Del_DelegaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Set_DelegaHttpPostIn">
    <wsdl:part name="Logon_id" type="s:string" />
    <wsdl:part name="Funzione" type="s:string" />
    <wsdl:part name="Matricola" type="s:string" />
    <wsdl:part name="DataDa" type="s:string" />
    <wsdl:part name="DataA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Set_DelegaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SediSoap">
    <wsdl:operation name="autorizzazioni_Net">
      <wsdl:input message="tns:autorizzazioni_NetSoapIn" />
      <wsdl:output message="tns:autorizzazioni_NetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_ProfiliAssociati_Net">
      <wsdl:input message="tns:Get_ProfiliAssociati_NetSoapIn" />
      <wsdl:output message="tns:Get_ProfiliAssociati_NetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_ModelliAssociati_Net">
      <wsdl:input message="tns:Get_ModelliAssociati_NetSoapIn" />
      <wsdl:output message="tns:Get_ModelliAssociati_NetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="autorizzazioni">
      <wsdl:input message="tns:autorizzazioniSoapIn" />
      <wsdl:output message="tns:autorizzazioniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_NominativoUtente">
      <wsdl:input message="tns:Get_NominativoUtenteSoapIn" />
      <wsdl:output message="tns:Get_NominativoUtenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato">
      <wsdl:input message="tns:Get_CategoriaDatoSoapIn" />
      <wsdl:output message="tns:Get_CategoriaDatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato_Net">
      <wsdl:input message="tns:Get_CategoriaDato_NetSoapIn" />
      <wsdl:output message="tns:Get_CategoriaDato_NetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_CategoriaDato">
      <wsdl:input message="tns:Set_CategoriaDatoSoapIn" />
      <wsdl:output message="tns:Set_CategoriaDatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Del_CategoriaDato">
      <wsdl:input message="tns:Del_CategoriaDatoSoapIn" />
      <wsdl:output message="tns:Del_CategoriaDatoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_NonDipendenti">
      <wsdl:input message="tns:Get_NonDipendentiSoapIn" />
      <wsdl:output message="tns:Get_NonDipendentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <wsdl:input message="tns:Get_SedeContabileSoapIn" />
      <wsdl:output message="tns:Get_SedeContabileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileServizio">
      <wsdl:input message="tns:Get_SedeContabileServizioSoapIn" />
      <wsdl:output message="tns:Get_SedeContabileServizioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp">
      <wsdl:input message="tns:Get_SedeGappSoapIn" />
      <wsdl:output message="tns:Get_SedeGappSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Servizio">
      <wsdl:input message="tns:Get_ServizioSoapIn" />
      <wsdl:output message="tns:Get_ServizioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Sezione">
      <wsdl:input message="tns:Get_SezioneSoapIn" />
      <wsdl:output message="tns:Get_SezioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_LivelliAccesso">
      <wsdl:input message="tns:Get_LivelliAccessoSoapIn" />
      <wsdl:output message="tns:Get_LivelliAccessoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Del_Delega">
      <wsdl:input message="tns:Del_DelegaSoapIn" />
      <wsdl:output message="tns:Del_DelegaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_Delega">
      <wsdl:input message="tns:Set_DelegaSoapIn" />
      <wsdl:output message="tns:Set_DelegaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SediHttpGet">
    <wsdl:operation name="autorizzazioni_Net">
      <wsdl:input message="tns:autorizzazioni_NetHttpGetIn" />
      <wsdl:output message="tns:autorizzazioni_NetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_ProfiliAssociati_Net">
      <wsdl:input message="tns:Get_ProfiliAssociati_NetHttpGetIn" />
      <wsdl:output message="tns:Get_ProfiliAssociati_NetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_ModelliAssociati_Net">
      <wsdl:input message="tns:Get_ModelliAssociati_NetHttpGetIn" />
      <wsdl:output message="tns:Get_ModelliAssociati_NetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="autorizzazioni">
      <wsdl:input message="tns:autorizzazioniHttpGetIn" />
      <wsdl:output message="tns:autorizzazioniHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_NominativoUtente">
      <wsdl:input message="tns:Get_NominativoUtenteHttpGetIn" />
      <wsdl:output message="tns:Get_NominativoUtenteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato">
      <wsdl:input message="tns:Get_CategoriaDatoHttpGetIn" />
      <wsdl:output message="tns:Get_CategoriaDatoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato_Net">
      <wsdl:input message="tns:Get_CategoriaDato_NetHttpGetIn" />
      <wsdl:output message="tns:Get_CategoriaDato_NetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_CategoriaDato">
      <wsdl:input message="tns:Set_CategoriaDatoHttpGetIn" />
      <wsdl:output message="tns:Set_CategoriaDatoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Del_CategoriaDato">
      <wsdl:input message="tns:Del_CategoriaDatoHttpGetIn" />
      <wsdl:output message="tns:Del_CategoriaDatoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_NonDipendenti">
      <wsdl:input message="tns:Get_NonDipendentiHttpGetIn" />
      <wsdl:output message="tns:Get_NonDipendentiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <wsdl:input message="tns:Get_SedeContabileHttpGetIn" />
      <wsdl:output message="tns:Get_SedeContabileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileServizio">
      <wsdl:input message="tns:Get_SedeContabileServizioHttpGetIn" />
      <wsdl:output message="tns:Get_SedeContabileServizioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp">
      <wsdl:input message="tns:Get_SedeGappHttpGetIn" />
      <wsdl:output message="tns:Get_SedeGappHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Servizio">
      <wsdl:input message="tns:Get_ServizioHttpGetIn" />
      <wsdl:output message="tns:Get_ServizioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Sezione">
      <wsdl:input message="tns:Get_SezioneHttpGetIn" />
      <wsdl:output message="tns:Get_SezioneHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_LivelliAccesso">
      <wsdl:input message="tns:Get_LivelliAccessoHttpGetIn" />
      <wsdl:output message="tns:Get_LivelliAccessoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Del_Delega">
      <wsdl:input message="tns:Del_DelegaHttpGetIn" />
      <wsdl:output message="tns:Del_DelegaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_Delega">
      <wsdl:input message="tns:Set_DelegaHttpGetIn" />
      <wsdl:output message="tns:Set_DelegaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SediHttpPost">
    <wsdl:operation name="autorizzazioni_Net">
      <wsdl:input message="tns:autorizzazioni_NetHttpPostIn" />
      <wsdl:output message="tns:autorizzazioni_NetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_ProfiliAssociati_Net">
      <wsdl:input message="tns:Get_ProfiliAssociati_NetHttpPostIn" />
      <wsdl:output message="tns:Get_ProfiliAssociati_NetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_ModelliAssociati_Net">
      <wsdl:input message="tns:Get_ModelliAssociati_NetHttpPostIn" />
      <wsdl:output message="tns:Get_ModelliAssociati_NetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="autorizzazioni">
      <wsdl:input message="tns:autorizzazioniHttpPostIn" />
      <wsdl:output message="tns:autorizzazioniHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_NominativoUtente">
      <wsdl:input message="tns:Get_NominativoUtenteHttpPostIn" />
      <wsdl:output message="tns:Get_NominativoUtenteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato">
      <wsdl:input message="tns:Get_CategoriaDatoHttpPostIn" />
      <wsdl:output message="tns:Get_CategoriaDatoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato_Net">
      <wsdl:input message="tns:Get_CategoriaDato_NetHttpPostIn" />
      <wsdl:output message="tns:Get_CategoriaDato_NetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_CategoriaDato">
      <wsdl:input message="tns:Set_CategoriaDatoHttpPostIn" />
      <wsdl:output message="tns:Set_CategoriaDatoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Del_CategoriaDato">
      <wsdl:input message="tns:Del_CategoriaDatoHttpPostIn" />
      <wsdl:output message="tns:Del_CategoriaDatoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_NonDipendenti">
      <wsdl:input message="tns:Get_NonDipendentiHttpPostIn" />
      <wsdl:output message="tns:Get_NonDipendentiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <wsdl:input message="tns:Get_SedeContabileHttpPostIn" />
      <wsdl:output message="tns:Get_SedeContabileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileServizio">
      <wsdl:input message="tns:Get_SedeContabileServizioHttpPostIn" />
      <wsdl:output message="tns:Get_SedeContabileServizioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp">
      <wsdl:input message="tns:Get_SedeGappHttpPostIn" />
      <wsdl:output message="tns:Get_SedeGappHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Servizio">
      <wsdl:input message="tns:Get_ServizioHttpPostIn" />
      <wsdl:output message="tns:Get_ServizioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Sezione">
      <wsdl:input message="tns:Get_SezioneHttpPostIn" />
      <wsdl:output message="tns:Get_SezioneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_LivelliAccesso">
      <wsdl:input message="tns:Get_LivelliAccessoHttpPostIn" />
      <wsdl:output message="tns:Get_LivelliAccessoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Del_Delega">
      <wsdl:input message="tns:Del_DelegaHttpPostIn" />
      <wsdl:output message="tns:Del_DelegaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_Delega">
      <wsdl:input message="tns:Set_DelegaHttpPostIn" />
      <wsdl:output message="tns:Set_DelegaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SediSoap" type="tns:SediSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autorizzazioni_Net">
      <soap:operation soapAction="http://tempuri.org/autorizzazioni_Net" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ProfiliAssociati_Net">
      <soap:operation soapAction="http://tempuri.org/Get_ProfiliAssociati_Net" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ModelliAssociati_Net">
      <soap:operation soapAction="http://tempuri.org/Get_ModelliAssociati_Net" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizzazioni">
      <soap:operation soapAction="http://tempuri.org/autorizzazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_NominativoUtente">
      <soap:operation soapAction="http://tempuri.org/Get_NominativoUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato">
      <soap:operation soapAction="http://tempuri.org/Get_CategoriaDato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato_Net">
      <soap:operation soapAction="http://tempuri.org/Get_CategoriaDato_Net" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_CategoriaDato">
      <soap:operation soapAction="http://tempuri.org/Set_CategoriaDato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_CategoriaDato">
      <soap:operation soapAction="http://tempuri.org/Del_CategoriaDato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_NonDipendenti">
      <soap:operation soapAction="http://tempuri.org/Get_NonDipendenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <soap:operation soapAction="http://tempuri.org/Get_SedeContabile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileServizio">
      <soap:operation soapAction="http://tempuri.org/Get_SedeContabileServizio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp">
      <soap:operation soapAction="http://tempuri.org/Get_SedeGapp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Servizio">
      <soap:operation soapAction="http://tempuri.org/Get_Servizio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Sezione">
      <soap:operation soapAction="http://tempuri.org/Get_Sezione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_LivelliAccesso">
      <soap:operation soapAction="http://tempuri.org/Get_LivelliAccesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_Delega">
      <soap:operation soapAction="http://tempuri.org/Del_Delega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Delega">
      <soap:operation soapAction="http://tempuri.org/Set_Delega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SediSoap12" type="tns:SediSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autorizzazioni_Net">
      <soap12:operation soapAction="http://tempuri.org/autorizzazioni_Net" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ProfiliAssociati_Net">
      <soap12:operation soapAction="http://tempuri.org/Get_ProfiliAssociati_Net" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ModelliAssociati_Net">
      <soap12:operation soapAction="http://tempuri.org/Get_ModelliAssociati_Net" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizzazioni">
      <soap12:operation soapAction="http://tempuri.org/autorizzazioni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_NominativoUtente">
      <soap12:operation soapAction="http://tempuri.org/Get_NominativoUtente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato">
      <soap12:operation soapAction="http://tempuri.org/Get_CategoriaDato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato_Net">
      <soap12:operation soapAction="http://tempuri.org/Get_CategoriaDato_Net" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_CategoriaDato">
      <soap12:operation soapAction="http://tempuri.org/Set_CategoriaDato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_CategoriaDato">
      <soap12:operation soapAction="http://tempuri.org/Del_CategoriaDato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_NonDipendenti">
      <soap12:operation soapAction="http://tempuri.org/Get_NonDipendenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <soap12:operation soapAction="http://tempuri.org/Get_SedeContabile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileServizio">
      <soap12:operation soapAction="http://tempuri.org/Get_SedeContabileServizio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp">
      <soap12:operation soapAction="http://tempuri.org/Get_SedeGapp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Servizio">
      <soap12:operation soapAction="http://tempuri.org/Get_Servizio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Sezione">
      <soap12:operation soapAction="http://tempuri.org/Get_Sezione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_LivelliAccesso">
      <soap12:operation soapAction="http://tempuri.org/Get_LivelliAccesso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_Delega">
      <soap12:operation soapAction="http://tempuri.org/Del_Delega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Delega">
      <soap12:operation soapAction="http://tempuri.org/Set_Delega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SediHttpGet" type="tns:SediHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="autorizzazioni_Net">
      <http:operation location="/autorizzazioni_Net" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ProfiliAssociati_Net">
      <http:operation location="/Get_ProfiliAssociati_Net" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ModelliAssociati_Net">
      <http:operation location="/Get_ModelliAssociati_Net" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizzazioni">
      <http:operation location="/autorizzazioni" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_NominativoUtente">
      <http:operation location="/Get_NominativoUtente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato">
      <http:operation location="/Get_CategoriaDato" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato_Net">
      <http:operation location="/Get_CategoriaDato_Net" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_CategoriaDato">
      <http:operation location="/Set_CategoriaDato" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_CategoriaDato">
      <http:operation location="/Del_CategoriaDato" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_NonDipendenti">
      <http:operation location="/Get_NonDipendenti" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <http:operation location="/Get_SedeContabile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileServizio">
      <http:operation location="/Get_SedeContabileServizio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp">
      <http:operation location="/Get_SedeGapp" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Servizio">
      <http:operation location="/Get_Servizio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Sezione">
      <http:operation location="/Get_Sezione" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_LivelliAccesso">
      <http:operation location="/Get_LivelliAccesso" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_Delega">
      <http:operation location="/Del_Delega" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Delega">
      <http:operation location="/Set_Delega" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SediHttpPost" type="tns:SediHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="autorizzazioni_Net">
      <http:operation location="/autorizzazioni_Net" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ProfiliAssociati_Net">
      <http:operation location="/Get_ProfiliAssociati_Net" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_ModelliAssociati_Net">
      <http:operation location="/Get_ModelliAssociati_Net" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizzazioni">
      <http:operation location="/autorizzazioni" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_NominativoUtente">
      <http:operation location="/Get_NominativoUtente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato">
      <http:operation location="/Get_CategoriaDato" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_CategoriaDato_Net">
      <http:operation location="/Get_CategoriaDato_Net" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_CategoriaDato">
      <http:operation location="/Set_CategoriaDato" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_CategoriaDato">
      <http:operation location="/Del_CategoriaDato" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_NonDipendenti">
      <http:operation location="/Get_NonDipendenti" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabile">
      <http:operation location="/Get_SedeContabile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeContabileServizio">
      <http:operation location="/Get_SedeContabileServizio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SedeGapp">
      <http:operation location="/Get_SedeGapp" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Servizio">
      <http:operation location="/Get_Servizio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Sezione">
      <http:operation location="/Get_Sezione" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_LivelliAccesso">
      <http:operation location="/Get_LivelliAccesso" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_Delega">
      <http:operation location="/Del_Delega" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Delega">
      <http:operation location="/Set_Delega" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sedi">
    <wsdl:port name="SediSoap" binding="tns:SediSoap">
      <soap:address location="http://svilhrga.servizi.rai.it/Filtro/sedi.asmx" />
    </wsdl:port>
    <wsdl:port name="SediSoap12" binding="tns:SediSoap12">
      <soap12:address location="http://svilhrga.servizi.rai.it/Filtro/sedi.asmx" />
    </wsdl:port>
    <wsdl:port name="SediHttpGet" binding="tns:SediHttpGet">
      <http:address location="http://svilhrga.servizi.rai.it/Filtro/sedi.asmx" />
    </wsdl:port>
    <wsdl:port name="SediHttpPost" binding="tns:SediHttpPost">
      <http:address location="http://svilhrga.servizi.rai.it/Filtro/sedi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>