myRai/Web References/it.rai.servizi.wiahrss/ezService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoTrasferte">
        <s:complexType />
      </s:element>
      <s:element name="ElencoTrasferteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ElencoTrasferteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoSituazioneDebitoria">
        <s:complexType />
      </s:element>
      <s:element name="ElencoSituazioneDebitoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ElencoSituazioneDebitoriaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoOSN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_sdata" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sdataF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_st" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoOSNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ElencoOSNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TLIQ_DATI_MATRICOLA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_conteggio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TLIQ_DATI_MATRICOLAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TLIQ_DATI_MATRICOLAResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TLIQ_DATI_MATRICOLA_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_conteggio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TLIQ_DATI_MATRICOLA_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TLIQ_DATI_MATRICOLA_SResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TLIQ_PROSPETTO_MATRICOLA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_matricola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_conteggio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TLIQ_PROSPETTO_MATRICOLAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TLIQ_PROSPETTO_MATRICOLAResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBadgeElettronico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_sBe" type="tns:Timbrature_Elettronica" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Timbrature_Elettronica">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Matricola" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Stato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Indirizzo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Citta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Provincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Cap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Posizione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Latitudine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Longitudine" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetBadgeElettronicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetBadgeElettronicoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_sRc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CER" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoTrasferteSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoTrasferte" />
  </wsdl:message>
  <wsdl:message name="ElencoTrasferteSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoTrasferteResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoSituazioneDebitoriaSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoSituazioneDebitoria" />
  </wsdl:message>
  <wsdl:message name="ElencoSituazioneDebitoriaSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoSituazioneDebitoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoOSNSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoOSN" />
  </wsdl:message>
  <wsdl:message name="ElencoOSNSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoOSNResponse" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLASoapIn">
    <wsdl:part name="parameters" element="tns:TLIQ_DATI_MATRICOLA" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLASoapOut">
    <wsdl:part name="parameters" element="tns:TLIQ_DATI_MATRICOLAResponse" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLA_SSoapIn">
    <wsdl:part name="parameters" element="tns:TLIQ_DATI_MATRICOLA_S" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLA_SSoapOut">
    <wsdl:part name="parameters" element="tns:TLIQ_DATI_MATRICOLA_SResponse" />
  </wsdl:message>
  <wsdl:message name="TLIQ_PROSPETTO_MATRICOLASoapIn">
    <wsdl:part name="parameters" element="tns:TLIQ_PROSPETTO_MATRICOLA" />
  </wsdl:message>
  <wsdl:message name="TLIQ_PROSPETTO_MATRICOLASoapOut">
    <wsdl:part name="parameters" element="tns:TLIQ_PROSPETTO_MATRICOLAResponse" />
  </wsdl:message>
  <wsdl:message name="SetBadgeElettronicoSoapIn">
    <wsdl:part name="parameters" element="tns:SetBadgeElettronico" />
  </wsdl:message>
  <wsdl:message name="SetBadgeElettronicoSoapOut">
    <wsdl:part name="parameters" element="tns:SetBadgeElettronicoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataTable" />
  </wsdl:message>
  <wsdl:message name="GetDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoTrasferteHttpGetIn" />
  <wsdl:message name="ElencoTrasferteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoSituazioneDebitoriaHttpGetIn" />
  <wsdl:message name="ElencoSituazioneDebitoriaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoOSNHttpGetIn">
    <wsdl:part name="_sdata" type="s:string" />
    <wsdl:part name="_sdataF" type="s:string" />
    <wsdl:part name="_st" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoOSNHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLAHttpGetIn">
    <wsdl:part name="_matricola" type="s:string" />
    <wsdl:part name="_conteggio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLAHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLA_SHttpGetIn">
    <wsdl:part name="_matricola" type="s:string" />
    <wsdl:part name="_conteggio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLA_SHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="TLIQ_PROSPETTO_MATRICOLAHttpGetIn">
    <wsdl:part name="_matricola" type="s:string" />
    <wsdl:part name="_conteggio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TLIQ_PROSPETTO_MATRICOLAHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetDataTableHttpGetIn">
    <wsdl:part name="_sRc" type="s:string" />
    <wsdl:part name="CER" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoTrasferteHttpPostIn" />
  <wsdl:message name="ElencoTrasferteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoSituazioneDebitoriaHttpPostIn" />
  <wsdl:message name="ElencoSituazioneDebitoriaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ElencoOSNHttpPostIn">
    <wsdl:part name="_sdata" type="s:string" />
    <wsdl:part name="_sdataF" type="s:string" />
    <wsdl:part name="_st" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoOSNHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLAHttpPostIn">
    <wsdl:part name="_matricola" type="s:string" />
    <wsdl:part name="_conteggio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLAHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLA_SHttpPostIn">
    <wsdl:part name="_matricola" type="s:string" />
    <wsdl:part name="_conteggio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TLIQ_DATI_MATRICOLA_SHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="TLIQ_PROSPETTO_MATRICOLAHttpPostIn">
    <wsdl:part name="_matricola" type="s:string" />
    <wsdl:part name="_conteggio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TLIQ_PROSPETTO_MATRICOLAHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetDataTableHttpPostIn">
    <wsdl:part name="_sRc" type="s:string" />
    <wsdl:part name="CER" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ezServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoTrasferte">
      <wsdl:input message="tns:ElencoTrasferteSoapIn" />
      <wsdl:output message="tns:ElencoTrasferteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoSituazioneDebitoria">
      <wsdl:input message="tns:ElencoSituazioneDebitoriaSoapIn" />
      <wsdl:output message="tns:ElencoSituazioneDebitoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoOSN">
      <wsdl:input message="tns:ElencoOSNSoapIn" />
      <wsdl:output message="tns:ElencoOSNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA">
      <wsdl:input message="tns:TLIQ_DATI_MATRICOLASoapIn" />
      <wsdl:output message="tns:TLIQ_DATI_MATRICOLASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA_S">
      <wsdl:input message="tns:TLIQ_DATI_MATRICOLA_SSoapIn" />
      <wsdl:output message="tns:TLIQ_DATI_MATRICOLA_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TLIQ_PROSPETTO_MATRICOLA">
      <wsdl:input message="tns:TLIQ_PROSPETTO_MATRICOLASoapIn" />
      <wsdl:output message="tns:TLIQ_PROSPETTO_MATRICOLASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBadgeElettronico">
      <wsdl:input message="tns:SetBadgeElettronicoSoapIn" />
      <wsdl:output message="tns:SetBadgeElettronicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <wsdl:input message="tns:GetDataTableSoapIn" />
      <wsdl:output message="tns:GetDataTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ezServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoTrasferte">
      <wsdl:input message="tns:ElencoTrasferteHttpGetIn" />
      <wsdl:output message="tns:ElencoTrasferteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoSituazioneDebitoria">
      <wsdl:input message="tns:ElencoSituazioneDebitoriaHttpGetIn" />
      <wsdl:output message="tns:ElencoSituazioneDebitoriaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoOSN">
      <wsdl:input message="tns:ElencoOSNHttpGetIn" />
      <wsdl:output message="tns:ElencoOSNHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA">
      <wsdl:input message="tns:TLIQ_DATI_MATRICOLAHttpGetIn" />
      <wsdl:output message="tns:TLIQ_DATI_MATRICOLAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA_S">
      <wsdl:input message="tns:TLIQ_DATI_MATRICOLA_SHttpGetIn" />
      <wsdl:output message="tns:TLIQ_DATI_MATRICOLA_SHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TLIQ_PROSPETTO_MATRICOLA">
      <wsdl:input message="tns:TLIQ_PROSPETTO_MATRICOLAHttpGetIn" />
      <wsdl:output message="tns:TLIQ_PROSPETTO_MATRICOLAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <wsdl:input message="tns:GetDataTableHttpGetIn" />
      <wsdl:output message="tns:GetDataTableHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ezServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoTrasferte">
      <wsdl:input message="tns:ElencoTrasferteHttpPostIn" />
      <wsdl:output message="tns:ElencoTrasferteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoSituazioneDebitoria">
      <wsdl:input message="tns:ElencoSituazioneDebitoriaHttpPostIn" />
      <wsdl:output message="tns:ElencoSituazioneDebitoriaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoOSN">
      <wsdl:input message="tns:ElencoOSNHttpPostIn" />
      <wsdl:output message="tns:ElencoOSNHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA">
      <wsdl:input message="tns:TLIQ_DATI_MATRICOLAHttpPostIn" />
      <wsdl:output message="tns:TLIQ_DATI_MATRICOLAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA_S">
      <wsdl:input message="tns:TLIQ_DATI_MATRICOLA_SHttpPostIn" />
      <wsdl:output message="tns:TLIQ_DATI_MATRICOLA_SHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TLIQ_PROSPETTO_MATRICOLA">
      <wsdl:input message="tns:TLIQ_PROSPETTO_MATRICOLAHttpPostIn" />
      <wsdl:output message="tns:TLIQ_PROSPETTO_MATRICOLAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <wsdl:input message="tns:GetDataTableHttpPostIn" />
      <wsdl:output message="tns:GetDataTableHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ezServiceSoap" type="tns:ezServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoTrasferte">
      <soap:operation soapAction="http://tempuri.org/ElencoTrasferte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoSituazioneDebitoria">
      <soap:operation soapAction="http://tempuri.org/ElencoSituazioneDebitoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoOSN">
      <soap:operation soapAction="http://tempuri.org/ElencoOSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA">
      <soap:operation soapAction="http://tempuri.org/TLIQ_DATI_MATRICOLA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA_S">
      <soap:operation soapAction="http://tempuri.org/TLIQ_DATI_MATRICOLA_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_PROSPETTO_MATRICOLA">
      <soap:operation soapAction="http://tempuri.org/TLIQ_PROSPETTO_MATRICOLA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBadgeElettronico">
      <soap:operation soapAction="http://tempuri.org/SetBadgeElettronico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <soap:operation soapAction="http://tempuri.org/GetDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ezServiceSoap12" type="tns:ezServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoTrasferte">
      <soap12:operation soapAction="http://tempuri.org/ElencoTrasferte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoSituazioneDebitoria">
      <soap12:operation soapAction="http://tempuri.org/ElencoSituazioneDebitoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoOSN">
      <soap12:operation soapAction="http://tempuri.org/ElencoOSN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA">
      <soap12:operation soapAction="http://tempuri.org/TLIQ_DATI_MATRICOLA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA_S">
      <soap12:operation soapAction="http://tempuri.org/TLIQ_DATI_MATRICOLA_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_PROSPETTO_MATRICOLA">
      <soap12:operation soapAction="http://tempuri.org/TLIQ_PROSPETTO_MATRICOLA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBadgeElettronico">
      <soap12:operation soapAction="http://tempuri.org/SetBadgeElettronico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <soap12:operation soapAction="http://tempuri.org/GetDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ezServiceHttpGet" type="tns:ezServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoTrasferte">
      <http:operation location="/ElencoTrasferte" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoSituazioneDebitoria">
      <http:operation location="/ElencoSituazioneDebitoria" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoOSN">
      <http:operation location="/ElencoOSN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA">
      <http:operation location="/TLIQ_DATI_MATRICOLA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA_S">
      <http:operation location="/TLIQ_DATI_MATRICOLA_S" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_PROSPETTO_MATRICOLA">
      <http:operation location="/TLIQ_PROSPETTO_MATRICOLA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <http:operation location="/GetDataTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ezServiceHttpPost" type="tns:ezServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoTrasferte">
      <http:operation location="/ElencoTrasferte" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoSituazioneDebitoria">
      <http:operation location="/ElencoSituazioneDebitoria" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoOSN">
      <http:operation location="/ElencoOSN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA">
      <http:operation location="/TLIQ_DATI_MATRICOLA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_DATI_MATRICOLA_S">
      <http:operation location="/TLIQ_DATI_MATRICOLA_S" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TLIQ_PROSPETTO_MATRICOLA">
      <http:operation location="/TLIQ_PROSPETTO_MATRICOLA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <http:operation location="/GetDataTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ezService">
    <wsdl:port name="ezServiceSoap" binding="tns:ezServiceSoap">
      <soap:address location="http://svilwiahrss.servizi.rai.it/rp2/ezService/ezService.asmx" />
    </wsdl:port>
    <wsdl:port name="ezServiceSoap12" binding="tns:ezServiceSoap12">
      <soap12:address location="http://svilwiahrss.servizi.rai.it/rp2/ezService/ezService.asmx" />
    </wsdl:port>
    <wsdl:port name="ezServiceHttpGet" binding="tns:ezServiceHttpGet">
      <http:address location="http://svilwiahrss.servizi.rai.it/rp2/ezService/ezService.asmx" />
    </wsdl:port>
    <wsdl:port name="ezServiceHttpPost" binding="tns:ezServiceHttpPost">
      <http:address location="http://svilwiahrss.servizi.rai.it/rp2/ezService/ezService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>