myRaiServiceHub/Web References/it.rai.servizi.comunica/comunica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="DocComunica" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="DocComunica" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="DocComunica">
      <s:element name="ElencoNotificheDocumenti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro_01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_02" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametro_03" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoNotificheDocumentiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ElencoNotificheDocumentiResult" type="tns:ListaNotificheDocumenti" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaNotificheDocumenti">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StringaErrore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Esito" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Notifiche" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaNotificheDocumenti" type="tns:ListaNotificheDocumenti" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ElencoNotificheDocumentiSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoNotificheDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoNotificheDocumentiResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiHttpGetIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
    <wsdl:part name="parametro_03" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaNotificheDocumenti" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiHttpPostIn">
    <wsdl:part name="parametro_01" type="s:string" />
    <wsdl:part name="parametro_02" type="s:string" />
    <wsdl:part name="parametro_03" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ElencoNotificheDocumentiHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaNotificheDocumenti" />
  </wsdl:message>
  <wsdl:portType name="ComunicaSoap">
    <wsdl:operation name="ElencoNotificheDocumenti">
      <wsdl:input message="tns:ElencoNotificheDocumentiSoapIn" />
      <wsdl:output message="tns:ElencoNotificheDocumentiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ComunicaHttpGet">
    <wsdl:operation name="ElencoNotificheDocumenti">
      <wsdl:input message="tns:ElencoNotificheDocumentiHttpGetIn" />
      <wsdl:output message="tns:ElencoNotificheDocumentiHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ComunicaHttpPost">
    <wsdl:operation name="ElencoNotificheDocumenti">
      <wsdl:input message="tns:ElencoNotificheDocumentiHttpPostIn" />
      <wsdl:output message="tns:ElencoNotificheDocumentiHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComunicaSoap" type="tns:ComunicaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ElencoNotificheDocumenti">
      <soap:operation soapAction="DocComunica/ElencoNotificheDocumenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComunicaSoap12" type="tns:ComunicaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ElencoNotificheDocumenti">
      <soap12:operation soapAction="DocComunica/ElencoNotificheDocumenti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComunicaHttpGet" type="tns:ComunicaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ElencoNotificheDocumenti">
      <http:operation location="/ElencoNotificheDocumenti" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComunicaHttpPost" type="tns:ComunicaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ElencoNotificheDocumenti">
      <http:operation location="/ElencoNotificheDocumenti" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Comunica">
    <wsdl:port name="ComunicaSoap" binding="tns:ComunicaSoap">
      <soap:address location="http://hrpaga.servizi.rai.it/utility/comunica.asmx" />
    </wsdl:port>
    <wsdl:port name="ComunicaSoap12" binding="tns:ComunicaSoap12">
      <soap12:address location="http://hrpaga.servizi.rai.it/utility/comunica.asmx" />
    </wsdl:port>
    <wsdl:port name="ComunicaHttpGet" binding="tns:ComunicaHttpGet">
      <http:address location="http://hrpaga.servizi.rai.it/utility/comunica.asmx" />
    </wsdl:port>
    <wsdl:port name="ComunicaHttpPost" binding="tns:ComunicaHttpPost">
      <http:address location="http://hrpaga.servizi.rai.it/utility/comunica.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>